$headerFont: 'Gotham Pro', sans-serif;
$mainFont: 'Proxima Nova', sans-serif;


$greyLineColor: #d7d6d6;
$greyTextColor: #9a9999;


$redColor: #db0001;
$blueColor: #162e46;
$yellowColor: #f3953a;


$footerHeight: 360px;
