.text-page.long
	.text-page__section
		h3.title-text
			| Wir bieten unseren Kunden den Service in Sachen Ausgabe der Bankkarten Visa und MasterCard.
		p
			| Jede Zahlungsart schließt Bankkarten als eine Zahlungsmethode ein, daher sind sie für jedes Geschäft von besonders großer Bedeutung.
			br
			| Internationale Systeme Visa und MasterCard dominieren die Ausgabe der Bankkarten und bieten eine umfassende Abdeckung wie auch einen exzellenten Service weltweit an.
	h2 Services von Fintech Finance
	.img-right
		img(src='/img/img_card.png?ver1.0', alt='')
	ul.list-text
		li.list-text__item
			| Schnelle Abwicklung und Ausgabe der Bankkarten Visa und MasterCard unter eigenem Markennamen;
		li.list-text__item
			| der Preis für Komplexservices bei Kartenprogrammen White Lable beträgt 10.000 Euro.
		li.list-text__item effektive moderne Lösungen;
		li.list-text__item Zusammenarbeit mit führenden Banken der EU;
		li.list-text__item
			| der Preis für Komplexservices bei Kartenprogrammen White Lable beträgt 10.000 Euro.
	p
		| YFür Ihre Kunden können Sie einzigartige, leicht erkennbare, individuell entwickelte Bankkarten Visa und MasterCard für einen weltweit komfortablen Service ausgeben.
