
.text-page.long
	.text-page__section
		h3.title-text
			| The service of the prompt issue of Visa and MasterCard cards  is available to all our clients.
		p
			| Any modern payment tool offers bank cards as a method of payment, so it is important to have cards available, including for such settlements.
			br
			| Visa and MasterCard international systems issue the largest number of bank cards, offer wide coverage and quality service worldwide.
	h2 Fintech Finance services
	.img-right
		img(src='/img/img_card.png?ver1.0', alt='')
	ul.list-text
		li.list-text__item prompt processing and issue of Visa and MasterCard under your own brand
		li.list-text__item effective modern solutions
		li.list-text__item cooperation with the leading banks of the European Union
		li.list-text__item
			| price of a comprehensive solution for White Lable card programs starts from 10,000 euros
	p
		| You will be able to issue branded, recognizable, designer Visa and MasterCard cards for your clients for easy use anywhere in the world!
