.text-page.long
	.text-page__section
		h3.title-text
			| El servicio de la emisión operativa de las tarjetas Visa y МasterCard se presta a todos los nuestros clientes.
		p
			| Cualquier herramienta de pago actual propone las tarjetas como un medio de pago, por eso es importante tenerlas, incluso para efectuar semejantes pagos y cobros.
			br
			| Los sistemas internacionales Visa y МasterCard emiten el mayor número de las tarjetas bancarias, ofreciendo la cobertura amplia y servicio de calidad.
	h2 Servicios de Fintech Finance
	.img-right
		img(src='/img/img_card.png?ver1.0', alt='')
	ul.list-text
		li.list-text__item
			| tramitación rápida y emisión de las tarjetas Visa y МasterCard con su propia marca comercial;
		li.list-text__item soluciones actuales eficientes;
		li.list-text__item colaboración con los bancos importantes de la Unión Europea;
		li.list-text__item
			| el precio de la solución compleja del programa White Label para tarjetas constituye de hasta 10.000 euros.
	p
		| Podrá emitir para sus clientes tarjetas con las marcas comerciales reconocidas Visa y МasterCard para el uso cómodo en cualquier punto del mundo!
