.text-page.long
	.text-page__section
		h3.title-text
			| Услуга оперативного выпуска карт Visa и МasterCard предоставляется всем нашим клиентам.
		p
			| Любой современный платежный инструмент предлагает банковские карты как способ платежа, поэтому важно иметь в наличии карты, в том числе и для таких расчетов.
			br
			| Международные системы Visa и МasterCard выпускают наибольшее количество банковских карт, предлагают широкое покрытие во всем мире и качественное обслуживание.
	h2 Услуги Fintech Finance
	.img-right
		img(src='/img/img_card.png?ver1.0', alt='')
	ul.list-text
		li.list-text__item Быстрое оформление и выпуск карт Visa и МasterCard под собственным брендом;
		li.list-text__item эффективные современные решения;
		li.list-text__item сотрудничество с ведущими банками Евросоюза;
		li.list-text__item
			| стоимость комплексного решения по White Lable карточным программам составляет от 10 000 евро.
	p
		| Вы сможете эмитировать для своих клиентов брендированные, узнаваемые, дизайнерские карты Visa и МasterCard для удобного использования в любой точке мира!
