.text-page.long
	.text-page__section.size2
		h3.title-text.long2
			| Ein Geschäft mit Payment Service Provider (PSP) Lizenzen bringt viele Vorteile und Gewinne!
		p
			| Unternehmen brauchen diese Lizenz, da sie für die Bezahllösungen Ihres Unternehmens sowohl in der EU als auch in anderen Ländern der Welt erforderlich ist. Fintech Finance bietet Dienstleistungen für den Erhalt solcher Lizenz oder Verkauf eines fertigen Unternehmens, das bereits mit einem PSP arbeitet.
	.text-page__section.size3
		h2 Dienstleistungen von Fintech Finance
		p.big-text
			| Wenn Sie Ihr eigenes Projekt im Finanzdienstleistungsbereich planen, brauchen Sie eine Payment Service Provider (PSP) Lizenz für die Europäische Union.
			br
			|  Nur mit dieser Lizenz für Zahlungsoperationen können Sie ein beliebiges Zahlungssystem anlegen, inklusive:
		ul.list-text.top2
			li.list-text__item Zahlungssysteme mit verschiedenen Funktionen,
			li.list-text__item Überweisungen
			li.list-text__item Online-Geldbörsen
			li.list-text__item •obile Zahlungen
	.clearfix
		.img-right.position3
			img(src='/img/img_text_3.png?ver1.0', alt='')
		.text-column
			p.big-text Der Inhaber einer PSP-Lizenz hat das Recht auf legale und effiziente:
			ul.list-text.top2
				li.list-text__item Eröffnung von Konten für juristische und physische Personen;
				li.list-text__item Durchführung von Zahlungen durch juristische und physische Personen;
				li.list-text__item Kontoeröffnung für E-Commerce;
				li.list-text__item Ausgabe der Bankkarten MasterCard und Visa
				li.list-text__item Teilnahme am SWIFT-System.
			p.big-text
				| Innerhalb kürzester Zeit erhalten wir für Sie eine Payment Service Provider (PSP) Lizenz und können weiterführende Dienstleistungen wie juristische Beratung und
				br
				| Komplexdienstleistungen anbieten. Zudem können unsere Kunden ein erfolgreiches Zahlungsbusiness mit folgenden Diensten gestalten:
			ul.list-text.top
				li.list-text__item Durchführung internationaler Zahlungen;
				li.list-text__item Bankkarten mit einmaligen Markennamen;
				li.list-text__item Eröffnung eines Bankkontos;
				li.list-text__item Eröffnung der merchant account für E-Commerce;
				li.list-text__item vollständiger Softwareservice für Ihr Zahlungssystem;
				li.list-text__item Mitgliedschaf bei SWIFT.
			p
				| Außer Unterstützung bei der Lizenzzuteilung bietet unser Unternehmen weitere Dienstleistungen,
				br
				| die auf die Steigerung der Effizienz und Rentabilität eines Zahlungsbusiness auf dem internationalen Markt gezielt sind.
	h2 Über die Lizenz
	p
		| Payment Service Provider bietet Dienstleistungen für Online-Zahlungen, die durch verschiedene Bezahlarten getätigt werden. Dazu gehören auch zahlreiche Bankoperationen, inklusive
		br
		| Zahlungen durch unterschiedliche Zahlungssysteme. Erhalten Sie mit uns eine Lizenz und nutzen Sie dieses Systems nonstop zu Ihrem Vorteil.
