.text-page.long
	.text-page__section.size2
		h3.title-text.long2
			| More benefits and profits from business with Payment Service Provider (PSP) licenses!
		p
			| Companies choose this license, as it is required for establishing any payment business in the European Union and other countries. Fintech Finance offers services to obtain a license or sale of a ready-made company, which already successfully works with the PSP.
	.text-page__section.size3
		h2 Fintech Finance services
		p.big-text
			| If you are going to launch your own project of payment business, you need to obtain a Payment Service Provider (PSP) license in the European Union.
			br
			| Only with the license for effecting payments, you can create any payment system, including:
		ul.list-text.top2
			li.list-text__item payment systems with multiple functions
			li.list-text__item remittances
			li.list-text__item e-wallets
			li.list-text__item mobile payments
	.clearfix
		.img-right.position3
			img(src='/img/img_text_3.png?ver1.0', alt='')
		.text-column
			p.big-text PSP license operator has the right to legitimately and efficiently:
			ul.list-text.top2
				li.list-text__item open accounts for legal entities and individuals
				li.list-text__item make payments to legal entities and individuals
				li.list-text__item open trading accounts for e-commerce
				li.list-text__item issue MasterCard and Visa cards
				li.list-text__item be a SWIFT member
			p.big-text
				| We will quickly obtain a Payment Service Provider (PSP) license for you and provide legal advice and comprehensive services.
				br
				| In addition, we are ready to provide the client with everything needed for the establishment of a successful payment business, namely:
			ul.list-text.top
				li.list-text__item conducting international payments
				li.list-text__item bank cards with a unique brand
				li.list-text__item opening a bank account
				li.list-text__item opening merchant accounts for e-commerce
				li.list-text__item full-fledged software for your payment system
				li.list-text__item obtaining SWIFT membership
			p
				| Aside from the licensing assistance, our company provides a range of other services designed to increase efficiency
				br
				| and profitability of payment business of the international format.
	h2 About license
	p
		| Payment Service Provider represents services that support electronic payments conducted in various ways. They include various banking transactions, including payments from various settlement systems.
		br
		| Purchase a license from us and enjoy and benefit from continuous operation of the system to your advantage.
