.text-page.long
	.text-page__section.size2
		h3.title-text.long2
			| От бизнеса с лицензиями Payment Service Provider (PSP) — больше пользы и прибыли!
		p
			| Компании выбирают эту лицензию, так как она необходима для организации любого платежного бизнеса на территории Европейского Союза и других стран мира. Fintech Finance предлагает услуги по получению лицензии или продаже готовой компании, которая уже успешно работает с PSP.
	.text-page__section.size3
		h2 Услуги Fintech Finance
		p.big-text
			| Если вы намерены запустить собственный проект платежного бизнеса, то вам нужно получить
			br
			| лицензию Payment Service Provider (PSP) в Европейском Союзе. Только с помощью лицензии на осуществление платежей можно создать любую платежную систему, в том числе:
		ul.list-text.top2
			li.list-text__item платежные системы с множеством функций
			li.list-text__item денежные переводы
			li.list-text__item электронные кошельки
			li.list-text__item мобильные платежи
	.clearfix
		.img-right.position3
			img(src='/img/img_text_3.png?ver1.0', alt='')
		.text-column
			p.big-text Оператор лицензии PSP имеет право легитимно и качественно:
			ul.list-text.top2
				li.list-text__item открывать счета для юридических и физических лиц
				li.list-text__item производить платежи юридическим и физическим лицам
				li.list-text__item открывать мерчант аккаунт для электронной коммерции
				li.list-text__item выпускать карты MasterCard и Visa
				li.list-text__item быть членом SWIFT
			p.big-text
				| Мы быстро получим для вас лицензию Payment Service Provider (PSP) и предоставим юридическую консультацию и комплексные услуги. Кроме того, мы готовы обеспечить клиента всем необходимым для организации успешного платежного бизнеса, а именно:
			ul.list-text.top
				li.list-text__item осуществление международных платежей
				li.list-text__item банковские карты под уникальным брендом
				li.list-text__item открытие банковского счета
				li.list-text__item открытие мерчант-аккаунтов для электронной коммерции
				li.list-text__item полноценное программное обеспечение для вашей платежной системы
				li.list-text__item получение членства в SWIFT
			p
				| Помимо содействия в лицензировании, наша компания предоставляет ряд других услуг, направленных на повышение эффективности и прибыльности платежного бизнеса международного формата.
	h2 О лицензии
	p
		| Payment Service Provider предоставляет сервисы, обслуживающие электронные платежи, выполняемые разными способами. Среди них — разные банковские операции, в том числе платежи из различных расчетных систем.
		br
		| Приобретайте у нас лицензию и получайте удовольствие и пользу от непрерывной эксплуатации системы в своих интересах.
