<mjml>
	<mj-head>
		{{> head }}
		<mj-title>Регистрация завершена!</mj-title>
	</mj-head>
	<mj-body>
		<mj-container>
			<mj-section>
				<mj-column>

					<mj-image mj-class="logo" src="{{publicUrl}}/img/logo@2x.png"></mj-image>
					<mj-text mj-class="h1">Регистрация завершена!</mj-text>
					<mj-text mj-class="h2">Регистрационные данные</mj-text>

					<mj-text mj-class="label">Авторизоваться</mj-text>
					<mj-text mj-class="bold">{{ email }}</mj-text>

					<mj-text  mj-class="label">Пароль</mj-text>
					<mj-text  mj-class="bold">{{ password }}</mj-text>

					<mj-spacer height="50" />

					<mj-text mj-class="h2">Персональные данные</mj-text>

					<mj-text mj-class="label">Имя</mj-text>
					<mj-text  mj-class="bold">{{ account.first }}</mj-text>

					<mj-text mj-class="label">Фамилия</mj-text>
					<mj-text  mj-class="bold">{{ account.last }}</mj-text>

					<mj-text mj-class="label">Email</mj-text>
					<mj-text  mj-class="bold">{{ account.email }}</mj-text>

					<mj-text mj-class="label">Телефон</mj-text>
					<mj-text  mj-class="bold"> {{ account.phone }} </mj-text>

					{{> footer }}

				</mj-column>
			</mj-section>
		</mj-container>
	</mj-body>
</mjml>
