//- index.pug
extends layout.pug

block title
	title  User cart | Fintech Finanace

block content
	//- .content
	//- 	.wrapper
	//- 		h1
	//- 			| Bank account in Europe
	//- 			br
	//- 			| for legal entities and individuals
	//- 		.box-bank
	//- 			.box-bank__line-title
	//- 				h2.mini-title Opening a bank account for a company
	//- 				p.text-title —  opening within three days
	//- 			ul.list-bank
	//- 				li.list-bank__item
	//- 					.list-bank__logo
	//- 						a(href='#')
	//- 							img(src='/img/logo_bank_1.png?ver1.0', alt='')
	//- 					a.list-bank__title(href='#') KB Komercni Banka (Czech Republic)
	//- 					.line-currency
	//- 						| Currencies: CZK,
	//- 						span.line-currency__active USD
	//- 						| ,
	//- 						span.line-currency__active EUR
	//- 						| , RUB, GBP, CHF, JPY, CAD, SEK
	//- 					form
	//- 						ul.list-radio.for-bank
	//- 							li.list-radio__item
	//- 								label.left
	//- 									input.js-styled(type='radio', name='group1', checked='')
	//- 									span.list-radio__name
	//- 										| Personal presence
	//- 								span.list-bank__ptice € 1 000
	//- 					a.button.top2(href='#') Add to cart
	//- 				li.list-bank__item
	//- 					.list-bank__logo
	//- 						a(href='#')
	//- 							img(src='/img/logo_bank_2.png?ver1.0', alt='')
	//- 					a.list-bank__title(href='#') Ceska Sporitelna (Czech Republic)
	//- 					.line-currency
	//- 						| Currencies: CZK,
	//- 						span.line-currency__active USD
	//- 						| ,
	//- 						span.line-currency__active EUR
	//- 						| , GBP, CHF, JPY, CAD, SEK
	//- 					form
	//- 						ul.list-radio.for-bank
	//- 							li.list-radio__item
	//- 								label.left
	//- 									input.js-styled(type='radio', name='group1', checked='')
	//- 									span.list-radio__name
	//- 										| Personal presence
	//- 								span.list-bank__ptice € 1 000
	//- 					a.button.top2(href='#') Add to cart
	//- 				li.list-bank__item
	//- 					.list-bank__logo
	//- 						a(href='#')
	//- 							img(src='/img/logo_bank_4.png?ver1.0', alt='')
	//- 					a.list-bank__title(href='#') UniCredit Bank (Czech Republic)
	//- 					.line-currency
	//- 						| Currencies: CZK,
	//- 						span.line-currency__active USD
	//- 						| ,
	//- 						span.line-currency__active EUR
	//- 						| , GBP, CHF, JPY, CAD, SEK
	//- 					form
	//- 						ul.list-radio.for-bank
	//- 							li.list-radio__item
	//- 								label.left
	//- 									input.js-styled(type='radio', name='group1', checked='')
	//- 									span.list-radio__name
	//- 										| Personal presence
	//- 								span.list-bank__ptice € 1 000
	//- 							li.list-radio__item
	//- 								label.left
	//- 									input.js-styled(type='radio', name='group1')
	//- 									span.list-radio__name
	//- 										| Remote opening
	//- 								span.list-bank__ptice € 2 000
	//- 					a.button.top2(href='#') Add to cart
	//-
	//-
	//- 		.text-block.text-block_ba
	//- 			p.text-block__title
	//- 				| Account in the European bank provides a lot of benefits to those who intend to conduct their business abroad or open a merchant account for online business. Fintech Finance offers services for opening accounts in Europe and the Czech Republic as a bona fide partner.
	//- 			p.text-block__title2
	//- 				| You can be confident in the right choice of bank with us, as Fintech Finance cooperates only with reliable financial institutions loyal to the foreign clients and ready to offer favorable and comfortable terms of service.
	//- 				br
	//- 				| Fintech Finance cooperates only with reliable banks with excellent reputation in the European Union and the Czech Republic. Our established contacts are at your service!
