.text-page
	p
		| При посещении наших веб-сайтов, запросе информации или размещении заказа в Fintech Finance вы предоставляете нам персональную конфиденциальную информацию. Fintech Finance использует информацию, предоставленную вами о себе, исключительно для внутренних процедур и других записей информации, а также для выполнения ваших запросов или инструкций. Мы с уважением относимся к конфиденциальности ваших данных и не предоставляем такую информацию третьим сторонам, кроме как в степени, необходимой для выполнения ваших заказов или запросов.
	p
		| Если вы предоставляете нам персональную информацию, такую как почтовый адрес, адрес электронной почты, номера телефонов или факса, демографические или клиентские данные, мы не будем раскрывать эту информацию, а также передавать, продавать или раскрывать её любым третьим сторонам без предварительного уведомления и получения от вас согласия, либо если мы не будем обязаны сделать это в силу действующих правовых норм.
	p
		| Данная информация, также как и информация о вашей коммерческой деятельности и операциях будут храниться нами в соответствии с нашими обычными строгими стандартами безопасности и принципами конфиденциальности.
	p
		| Наши веб-сайты могут предоставить средства для регистрации в целях получения расширенных прав доступа или для покупки продуктов или услуг. В случае регистрации вы несете ответственность за сохранение вашего пароля в тайне. Ни при каких обстоятельствах вы не должны сообщать пароль другим лицам. Информация об учетных записях и паролях может сохраняться в куки-файлах. Обратитесь к файлам справки вашего браузера для получения более подробной информации о куки-файлах. Наш веб-сайт использует куки-файлы. Вы можете отключить использование куки-файлов в вашем браузере. Вы соглашаетесь ограждать и возмещать нам любые убытки и ущерб, который мы можем понести в результате нарушения вами данного пункта.
