.text-page.long.text-page_rms
	.text-page__section.size2
		h3.title-text.long2
			| Vorratsgesellschaft ist eine Gesellschaft, die für eine aktive Geschäftstätigkeit zur Verfügung steht und deren Gründungsformalitäten bereits abgeschlossen sind.
		p
			| Fintech Finance bietet vorgegründete Unternehmen in verschiedenen Branchen mit weiterer professioneller Betreuung. Mit uns erreichen Sie Erfolg am schnellsten!
	.text-page__section.size4
		h2 Unser Angebot
		p
			| Wir bieten zum Verkauf fertige Unternehmen, deren Gründungsverlauf abgeschlossen ist und die keine Geschäftstätigkeit aufgenommen haben. Unsere Vorratsgesellschaften sind im Vereinigten Königreich – dem Weltwirtschaftszentrum - gegründet. Warum ausgerechnet Großbritannien? Sein Steuersystem lässt Eigentümer internationaler Firmen gewinnbringende Geschäfte in rechtlichen Rahmen führen.
		p
			| Wir bieten Unternehmen mit der Rechtsform Limited Liability Partnership (LLP) an, die eine Buchhaltungsführung nach britischen Gesetzen vorsieht, befreit jedoch von Steuerzahlungen. Eine Steuerpflicht liegt lediglich bei den Teilnehmer (Partnern) einer LLP. Dies ermöglicht die Benutzung einer britischen Partnerschaft als Offshore unter der Bedingung, dass die Partnerschaft aus anderen Offshore-Unternehmen bestehen wird.
	.bottom-text.clearfix
		.img-right.position4
			img(src='/img/img_text_4.png?ver1.0', alt='')
		.text-column
			h2
				| Vorteile einer Zusammenarbeit mit
				br
				| Fintech Finance
			p.big-text Unsere Kunden erhalten:
			ul.list-text.top3
				li.list-text__item 100% sicheres und gewinnbringendes Business;
				li.list-text__item
					| Möglichkeit einer sofortigen Geschäftsaufnahme nach dem Abschluss des Gründungsverfahrens und dem Erhalt aller Gründungsunterlagen;
				li.list-text__item juristische Adresse in Großbritannien;
				li.list-text__item Eröffnung eines Firmenkontos;
				li.list-text__item Professionelle juristische Betreuung.
			p
				| Ohne zusätzliche Finanzausgaben haben Sie die Möglichkeit, ein fertiges, erfolgreiches Business im Vereinigten Königreich zu bekommen!
