.text-page.long.text-page_rms
		.text-page__section.size2
			h3.title-text.long2
				| Ready-made offshore company is a ready-made business for those who want to quickly start operations without spending efforts on practical arrangements.
			p
				| Fintech Finance offers to acquire a ready-made business in various fields on your choice, followed by professional support. You will quickly achieve the best possible results with us!
		.text-page__section.size4
			h2 Our offer
			p
				| We offer ready-made companies with no record of operation. Our ready-made companies are registered in the UK, the world's financial center. Why the UK? The taxation system in this country allows the owners of international companies to operate profitable business within the law.
			p
				| We offer companies arranged as a Limited Liability Partnership (LLP), which provides accounting in accordance with English law but tax-exempt. The obligation to pay taxes only occurs in the participants (LLP partners), which makes it possible to use English partnership as the offshore, provided that partners are offshore companies.
		.bottom-text.clearfix
			.img-right.position4
				img(src='/img/img_text_4.png?ver1.0', alt='')
			.text-column
				h2
					| Advantages of cooperation with
					br
					| Fintech Finance
				p.big-text Our clients get:
				ul.list-text.top3
					li.list-text__item 100% safe and profitable business
					li.list-text__item
						| ability to begin operations immediately upon receipt of the ready-made package of approval and constituent documents
					li.list-text__item provision of a registered office in Great Britain
					li.list-text__item opening a corporate bank account
					li.list-text__item professional legal support
				p
					| You can get a ready-made successful business registered in the UK without additional investments!
