.text-page.long.text-page_rms
	.text-page__section.size2
		h3.title-text.long2
			| La compañía offshore previamente constituida es el negocio preparado para los que desean empezar rápidamente la actividad operacional sin gastar esfuerzos para las cuestiones de organización.
		p
			| Fintech Finance ofrece adquirir a su elección un negocio preparado en diversas orientaciones con el acompañamiento profesional posterior. ¡Con nosotros obtendrá máximos resultados!
	.text-page__section.size4
		h2 Nuestra oferta
		p
			| Proponemos compañías previamente constituidas sin la historia de la actividad económica. Nuestras compañías previamente constituidas están registradas en Gran Bretaña, centro financiero mundial. ¿Por qué Gran Bretaña? El sistema tributario en este país permite que los propietarios de las compañías internacionales lleven a cabo el negocio exitoso dentro del marco de la legislación.
		p
			| Proponemos compañías con la forma legal de organización de Limited Liability Partnership (LLP) que prevé la realización de la contabilidad de conformidad con las leyes inglesas, pero con la liberación del pago de impuestos. La obligación de pagar impuestos surge solamente para participantes (socios de LLP), lo que permite usar a socios ingleses como offshore, siempre y cuando los socios serán las compañías offshore.
	.bottom-text.clearfix
		.img-right.position4
			img(src='/img/img_text_4.png?ver1.0', alt='')
		.text-column
			h2
				| Ventajas de la colaboración con
				br
				| Fintech Finance
			p.big-text Nuestros clientes reciben:
			ul.list-text.top3
				li.list-text__item el negocio seguro y provechoso al 100 %;
				li.list-text__item
					| oportunidad de empezar la actividad inmediatamente después de recibir el paquete preparado de los documentos de autorización y constitución;
				li.list-text__item obtención del domicilio jurídico en Gran Bretaña;
				li.list-text__item apertura de la cuenta corriente de la compañía;
				li.list-text__item acompañamiento jurídico profesional
			p
				| Sin hacer inversiones financieras adicionales usted podrá recibir el negocio exitoso preparado, registrado en Gran Bretaña!
