.text-page.long.text-page_rms
	.text-page__section.size2
		h3.title-text.long2
			| Готовая компания — это готовый бизнес для тех, кто хочет быстро приступить к операционной деятельности, не затрачивая усилия на организационные вопросы.
		p
			| Fintech Finance предлагает на выбор приобрести готовый бизнес в разных направлениях с последующим профессиональным сопровождением. С нами вы быстро достигнете лучших из возможных результатов!
	.text-page__section.size4
		h2 Наше предложение
		p
			| Мы предлагаем готовые компании без истории ведения хозяйственной деятельности. Наши готовые компании зарегистрированы в Великобритании — мировом финансовом центре. Почему Великобритания? Система налогообложения в этом государстве позволяет владельцам международных компаний вести выгодный бизнес в рамках законодательства.
		p
			| Мы предлагаем компании с организационно-правовой формой Limited Liability Partnership (LLP), предусматривающей ведение бухгалтерской отчетности согласно английским законам, но освобожденной от уплаты налогов. Обязанность платить налоги возникает только у участников (партнеров LLP), что делает возможным использовать английское партнерство как офшор при условии, что партнерами будут офшорные компании.
	.bottom-text.clearfix
		.img-right.position4
			img(src='/img/img_text_4.png?ver1.0', alt='')
		.text-column
			h2
				| Преимущества сотрудничества с
				br
				| Fintech Finance
			p.big-text Наши клиенты получают:
			ul.list-text.top3
				li.list-text__item 100% безопасный и выгодный бизнес;
				li.list-text__item
					| возможность приступить к деятельности сразу после получения готового пакета разрешительных и учредительных документов;
				li.list-text__item предоставление юридического адреса в Великобритании;
				li.list-text__item открытие расчетного счета компании;
				li.list-text__item профессиональное юридическое сопровождение
			p
				| Без дополнительных финансовых вложений вы сможете получить готовый успешный бизнес, зарегистрированный в Великобритании!
