p Als verantwortungsbewusstes Unternehmen garantiert Fintech Finance Consulting LTD, dass es geltenden Branchenstandards entspricht und diese einhält. Wir legen großen Wert auf feste Beziehungen zu unseren Kunden und sind stolz darauf, dass wir Wünsche und Ziele jedes Kunden bis ins kleinste Detail berücksichtigen und maßgeschneiderte Lösungen anbieten.

p Zusätzlich zum Aufbau einer starken Beziehung zu den Kunden befolgen wir die Gesetze zur Verhinderung von Geldwäsche, um dadurch Aktiva unserer Kunden zu schützen und ihnen erstklassige Beratungsdienstleistungen zu gewähren.

p Um Dienstleistungen auf hohem Niveau zu erbringen und gleichzeitig unserer Verpflichtung zur Einhaltung der einschlägigen Vorschriften zur Geldwäscherei nachzukommen, bitten wir unsere Kunden uns folgende notariell beglaubigte und apostillierte Dokumente und Unterlagen vorzulegen:

p
	| - Personalausweis
	br
	| - Wohnsitznachweis

p Mit jedem unserer Kunden wird ein Vertrag über das Erbringen von Beratungsleistungen unterzeichnet. 
