p As a responsible company, Fintech Finance Consulting LTD guarantees that it is in full compliance with all applicable industry standards. We focus on strong relationships with our clients and are proud of our ability to serve each client according to their specific needs and objectives.

p In addition to building great relationships with the clients, we also comply with the relevant laws against money laundering, which allows us to protect our clients’ assets and provide them with first-class consulting services.

p To balance the issue of the provision of services to our clients and comply with policies against money laundering, we require our clients to provide us with the following notarized and apostilled documents:

p
	| - Identification document
	br
	| - Proof of residency

p A contract for the provision of consulting services is signed with each client.
