p As a responsible company, Fintech Finance Consulting LTD guarantees to be in full compliance with all applicable industry standards. We focus on strong relationships with our customers and are proud of our ability to serve each customer according to their specific needs and goals.

p In addition to building great relationships with customers, we also comply with the relevant laws against money laundering, which allows us to protect the assets of our customers and provide them with first-class consulting services.

p To balance the issue of the provision of services to our customers and comply with policies against money laundering, we require our customers to provide us with the following documents, such as (but not limited to)

h5 For the purchase of ready-made companies

ul
	li Identity document (notarized and apostilled copy)

	li Utility bill not older than three months (notarized and apostilled copy)

h5 For the assistance in opening accounts

ul
	li Identity document (notarized and apostilled copy)

	li Utility bill not older than three months (notarized and apostilled copy)

	li Power of attorney for the account opening certified by the consulate of the Czech Republic (for remote opening of accounts in the Czech Republic) – physical copy

	li Power of attorney for the account opening certified by a notary of your place of residence (for remote opening of accounts in Poland) – physical copy

p A physical contract for the provision of consulting services is signed with each client.
