p Como una compañía responsable, Fintech Finance Consulting Limited garantiza que está funcionando de conformidad completa con todos los estándares aplicados en el ramo. Nos orientamos a establecer contactos sólidos con nuestros clientes y estamos orgullosos de nuestras capacidades para prestar servicio a cada cliente, partiendo de sus necesidades y propósitos concretos.

p Además de establecer las relaciones perfectas con los clientes, estamos observando también las leyes correspondientes de lucha contra el blanqueo del dinero, lo que nos permite proteger los activos de nuestros clientes y prestarles los servicios de consultoría de primera clase.

p Con la finalidad de equilibrar la cuestión de la prestación de los servicios a nuestros clientes y a la vez corresponder a la política de lucha contra el blanqueo del dinero exigimos que nuestros clientes nos presenten los siguientes documentos (pero no limitados con ello)

h5 Para la compra de las compañías previamente constituidas

ul
	li Documento de identidad (copia certificada notarialmente y apostillada)

	li Factura de pago de los servicios comunales que no excede de los tres últimos meses (copia certificada notarialmente y apostillada)

h5 Para prestar servicios de ayuda en la apertura de las cuentas

ul
	li Documento de identidad (copia certificada notarialmente y apostillada)

	li Factura de pago de los servicios comunales que no excede de los tres últimos meses (copia certificada notarialmente y apostillada)

	li Ejemplar físico del Poder para la apertura de la cuenta, certificado en el Consulado de Chequia (para la apertura remota de las cuentas en Chequia)

	li Ejemplar físico del Poder para la apertura de la cuenta, certificado por el notario de su domicilio (para la apertura remota de las cuentas en Polonia)

p Con cada Cliente se firmará un contrato físico sobre la prestación de los servicios de consultoría.
