p Как ответственная компания,Fintech Finance Consulting LTD гарантирует, что находится в полном соответствии со всеми применимыми отраслевыми стандартами. Мы ориентируемся на прочные отношения с нашими клиентами и гордимся нашими способностями обслуживать каждого клиента в соответствии с их конкретными потребностями и целями.

p В дополнение к построению отличных отношений с клиентами, мы также соблюдаем соответствующие законы по борьбе с отмыванием денег, что позволяет нам защитить активы наших клиентов и предоставлять им первоклассные консалтинговые услуги.

p Чтобы сбалансировать вопрос оказания услуг нашим клиентам и соответствовать политике против отмывания денежных средств мы требуем от своих клиентов предоставить нам заверенные нотариально и апостилированные документы

p
	| - Удостоверение личности
	br
	| - Доказательство проживания

p С каждым клиентом подписывается договор об оказании  консалтинговых услуг.
