ul.list-sections-faq
	li.list-sections-faq__item.color1
		a.list-sections-faq__link(href='#') Payment Service Provider (PSP)
		ul.list-faq

			li.list-faq__item
				a.list-faq__link(href='#')
					| Wodurch unterscheidet sich eine „kleine“ Payment Service Provider (PSP) Lizenz von einer „vollen“ Payment Service Provider (PSP) Lizenz in Europa?
				.list-faq__drop
					p
						| Mit einer kleinen Payment Service Provider (PSP) Lizenz können eingehende Zahlungen im Laufe eines Kalendermonats in Höhe von 1.500.000 Euro und ausgehende Zahlungen in Höhe von 1.500.000 Euro bearbeitet werden.
						br
						| ABei einer vollen Payment Service Provider (PSP) Lizenz ist die Anzahl von Zahlungen unbeschränkt.
						br
						| 6) Wenn Sie bei uns das Unternehmen mit der bestehenden Payment Service Provider (PSP)-Lizenz kaufen, können Sie sie mit unserer Hilfe gegen eine  30 000 Euro-Zuzahlung erweitern.
						br
						| Die Leistungsfrist beträgt über 3 Monate.


			li.list-faq__item
				a.list-faq__link(href='#')
					| Wie hoch sind die monatlichen Servicegebühren für ein Unternehmen mit einer Payment Service Provider (PSP) Lizenz?
				.list-faq__drop
					p
						| Leistungsentgelte, die buchhalterische Abrechnungen und Berichte für die Nationale Bank Tschechiens einschließen, betragen 2.000 Euro pro Monat.


			li.list-faq__item
				a.list-faq__link(href='#')
					| Unter welchen Zinskonditionen kann ein Unternehmen mit einer Payment Service Provider (PSP) Lizenz ein Händlerkonto bei den Banken anlegen?
				.list-faq__drop
					p
						| Ein Unternehmen mit der Payment Service Provider (PSP) Lizenz kann ein Händlerkonto bei den EU-Banken mit einem Zinssatz von 0,5% Prozent und ohne Versicherungsbeitrag anlegen.
						br
						| Für diese Zwecke haben wir exklusive Bedienungskonditionen an den Banken Tschechiens.


			li.list-faq__item
				a.list-faq__link(href='#')
					| Gewähren Sie einen Nominalservice für Unternehmen mit einer Payment Service Provider (PSP) Lizenz?
				.list-faq__drop
					p
						| Ja, wir bieten einen Nominalservice für diese Unternehmen an. Bedingungen und Preise sind individuell verhandelbar.



			li.list-faq__item
				a.list-faq__link(href='#')
					| Wie wird der Kauf eines Unternehmens mit einer Payment Service Provider (PSP) Lizenz abgewickelt?
				.list-faq__drop
					p
						| Der Kauf des Unternehmens verläuft nach einem transparenten Schema.
						br
						| Alle Geldüberweisungen werden über den Treuhandservice eines Notars getätigt, wie beim Kauf einer Immobilie.
						br
						| Wir schließen einen Kaufvertrag, der von einem Notar beglaubigt wird, ab. Gemäß diesem Vertrag überweisen Sie das Geld an den Treuhandservice des Notars. Der Notar reicht Unterlagen zwecks Änderung der Firmeneigentümer ein. Sobald Sie zum offiziellen Eigentümer des Unternehmens werden, wird das Geld an den Verkäufer überwiesen.
						br
						| Die ganze Prozedur dauert eine Stunde am beliebigen Werktag
						//- | Dieser Ablauf beträgt ca. drei Tage.



			li.list-faq__item
				a.list-faq__link(href='#')
					| Kann ein Unternehmen mit einer Payment Service Provider (PSP) Lizenz zum SWIFT-Mitglied werden und welche Vorteile hat diese Mitgliedschaft?
				.list-faq__drop
					p
						| Ja, wenn Ihr Unternehmen über die Payment Service Provider (PSP)-Lizenz verfügt, kann es SWIFT-Mitglied werden.
						br
						| Der Preis für diese Dienstleistung beträgt 35 000 Euro.
						br
						| Die Anschlussfrist beträgt ein halbes Jahr.
					//- p
					//- 	| Ja, als Inhaber einer Payment Service Provider (PSP) Lizenz kann das Unternehmen zum SWIFT-Mitglied werden.
					//- 	br
					//- 	| Sie können ein Korrespondenzkonto bei jeder Bank Europas z.B. bei der Deutschen Bank eröffnen.
					//- 	br
					//- 	| Zudem werden Sie Ihren Kunden individuelle IBAN-Kontonummern zuteilen können.
					//- 	br
					//- 	| Der Preis für diese Dienstleistung beträgt 30.000 Euro.
					//- 	br
					//- 	| Der Anschluss an dieses System beträgt ein halbes Jahr.




			li.list-faq__item
				a.list-faq__link(href='#')
					| Kann das Unternehmen mit der Payment Service Provider (PSP)- Lizenz seinen  Kunden persönliche IBAN-Kontos geben und Korrespondenzkontos eröffnen?
				.list-faq__drop
					p
						| Ja, das Unternehmen mit  der Payment Service Provider (PSP)-Lizenz kann seinen Kunden persönliche  IBAN-Kontos in den Banken geben und Korrespondenzkontos eröffnen.
						br
						| Der Preis für diese Dienstleistung wird individuell bestimmt.


			li.list-faq__item
				a.list-faq__link(href='#')
					| Kann ein Unternehmen mit einer Payment Service Provider (PSP) Lizenz zum VISA- und MasterCard-Mitglied werden und welche Vorteile hat diese Mitgliedschaft?
				.list-faq__drop
					p
						| Ja, die Unternehmen mit einer Payment Service Provider (PSP) Lizenz können zum VISA- und MasterCard-Mitglied werden.
						br
						| Sie erhalten Direktzugänge zu diversen Zahlungsportalen und werden VISA- und MasterCard-Bankkarten selbstständig ausgeben können.
						br
						| Preise für diesen Service sind individuell verhandelbar.





	li.list-sections-faq__item.color2
		a.list-sections-faq__link(href='#') Bankkonto
		ul.list-faq
			li.list-faq__item
				a.list-faq__link(href='#')
					| Wie verläuft die Eröffnung eines Firmenkontos in der Tschechischen Republik (Europa)?
				.list-faq__drop
					p
						| Wir bieten 2 Möglichkeiten zur Eröffnung eines Firmenkontos in der Tschechischen Republik
						br
						| 1) Eröffnung ohne Anwesenheit des Inhabers
						br
						| 2) Eröffnung mit persönlicher Anwesenheit
						br
						| Bei der Wahl der ersten Möglichkeit müssen Sie nicht persönlich nach Tschechien reisen. Wir kümmern uns um alle Formalitäten zur Eröffnung eines Firmenkontos mit Ihrer Vollmacht. Alle erforderlichen Zugangsdaten zum Online-Banking erhalten Sie per DHL.
						br
						| Bei der Wahl der zweiten Möglichkeit müssen Sie nach Tschechien kommen und alle Unterlagen bei der Bank unterschreiben.
						br
						| Dies dauert in der Regel 15 Minuten.
			li.list-faq__item
				a.list-faq__link(href='#') Wie hoch sind die Servicegebühren bei den von euch vorgeschlagenen Banken?
				.list-faq__drop
					p
						a(target="_blank", href="/ceska_sporitelna.pdf") Ceska Sporitelna


	li.list-sections-faq__item
		a.list-sections-faq__link(href='#') Merchant-Account
		ul.list-faq
			li.list-faq__item
				a.list-faq__link(href='#') Wie wird das Merchant-Account für einen Einzelhändler aktiviert?
				.list-faq__drop
					p
						| Nach der Bezahlung dieser Dienstleistung und Abstimmung aller Unterlagen und Anforderungen an die Webseite seitens des Zahlungsanbieters oder einer Bank dauert die Eröffnung eines Merchant-Accounts ca. eine Woche.
			li.list-faq__item
				a.list-faq__link(href='#')
					| Wodurch unterscheidet sich ein Merchant-Account, das für Einzelhändler eröffnet wird, von einem Merchant-Account, das für ein Unternehmen mit einer Payment Service Provider (PSP) Lizenz angelegt wird?
				.list-faq__drop
					p
						| Solche Merchant-Account unterscheiden sich durch Servicegebühren bei der Bank und dem Zugangslevel an einem Payment Gateway.
						br
						| Die Gebühr für Einzelhändler beträgt 2% des Umsatzes bei der Einlageversicherung über 5%.
						br
						| Für Zahlungsinstitute beträgt die Gebühr 0,5% des Umsatzes ohne Einlageversicherung


	li.list-sections-faq__item
		a.list-sections-faq__link(href='#') Vorratsunternehmen
		ul.list-faq
			li.list-faq__item
				a.list-faq__link(href='#')
					| Wie verläuft der Kauf eines fertigen Unternehmens LLP im Vereinigten Königreich?
				.list-faq__drop
					p
						| Nach dem Kauf eines Vorratsunternehmens LLP im Vereinigten Königreich erfolgt die Zustellung der Gründungsurkunden durch DHL innerhalb von 3 Tagen.


	li.list-sections-faq__item
		a.list-sections-faq__link(href='#') Versand &amp; Lieferung
		ul.list-faq

			li.list-faq__item
				a.list-faq__link(href='#') Lieferung beim Kauf einer Vorratsgesellschaft
				.list-faq__drop
					p Die Lieferung der von Ihnen gekauften Vorratsgesellschaft erfolgt per DHL kostenlos weltweit innerhalb von drei Tagen nach dem Kauf

			li.list-faq__item
				a.list-faq__link(href='#') Lieferung beim Kauf einer Vorratsgesellschaft und Eröffnung eines Geschäftskontos mit persönlicher Anwesenheit bei der Bank in Tschechien oder Polen
				.list-faq__drop
					p Der Kunde erhält die gekaufte Vorratsgesellschaft persönlich von unserem Mitarbeiter, wenn er nach Polen oder Tschechien zur Eröffnung eines Geschäftskontos reist

			li.list-faq__item
				a.list-faq__link(href='#') Lieferung beim Kauf einer Vorratsgesellschaft und Eröffnung eines Geschäftskontos durch einen Vertreter bei den Banken Tschechiens und Polens
				.list-faq__drop
					p Eine Vorratsgesellschaft, die bei uns gekauft wurde, wie auch Zugang zum Internet-Banking erhält der Kunde per DHL nach der Eröffnung eines Bankkontos. Kostenlose weltweite Lieferung
