ul.list-sections-faq
	li.list-sections-faq__item.color1
		a.list-sections-faq__link(href='#') Payment Service Provider (PSP)
		ul.list-faq
			li.list-faq__item
				a.list-faq__link(href='#')
					| What is the difference between a Payment Service Provider (PSP) small license and a Payment Service Provider (PSP) full license in Europe?
				.list-faq__drop
					p
						| A Payment Service Provider (PSP) small license allows to handle incoming payments in the amount of 1,500,000 euros and outgoing payments in the amount of 1,500,000 euros per a calendar month.
						br
						| A Payment Service Provider (PSP) full license has no limit in the amount of payments processed.
						br
						| In case of purchasing a company with a minor Payment Service Provider (PSP) license from us, you can expand it to a major license with our help and the additional payment of 30,000 euros.
						br
						| Terms of the execution of works start from three months.
			li.list-faq__item
				a.list-faq__link(href='#')
					| How much is a monthly service for a company with a Payment Service Provider (PSP) license?
				.list-faq__drop
					p
						| Monthly service of a company, which includes the delivery of financial statements and reports to the Czech National Bank, amounts to 2,000 euros per month.
			li.list-faq__item
				a.list-faq__link(href='#')
					| What percentage terms are offered for the company with a Payment Service Provider (PSP) license that wants to enable a merchant account in banks?
				.list-faq__drop
					p
						| A company with a Payment Service Provider (PSP) can enable a merchant account in EU banks at an interest rate of 0.5% and no security deposit.
						br
						| We have established exclusive relationships with banks in the Czech Republic regarding this matter.
			li.list-faq__item
				a.list-faq__link(href='#')
					| Do you provide a nominal service for these companies with a Payment Service Provider (PSP) license?
				.list-faq__drop
					p
						| Yes, we do provide a nominal service for these companies. Terms and prices on this matter are discussed individually.
			li.list-faq__item
				a.list-faq__link(href='#')
					| How is the purchase of a company with a Payment Service Provider (PSP) license arranged?
				.list-faq__drop
					p
						| The company is purchased in the absolutely transparent manner.
						br
						| All money transfers are made through the escrow service of a notary, as in the case of property purchase.
						br
						| We conclude a contract of sale and notarize it. According to the contract, you transfer the money to the escrow service of the notary. The notary submits the documents to change the company's owners. Once you have officially become the owner of the company, the payment is transferred to the seller.
						br
						| The entire procedure takes one hour on any business day.




			li.list-faq__item
				a.list-faq__link(href='#')
					| Can a company with a Payment Service Provider (PSP) license become a SWIFT member? What benefits does it provide?
				.list-faq__drop
					p
						| Yes, a company may become a SWIFT member if it holds a Payment Service Provider (PSP) license.
						br
						| Price for this service is 35,000 euros.
						br
						| Connection time is six months.
						//- | Yes, as a Payment Service Provider (PSP) license holder, the company can become a SWIFT member.
						//- br
						//- | You will be able to open correspondent accounts in any bank in Europe – for example, in Deutche Bank.
						//- br
						//- | You will also be able to assign personal IBAN accounts to your clients.
						//- br
						//- | The price for this service is 30,000 euros. Execution time is six months.



			li.list-faq__item
				a.list-faq__link(href='#')
					| Can a company with a Payment Service Provider (PSP) license become a VISA and MasterCard member? What benefits does it provide?
				.list-faq__drop
					p
						| Yes, the company with a Payment Service Provider (PSP) license can become a VISA and MasterCard member.
						br
						| You will have direct access to payment gateways and will be able to independently issue VISA and MasterCard cards.
						br
						| Prices for this service are determined individually.

			li.list-faq__item
				a.list-faq__link(href='#')
					| Can a company with a Payment Service Provider (PSP) license assign personal IBAN accounts to its customers and open correspondent accounts in banks?
				.list-faq__drop
					p
						| Yes, the company with a Payment Service Provider (PSP) license can assign personal IBAN accounts to its customers and open correspondent accounts in banks.
						br
						| Price for this service is customized.




	li.list-sections-faq__item.color2
		a.list-sections-faq__link(href='#') Bank Account
		ul.list-faq
			li.list-faq__item
				a.list-faq__link(href='#') How is my company's bank account opened in the Czech Republic (Europe)?
				.list-faq__drop
					p
						| We offer 2 options of opening an account for your company in the Czech Republic
						br
						| 1) remote opening
						br
						| 2) opening in personal presence
						br
						| If you choose the first option, you do not need to travel to the Czech Republic, we make all the steps to open an account for your company by proxy. You receive all the access credentials to online banking by DHL delivery.
						br
						| If you choose the second option, you need to come to the Czech Republic and sign the documents in the bank. Signing the documents takes 15 minutes
			li.list-faq__item
				a.list-faq__link(href='#') What are the rates for services in the banks you offer?
				.list-faq__drop
					p
						a(target="_blank", href="/ceska_sporitelna.pdf") Ceska Sporitelna
	li.list-sections-faq__item
		a.list-sections-faq__link(href='#') Merchant Account
		ul.list-faq
			li.list-faq__item
				a.list-faq__link(href='#') How is a merchant account for the retailer enabled?
				.list-faq__drop
					p
						| After we have received a payment for this service and agreed on all necessary documents and requirements to the website by the processing company or the bank, it takes about a week to enable the merchant account.
			li.list-faq__item
				a.list-faq__link(href='#')
					| What is the difference between a merchant account you open for retailers and a merchant account you open for companies with a Payment Service Provider (PSP) license?
				.list-faq__drop
					p
						| Such merchant accounts differ by the maintenance interest rate and the level of access to a payment gateway.
						br
						| Fee for retailers starts from 2% with the insurance deposit of 5% from the turnover.
						br
						| Fee for payment institutions is 0.5% from the turnover, with the absence of insurance deposit.
	li.list-sections-faq__item
		a.list-sections-faq__link(href='#') Ready-Made companies
		ul.list-faq
			li.list-faq__item
				a.list-faq__link(href='#') How is a ready-made UK LLP company acquired?
				.list-faq__drop
					p
						| DHL delivers the documents to the client within 3 days after the payment of the ready-made UK LLP company.


	li.list-sections-faq__item
		a.list-sections-faq__link(href='#') Delivery
		ul.list-faq

			li.list-faq__item
				a.list-faq__link(href='#') Delivery when you buy a ready-made company
				.list-faq__drop
					p A ready-made company that you have purchased is delivered worldwide free by DHL within three days after purchase

			li.list-faq__item
				a.list-faq__link(href='#') Delivery when you buy a ready-made company and open an account in person at a bank in the Czech Republic or Poland for it
				.list-faq__drop
					p The client receives a ready-made company purchased from us in person from our staff member upon arrival to Poland or the Czech Republic to open a bank account

			li.list-faq__item
				a.list-faq__link(href='#') Delivery when you buy a ready-made company and open an account remotely in the banks of the Czech Republic and Poland for it
				.list-faq__drop
					p A ready-made company purchased from us and access to online banking are delivered to the client by DHL after opening an account in the bank. Delivery worldwide is free
