ul.list-sections-faq
		li.list-sections-faq__item.color1
			a.list-sections-faq__link(href='#') Payment Service Provider (PSP)
			ul.list-faq


				li.list-faq__item
					a.list-faq__link(href='#')
						| Чем отличается малая лицензия Payment Service Provider (PSP) от полной лицензии Payment Service Provider (PSP) в Европе?
					.list-faq__drop
						p
							| Малая лицензия Payment Service Provider (PSP) в течение календарного месяца позволяет обрабатывать входящие платежи на сумму 1 500 000 евро и исходящие платежи на сумму 1 500 000 евро.
							br
							| Полная лицензия Payment Service Provider (PSP) не предусматривает ограничений количества обработанных платежей.
							br
							| Приобретая у нас компанию с малой лицензией Payment Service Provider (PSP), вы сможете расширить ее до полной лицензии с нашей помощью с дополнительной оплатой 30 000 евро.
							br
							| Срок исполнения работ составляет от трех месяцев


				li.list-faq__item
					a.list-faq__link(href='#')
						| Сколько стоит ежемесячное обслуживание компании с лицензией Payment Service Provider (PSP)?
					.list-faq__drop
						p
							| Ежемесячное обслуживание компании, которое включает в себя сдачу бухгалтерской отчетности и отчетов в Чешский Национальный Банк, составляет 2 000 евро в месяц.



				li.list-faq__item
					a.list-faq__link(href='#')
						| На каких процентных условиях компания с лицензией Payment Service Provider (PSP) может подключить мерчант-аккаунт в банках?
					.list-faq__drop
						p
							| Компания с лицензией Payment Service Provider (PSP) может подключить мерчант-аккаунт в банках ЕС при процентной ставке от 0,5% и без страхового депозита.
							br
							| В этом вопросе у нас установлены эксклюзивные отношения с банками в Чешской Республике.



				//- li.list-faq__item
				//- 	a.list-faq__link(href='#')
				//- 		| Предоставляете ли вы номинальный сервис на данные компании с лицензией Payment Service Provider (PSP)?
				//- 	.list-faq__drop
				//- 		p
				//- 			| Да, мы предоставляем номинальный сервис на данные компании. Условия и цены по данному вопросу обсуждаются индивидуально.




				li.list-faq__item
					a.list-faq__link(href='#') Как происходит покупка компании с лицензией Payment Service Provider (PSP)?
					.list-faq__drop
						p
							| Покупка компании происходит по абсолютно прозрачной схеме.
							br
							| Все перечисления денег происходят через эскроу-сервис нотариуса, как и при покупке недвижимости.
							br
							| Мы заключаем договор купли-продажи, заверяя его у нотариуса. Согласно договору вы перечисляете деньги на эскроу-сервис нотариуса. Нотариус подает документы на изменение собственников компании. Как только собственником компании официально становитесь вы, оплата перечисляется продавцу.
							br
							| Вся процедура занимает один час в любой бизнес день.








				li.list-faq__item
					a.list-faq__link(href='#')
						| Может ли компания с лицензией Payment Service Provider (PSP) стать членом SWIFT, и какие это дает преимущества?
					.list-faq__drop
						p
							| Да, являясь владельцем лицензии Payment Service Provider (PSP), компания может стать членом SWIFT.
							br
							| Цена на данную услугу составляет 35 000 евро. Срок подключения составляет полгода.




				li.list-faq__item
					a.list-faq__link(href='#')
						| Может ли компания с лицензией Payment Service Provider (PSP) стать членом VISA и MasterCard и какие это дает преимущества?
					.list-faq__drop
						p
							| Да, компания с лицензией Payment Service Provider (PSP) может стать членом VISA и MasterCard.
							br
							| Вы получите прямые доступы к платежным шлюзам и сможете самостоятельно эмитировать карты VISA и MasterCard.
							br
							| Цены на данную услугу определяются в индивидуальном порядке.




				li.list-faq__item
					a.list-faq__link(href='#') Может ли компания с лицензией Payment Service Provider (PSP) давать своим клиентам персональные счета IBAN и открывать корреспондентские счета в банках?
					.list-faq__drop
						p Да, компания с лицензией Payment Service Provider (PSP) может давать своим клиентам персональные IBAN счета и открывать корреспондентские счета в банках. Цена на данную услугу определяется в индивидуальном порядке.


		li.list-sections-faq__item.color2
			a.list-sections-faq__link(href='#') Банковский счет
			ul.list-faq
				li.list-faq__item
					a.list-faq__link(href='#')
						| Как происходит открытие банковского счета моей компании в Чешской Республике или Польше?
					.list-faq__drop
						p
							| Мы предлагаем 2 варианта открытия счета для вашей компании в Чешской Республике или Польше
							br
							| 1) дистанционное открытие
							br
							| 2) открытие при личном присутствии
							br
							| При выборе первого варианта Вам не нужно самому ездить в Чешскую Республику или Польшу,все действия по открытию счета для вашей компании проводим мы по доверенности .Вы получаете все доступы к интернет-банкингу доставкой DHL.
							br
							| При выборе второго варианта вы должны приехать в Чешскую Республику или Польшу и подписать документы в банке.
							br
							| Подписание документов занимает 15 минут.
				li.list-faq__item
					a.list-faq__link(href='#') Какие тарифы на обслуживание в предлагаемых вами банках?
					.list-faq__drop
						p
							a(target="_blank", href="/ceska_sporitelna.pdf") Ceska Sporitelna

		li.list-sections-faq__item
			a.list-sections-faq__link(href='#') Мерчант аккаунт
			ul.list-faq
				li.list-faq__item
					a.list-faq__link(href='#') Как происходит подключение мерчант-аккаунта для розничного торговца?
					.list-faq__drop
						p
							| После получения нами оплаты за данную услугу и согласования всех необходимых документов и требований к сайту со стороны процессинговой компании или банка подключение мерчант-аккаунта занимает по времени примерно неделю.
				li.list-faq__item
					a.list-faq__link(href='#')
						| Чем отличается мерчант-аккаунт, который вы открываете для розничных торговцев, от мерчант-аккаунта, который вы открываете для компаний с лицензией Payment Service Provider (PSP)?
					.list-faq__drop
						p
							| Такие мерчант-аккаунты отличаются процентной ставкой на обслуживание и уровнем доступа к платежному шлюзу.
							br
							| Комиссия для розничных торговцев с оборота составляет от 2% при страховом депозите от 5% .
							br
							| Для платежных институтов комиссия с оборота от 0,5% при отсутствии страхового депозита.

		//-
		//- li.list-sections-faq__item
		//- 	a.list-sections-faq__link(href='#') Готовые компании
		//- 	ul.list-faq
		//- 		li.list-faq__item
		//- 			a.list-faq__link(href='#') Как происходит покупка готовой компании UK LLP?
		//- 			.list-faq__drop
		//- 				p
		//- 					| После оплаты готовой компании UK LLP доставку документов клиенту осуществляет компания DHL в течение 3 дней.



		li.list-sections-faq__item
			a.list-sections-faq__link(href='#') Доставка
			ul.list-faq

				li.list-faq__item
					a.list-faq__link(href='#') Доставка при покупке готовой компании
					.list-faq__drop
						p Доставка купленной вами готовой компании осуществляется по всему миру компанией DHL по всему миру бесплатно в течении трех дней после покупки

				li.list-faq__item
					a.list-faq__link(href='#') Доставка при покупке готовой  компании и открытии на нее счета при личном присутствии в банке в Чехии или Польше
					.list-faq__drop
						p Готовую компанию,купленную у нас клиент получает лично у нашего сотрудника,когда приедет в Польшу или Чехию для открытия счета в банке

				li.list-faq__item
					a.list-faq__link(href='#') Доставка при покупке готовой компании и открытии на нее счета дистанционно в банках Чехии и Польши
					.list-faq__drop
						p Готовую компанию,купленную у нас и доступы в интернет-банк клиент получает доставкой DHL после открытия счета в банке.Доставка по всему миру бесплатная
