.text-page.long
	h3.title-terms 1. BEGRIFFSDEFINITION
	ul.list-terms
		li.list-terms__item
			| “Fintech Finance” bezieht sich auf  Fintech Finance Consulting Ltd (Registered No. 10417470, Registered address: 71-75 Shelton Street, Covent Garden,London,WC2H 9JQ) und jede seiner Zweigstellen, Handelsvertreter oder Beteiligungsgesellschaften weltweit sowie auch seine Direktoren, Handlungsbevollmächtigte, Mitarbeiter, Berater, Repräsentanten und Rechtsnachfolger.
		li.list-terms__item
			| “Handelsbevollmächtigte von Fintech Finance” beziehen sich auf jede Person (wie nachfolgend definiert), jede Firma oder jedes Unternehmen, die bei Fintech Finance ernannt sind und welche zeitweise als Direktor, stellvertretender Direktor, Sekretär, stellvertretender Sekretär, Teilhaber, Rechnungsführer, Treuhänder, Bevollmächtigter, Protektor, Bankbevollmächtigter, registrierter Vertreter, Administrator, Anbieter des eingetragenen Firmensitzes oder der Firmenadresse der Rechtsperson (wie nachfolgend definiert) eingesetzt werden.
		li.list-terms__item
			| “Kunde” bezieht sich auf den(die) wirtschaftlichen Eigentümer der Rechtsperson (wie nachfolgend definiert) und/oder jede Person, welche die Bereitstellung der Services angefordert hat oder welche zuvor für die Services gezahlt hat und/oder jede Person im Namen deren oder für welche Services erbracht werden müssen, inklusive der Person(en), die den Kunden (bevollmächtigte Peron(en) wie nachfolgend definiert) vertreten können und im Falle, dass mehr als eine Person als Bevollmächtigter auftritt.
		li.list-terms__item
			| “Bevollmächtigte Person” bezieht sich auf die Person, die im Namen und mit Vollmacht des Kunden Weisungen an Fintech Finance erteilen darf, als ob diese vom Kunden selbst gegeben wären.
		li.list-terms__item
			| “Person” ist jede natürliche oder juristische Person, Organisation, Unternehmen oder sonstige Körperschaft mit oder ohne eigene Rechtspersönlichkeit.
		li.list-terms__item
			| “Rechtsperson” ist jedes Unternehmen, Trust, Teilhaberschaft, Stiftung oder jede andere Rechtsperson, die von Fintech Finance im Namen oder im Auftrag des Kunden gegründet und/oder verwaltet wird.
		li.list-terms__item
			| “Services” beziehen sich auf jedes Unternehmen, Trust, Teilhaberschaft, Stiftung oder jede andere Rechtsperson, Bereitstellung des eingetragenen Firmensitzes, registrierte Vertreter, Company Secretary, Direktor, Handlungsbevollmächtigte, Gesellschafter, Führung der Unternehmensaufzeichnungen und Bücher, Vorbereitung und Erstellung der Finanzberichte und jährlicher Steuererklärungen und/oder Management- und Verwaltungsservices wie auch sonstige Services, die vom Kunden angefordert werden aufgrund der Leistungsverzeichnisses von Fintech Finance oder Informationen in den Werbematerialien von Fintech Finance wie auch auf ihren Webseiten und/oder jeden anderen Service(s), der vom Kunden angefordert/angefragt oder akzeptiert wird.
		li.list-terms__item
			| “Gebührenplan” bedeutet einen Gebührenplan für Dienstleistungen, die von Zeit zu Zeit von Fintech Finance angeboten werden;
		li.list-terms__item
			| “Geschäftstag” ist ein Tag an dem Fintech Finance geöffnet ist und seine Geschäfte führt;
		li.list-terms__item
			| “Allgemeine Geschäftsbedingungen” (AGB) bezeihen sich auf diese Allgemeine Geschäftsbedingungen oder ihre neue Fassung, die von Zeit zu Zeit auf der Webseite von Fintech Finance veröffentlicht wird und sollen als solche betrachtet werden, die die Änderungen enthalten, auf die der Kunde von Zeit zu Zeit durch Fintech Finance hingewiesen wird oder welche auf den Webseiten von Fintech Finance veröffentlicht werden. Diese Allgemeinen Geschäftsbedingungen gelten für alle Kunden von Fintech Finance und stellen somit einen rechtsverbindlichen Vertrag zwischen dem Kunden und Fintech Finance dar.
		li.list-terms__item
			| “Webseite” oder “Seite” ist die Webseite, durch die Sie blättern, indem Sie auf den Link zu diesen Allgemeinen Geschäftsbedingungen inklusive aller Unterseiten klicken.
	h3.title-terms
		| 2. NICHT AKZEPTIERBARE GESCHÄFTE UND GESCHÄFTE, DIE EINE SPEZIELLE BEWILLIGUNG ERFORDERN
	ul.list-terms
		li.list-terms__item
			| “Illegale Aktivitäten” beziehen sich auf jede Aktivität, die weltweit als illegal oder kriminell bezeichnet wird einschließlich Aktivitäten, die mit Terrorismus, Drogenhandel, Geldwäsche, Einnahmen aus kriminellen Machenschaften oder Handel mit den Ländern, über welche ein Embargo durch den Sicherheitsrat der Vereinten Nationen oder die Europäische Union oder ähnliche internationale Organisationen verhängt worden ist.
		li.list-terms__item
			| “Verbotene Aktivitäten” sind Aktivitäten, die gegenwärtig von Fintech Finance nicht gebilligt sind einschließlich solcher Aktivitäten wie: Handel, Vertrieb und Herstellung von Waffen und Munition; Söldner; Ausrüstung, die bei Ausschreitungen verwendet wird; jedes Gerät, das zum Missbrauch der Menschenrechte oder für Torturen verwendet werden kann; technische Überwachung oder Abhörtätigkeit; Industriespionage; gefährliche oder schädliche biologische, chemische oder nukleare Stoffe einschließlich Maschinen oder Anlagen, die für ihre Herstellung, Handhabe oder Entsorgung verwendet werden; Missbrauch von Tieren oder Tierversuche für wissenschaftliche oder industrielle Zwecke; Genetisches Material; Adoptionsvermittlungsagenturen inklusive Leihmutterschaft; Missachtung der Menschenrechte; Pornografie; Drogenutensilien; Strukturvertriebe; religiöse Sekten und ihre Hilfswerke; Geschäftstätigkeiten, die aufgrund der Gesetze und Vorschriften des Gründungslandes der Rechtsperson einer Lizenzierung unterliegen und welche ohne Lizenzeinholung ausgeübt werden („Lizenzpflichtige Aktivitäten“ wie nachfolgend definiert); jede Aktivität, die nach Auffassung von Fintech Finance seinen Ruf oder den des Gründungslandes der Rechtperson schädigen kann.
		li.list-terms__item
			| “Persona non-grata” bezieht sich auf jede Person, die nach Gesetzen irgendeines Landes für eine rechtswidrige Aktivität auf die schwarze Liste gesetzt wurde oder welche rechtlich als Geschäftspartei ausgeschlossen oder geschäftsunfähig ist; Personen, die nicht rehabilitierte Konkursschuldner sind oder welche inhaftiert oder vorbestraft sind; Regierungsmitglieder oder Politiker; Personen, deren Tätigkeit als betrügerisch oder unlauter in Zivilsachen jeder Art bewiesen wurde oder welche in einem Staat ansässig sind, über welches internationale Sanktionen oder Embargos einschließlich deren vom Sicherheitsrat der Vereinten Nationen, der Europäischen Union oder einer anderen internationalen Organisation verhängt worden sind.
		li.list-terms__item
			| “Lizenzpflichtige Aktivitäten” beziehen sich auf jede Aktivität, die eine Lizenz oder Berechtigung erfordert, welche von einer zuständigen Behörde in der jeweiligen Jurisdiktion erteilt wird. Dazu gehören unter anderem folgende Aktivitäten: Bereitstellung von Finanzdienstleistungen einschließlich der Trading/Brokertätigkeit im Währungshandel, derivative Finanz- und Wareninstrumente und sonstige Wertpapiere; öffentliche Anlageberatung; Versicherungs- und Bankgeschäfte; Durchführung und Verwaltung der kollektiven Kapitalanlagen und Anlagefonds; Dienste zur Zahlungsabwicklung; Geldwechsel, Geldüberweisungsdienste oder Geldbrokerage; Asset Management; Depotservice; Spiele, Glücksspiele und Lotterie.
	h3.title-terms 3. KUNDENANFRAGEN UND ANWEISEUNGEN
	ul.list-terms
		li.list-terms__item
			| Fintech Finance bietet eine Reihe von professionellen Services, unter anderem: Unternehmensgründung; Unternehmensstrukturierung; Verwaltung und Management; Buchhaltungs- und Rechnungsprüfungsdienste; Beratungs- und Consultingservices.
		li.list-terms__item
			| Bei der Erbringung von den Services soll Fintech Finance immer ausschließlich aufgrund der Anfragen und Anweisungen des Kunden und niemals nach eigenem Ermessen handeln, außer in Fällen, wenn kraft zwingender gesetzlicher Regelung anders erforderlich ist.
		li.list-terms__item
			| Fintech Finance muss willens sein, die Anfragen und Anweisungen des Kunden in Betracht zu ziehen und diesen nachzukommen.
		li.list-terms__item
			| Alle Anweisungen oder Anfragen bezüglich der Dienste sollen an Fintech Finance schriftlich übermittelt werden. Bei Vorliegen begründeter Zweifel kann Fintech Finance zusätzliche Angaben zu solcher Anfrage oder Anweisung anfordern. Fintech Finance ist weder verantwortlich noch haftbar für Schäden oder Verluste, die infolge seiner Unterlassung zustande gekommen sind, solange die erforderliche Anweisung oder Anfrage zu seiner Zufriedenheit nicht bestätigt wurde.
		li.list-terms__item
			| Fintech Finance kann nach eigenem Ermessen auf Anfrage oder Anweisung des Kunden handeln, wenn diese nicht schriftlich mitgeteilt wurde. In diesem Fall haftet Fintech Finance für keine Missverständnisse oder Fehler, die im guten Glauben bei Bearbeitung solcher Anfrage oder Anweisung entstanden sind.
		li.list-terms__item
			| Fintech Finance kann es nach eigenem Ermessen ablehnen, jeder Anfrage oder Anweisung seitens des Kunden nachzukommen, wenn diese Anfrage/Anweisung oder ihre Umsetzung nach Ansicht von Fintech Finance unehrlich, fehlerhaft oder böswillig ist oder gegen geltende Gesetze oder Regelungen verstoßt oder wenn Fintech Finance oder seine Handlungsbevollmächtigte einer persönlichen Haftung oder dem Strafverfolgungsrisiko in einer der Jurisdiktionen ausgesetzt sind oder falls die Anweisung oder Anfrage anderweitig illegal ist.
		li.list-terms__item
			| Fintech Finance kann die Bearbeitung einer Anfrage oder Anweisung verweigern, wenn diese nicht vollständig, nicht klar definiert, mehrdeutig, widersprüchlich oder deren Echtheit bestreitbar ist, und ist weder verantwortlich noch haftbar für Schäden oder Verluste, die infolge seiner Unterlassung zustande gekommen sind, bis die betreffenden Mängel zu seiner Zufriedenheit behoben worden sind.
		li.list-terms__item
			| Falls keine grobe Fahrlässigkeit seitens von Fintech Finance vorliegt, trägt der Kunde alle Risiken, die mit Verlusten oder Schäden verbunden sind und welche durch eine Anweisung, Anfrage oder Information, die nicht geschickt oder erhalten wurde oder infolge einer unvollständigen, undeutlichen, unklaren oder fehlerhaften Kommunikation oder auf Ersuchen von dritten Personen, die dazu vom Kunden nicht bevollmächtigt sind, entstanden sind.
		li.list-terms__item
			| Auf seinen Webseiten und in den Werbematerialien kann Fintech Finance Informationen über verschiedene Produkte und Services, die von Fintech Finance angeboten werden, zur Verfügung stellen. Diese Informationen stellen keinen Ersatz für eine spezielle Rechts- oder Steuerberatung dar und sollen nicht als solche angesehen oder vom Kunden genutzt oder als Grundlage verwendet werden. Der Kunde nimmt eine unabhängige Beratung zu allen Fragen in Bezug auf die Rechtsperson oder jegliche Services in Anspruch, welche von Fintech Finance angeboten werden und welche den Kunden und seine persönliche Angelegenheiten betreffen oder beeinflussen können.
	h3.title-terms 4. VERWALTUNG VON RECHTSPERSONEN
	ul.list-terms
		li.list-terms__item
			| Der Kunde stimmt unwiderruflich zu, dass wenn die Rechtsperson eine Gesellschaft mit beschränkter Haftung ist und die Handlungsbevollmächtigten von Fintech Finance Mitglieder oder Direktoren der Gesellschaft sind oder die Rechtsperson eine Personengesellschaft ist und die Handelsbevollmächtigten von Fintech Finance Mitglieder dieser Partnerschaft sind oder die Rechtsperson ein Trust ist und die Handelsbevollmächtigten von Fintech Finance Treuhänder oder Protektoren sind oder die Rechtsperson eine Stiftung ist und die Handelsbevollmächtigten von Fintech Finance Gründer oder Ratsmitglieder sind, soll Fintech Finace wegen Nichtzahlung innerhalb von sechzig (60) Tagen von Fintech-Finance-Gebühren und/oder sonstigen Gebühren, die mit der Rechtperson verbunden sind, ohne Verpflichtung zur vorausgehender Mitteilung an den Kunden Schritte einleiten, die nach eigenem Ermessen erforderlich sind wie etwa und nicht nur: Löschen, Auflösung oder Liquidation der Rechtsperson; Zurücktreten von allen oder einen der Handlungsbevollmächtigten von Fintech Finance; oder Übertragung von allen oder beliebigen Aktien, des Kapitals oder der Assets auf den Namen des Kunden; oder Ernennung des Kunden als Direktor, technischen Direktor, Manager, Teilhaber oder Protektor oder Gründer oder Ratsmitglied der Rechtsperson; oder andere Maßnahmen, die Fintech Finance nach eigenem Ermessen als angebracht hält, ergreifen. /li>
		li.list-terms__item
			| Fintech Finance soll alle Unterlagen und Informationen, die vom Kunden mitgeteilt wurden, geheim halten, es sei denn, eine schriftliche anderslautende Zustimmung vom Kunden vorher erteilt wurde. Diese Vertraulichkeit gilt nicht, wenn:
			br
			| Fintech Finance kann aufgrund eines gerichtlichen oder behördlichen Beschlusses verpflichtet werden, sämtliche Informationen oder Beweismittel vor Gerichten oder Behörden in Bezug auf die Aktivitäten der Rechtsperson des Kunden offenlegen. Wenn Fintech Finance solche
			br
			| Offenlegungsanforderung erhält, soll Fintech Finance, sofern das Gesetz oder die Bestimmungen dieser Anforderung dies nicht verbieten, den Kunden darüber informieren.
			br
			| Bei Ansprüchen, die seitens Dritter gegen die Rechtsperson erhoben oder Handlungen, die gegen sie unternommen werden oder falls andere Umstände eintreten, die nach Ansicht von Fintech Finance der Handlungen in Bezug auf die Angelegenheiten der Rechtsperson bedürfen, um die Interessen des Kunden, der Rechtsperson oder die von Fintech Finance bestmöglich zu wahren und, wenn Fintech Finance unter diesen Umständen keine deutliche, ausreichende und rechtsmäßige Aneisungen vom Kunden erhält, so ist Fintech Finance berechtigt, alle Maßnahmen zu ergreifen, die es für angemessen und zureichend unter den jeweiligen Umständen hält.
		li.list-terms__item
			| Der Kunde erklärt sich damit einverstanden, dass bei der Erbringung von Dienstleistungen Fintech Finance Informationen über den Kunden, seine Rechtsperson oder Geschäftsaktivitäten mit anderen Firmen oder Unternehmen, die mit Fintech Finance, seinen Abschlussprüfer und Rechtsberater verbunden sind, offenlegen kann. Alle Informationen, Korrespondenz, Unterlagen und Daten, die mit der Rechtsperson verbunden und von Fintech Finance auf beliebigem Computersystem aufbewahrt sind, sind ausschließlich Eigentum von Fintech Finance und dienen zu seiner alleiniger Nutzung, indem weder der Kunde noch die Rechtsperson noch keine andere Person, die in ihrem Namen handelt, das Recht auf Einsicht in diese Daten oder Kontrolle über diese Information, Korrespondenz, Unterlagen oder Daten hat. Fintech Finance behält sich das Recht zum Besitz und zur Aufbewahrung der Kopien von jeglichen Informationen, Korrespondenz, Unterlagen und Daten für seine alleinige Nutzung. Die Bestimmung dieses Punktes bleibt uneingeschränkt in Kraft selbst wenn diese Allgemeinen Geschäftsbedingungen ihre Geltung verlieren.
		li.list-terms__item
			| Im Falle einer Änderung der Registrierungsadresse oder des eingetragenen Sitzes der Rechtsperson des Kunden soll Fintech Finance den Kunden darüber innerhalb von zwanzig (20) Kalendertagen informieren. Fintech Finance übernimmt keine Verantwortung für die Kosten, die infolge solcher Änderung bei dem Kunden entstehen können.
		li.list-terms__item
			| Wenn Fintech Finance vom Kunden um die Zurverfügungstellung von Aktionären, Direktoren oder anderen Handlungsbevollmächtigten ersucht wird, kann Fintech Finance unter dem Vorbehalt des Punktes 2(b) diesem Ansuchen stattgeben und jede Person zu jedem dieser Sitze oder Positionen bestimmen einschließlich des folgenden Austausches, Ersatzes oder Auswechslung solcher Bevollmächtigter, die sowohl eine physische als auch juristische Person sein können.
		li.list-terms__item
			| Diese Allgemeinen Geschäftsbedingungen schließen jegliche Haftung oder Verantwortung von Fintech Finance angesichts der geschäftlichen Entscheidungen, die der Kunde in Bezug auf die Rechtsperson oder seine Geschäftstätigkeit getroffen hat, aus.
		li.list-terms__item
			| In dem Fall, dass (i) eine Klage, Forderung oder Handlung gegenüber der Rechtsperson in Bezug auf geschuldete Beträge an Fintech Finance oder dritte Personen besteht, inklusive aber nicht beschränkt auf Steuer, Zölle, Gebühren, behördliche oder staatliche Abgaben und ihre Zahlung nicht geleistet wurde; oder (ii) Fintech Finance Hilfe oder Informationen vom Kunden benötigt, konnte jedoch solche Hilfe oder Informationen nicht erhalten; oder (iii) der Kunde jede seiner Verpflichtungen verletzt, die durch diese Allgemeinen Geschäftsbedingungen festgelegt sind, kann Fintech Finance eine der folgenden Maßnahmen ergreifen:
			br
			| 1) sich von der Handlung oder Aktivität jeder Art zu enthalten, wenn diese entweder eine bestimmte Angelegenheit oder die Rechtsperson betreffen; oder
			br
			| 2) jegliche Assets der Rechtsperson oder ihre Mittel, die Fintech Finance oder der Rechtsperson zur Verfügung stehen, nutzen, um solche Klage, Forderung oder Handlung zu befriedigen; oder
			br
			| 3) jede andere Maßnahme treffen, die Fintech Finance nach eigenem Ermessen als angemessen betrachtet, um sich selbst oder die Rechtsperson zu schützen.
			br
			| Fintech Finace übernimmt keinerlei Haftung für Schäden oder Verluste gegenüber dem Kunden oder seiner Rechtsperson, die unter den in diesem Punkt beschriebenen Umständen entstanden sind.
		li.list-terms__item
			| Wenn der Kunde die aus diesen Allgemeinen Geschäftsbedingungen ergebenden Verpflichtungen verletzt und nicht innerhalb von 14 Kalendertagen nach Eingang einer entsprechenden Aufforderung von Fintech Finance diese nicht behebt, kann Fintech Finance eine der folgenden Maßnahmen ergreifen:
			br
			| 1) zurücktreten von der Erbringung eines der oder aller Services;
			br
			| 2) Liquidationsverfahren in Bezug auf die Rechtsperson einleiten und diese auflösen;
			br
			| 3) alle erforderlichen Assets der Rechtsperson zur Wiedergutmachung der Verpflichtungsverletzungen seitens des Kunden in Anspruch nehmen.
			br
			| Fintech Finance ist in keinem Fall haftbar oder verantwortlich für Handlungen oder Unterlassen, die aus den Bestimmungen dieses Punktes entstehen oder mit ihnen verbunden sind.
	h3.title-terms 5.HAFTUNGSBESCHRÄNKUNG
	ul.list-terms
		li.list-terms__item
			| Fintech Finance lehnt ausdrücklich jede Haftung in Bezug auf den Kunden, die Rechtsperson oder jede dritte Person, die mit ihnen im Zusammenhang steht, für ihre Schäden oder Verluste jedweder Art ab, die aus der Gründung, dem Erwerb oder Tätigkeit der Rechtsperson und/oder aus der Erbringung von Services vom oder gegenüber dem Kunden, der Rechtsperson oder jeder anderer Person entstehen.
		li.list-terms__item
			| Fintech Finance ist nicht haftbar (aus Vertrag, unerlaubter Handlung oder sonstigen Umständen inklusive einer gesetzlichen Pflicht) im Zusammenhang mit der Erbringung von Services für jede Folgeschäden, unabhängig von ihren Ursachen, unter anderem für entgangenen Gewinn, Einsparungen oder erwartete Einsparungen des Kunden.
		li.list-terms__item
			| Fintech Finance übernimmt keine Haftung für Nichterfüllung einer Anfrage oder Anweisung oder eines Auftrags des Kunden, die nicht erhalten wurden oder nicht vollständig, unklar oder unlesbar sind oder wenn die dazu beauftragte Person nach Ansicht von Fintech Finance keine ausreichende Befugnisse besitzt.
		li.list-terms__item
			| Fintech Finance ist nicht haftbar für Handlungen oder Unterlassung oder Fahrlässigkeit jeder Person oder Einheit, welche as Direktor, Aktionär, Handlungsbevollmächtigter, Mitarbeiter, Beauftragter, Einzelperson, Treuhänder, Manager, Unterzeichner oder Prokurist im Zusammenhang mit der Rechtsperson oder jeder anderer Person oder dem Organ, das mit der Rechtsperson verbunden ist, benannt sind.
		li.list-terms__item
			| Fintech Finance weist ausdrücklich darauf hin, dass dieauf der Webseite angebotenen Dienstleistungen ab demZeitpunkt erbracht werden, wenn ein Vertrag mit demKunden in Papierform geschlossen wird und der Kundeerforderliche Unterlagen, die unser Unternehmen im Rahmen der Einhaltung der international anerkannten Regeln – Kennen Sie Ihren Kunden – anfordert, vorlegt. Bei der Ferneröffnung eines Kontos wird zusammen mitdiesen Unterlagen eine Vollmacht zugunsten desMitarbeiters von Fintech Finance in Papierform erteilt.
		li.list-terms__item
			| Fintech Finance weist ausdrücklich darauf hin, dass beider Eröffnung eines Bankkontos die Bank beliebigeUnterlagen, welche die Herkunft des Geldes (und nichtnur) nachweisen, vom Kunden anfordern kann und FintechFinance keinerlei Verantwortung über die Nichterbringungder Leistung gegenüber dem Kunden übernimmt, wenn derKunde keine erforderlichen Unterlangen innerhalb derabgesprochener Frist vorlegt.
	h3.title-terms 6. SCHADENERSATZ
	ul.list-terms
		li.list-terms__item
			| Der Kunde soll Fintech Finance und seine Handlungsbevollmächtigte wie auch Mitarbeiter schad- und klaglos halten:
			br
			| 1) in Bezug auf jegliche Klagen, Rechtsstreitigkeiten, Verfahren, Forderungen, Kosten, Entgelte, Ausgaben und Schulden (inklusive Anwaltskosten), die sich ergeben oder anfallen wie auch eingeleitet werden können oder womit im Zusammenhang mit der Rechtsperson oder
			br
			| 2) wenn durch Fintech Finance Anweisungen, Aufträge oder Anfragen des Kunden ganz oder teilweise nicht erfüllt werden oder bei sonstigen Fehlern oder unvollständigen Anweisungen oder Anfragen, die Fintech Finance vom Kunden erhalten hat;
			br
			| 3) in Bezug auf jegliche Strafen, Bußgelder, Gebühren oder andere Verbindlichkeiten, die bei dem Kunden und/oder der Rechtsperson im Zusammenhang mit der Rechtsperson und/oder den Services entstanden sind oder welche sie eingegangen sind.
		li.list-terms__item
			| Diese Schadenersatzpflicht ist ohne Nachteil für jeden anderen Schadenersatz und/oder jedes Rechtsmittel zugunsten von Fintech Finance und/oder seiner Handlungsbevollmächtigten, Mitarbeiter, Beauftragter oder Nachfolger. Die Kündigung dieses Vertrages oder jeglicher Services, die durch Fintech Finance erbracht worden sind, befreit den Kunden von seinen Schadenersatzpflichten gegenüber Fintech Finance nicht.
	h3.title-terms 7.GEWÄHRLEISTUNGEN
	ul.list-terms
		li.list-terms__item
			| Der Kunde verpflichtet sich und garantiert Fintech Finance, dass er:
			br
			br
			| 1) in jeder Hinsicht geschäftsfähig und bei vollem Verstand, Gedächtnis und Verständnis ist, um den Vertrag mit Fintech Finance in Übereinstimmung mit diesen Allgemeinen Geschäftsbedingungen zu schließen und die Services zu erhalten;
			br
			| 2) nicht insolvent ist;
			br
			| 3) diesen AGB folgen wird;
			br
			| 4) einverstanden ist, dass Fintech Finance sich auf die Mitteilungen, die es vom Kunden erhalten hat, stützen kann (ist jedoch nicht verpflichtet), um zu entscheiden, welche Schritte Fintech Finance unternehmen muss, um die Rechtsperson zu verwalten oder die Services zu gewähren;
			br
			| 5) in voller Höhe jegliche Einkommen- und Körperschaftssteuer bezahlen muss, die in Folge der Gründung oder der Tätigkeit der Rechtsperson fällig sein können.
	h3.title-terms 8. PFLICHTEN DES KUNDEN
	ul.list-terms
		li.list-terms__item
			| Der Kunde ist verpflichtet, Fintech Finance über die von der Rechtsperson ausgeübten Aktivitäten und Geschäftstätigkeit umgehend zu informieren und eine schriftliche Genehmigung von Fintech Finance vor einer etwaigen Änderung dieser Aktivitäten einholen.
		li.list-terms__item
			| Fintech Finance ist gesetzlich verpflichtet, über eine gewisse Due-Deligence-Dokumentation (Know-Your-Customer) zu verfügen. Der Kunde stimmt ausdrücklich zu und ist einverstanden, solche Unterlagen Fintech Finance zur Verfügung zu stellen wie auch jede andere Information, die Fintech Finance als erforderlich oder erwünscht betrachtet, sowohl um den Kunden zu akzeptieren wie auch um seinen rechtlichen Verpflichtungen dauerhaft nachkommen zu können.
		li.list-terms__item
			| Um Fintech Finance eine Verbindung mit dem Kunden jederzeit zu ermöglichen, ist der Kunde verpflichtet, vollständige Details zu seiner Wohnanschrift, Telfon- oder Faxnummer wie auch E-Mail-Adresse zusätzlich zu jeder Firmen- oder sonstigen Kontaktadresse, die von ihm zur Verfügung gestellt wird, zu liefern und über jegliche Änderung hiervon umgehend mitzuteilen.
		li.list-terms__item
			| Der Kunde verpflichtet sich, Fintech Finance keine Anweisungen und Aufträge zu erteilen oder Anfragen an Fintech Finance zu machen, die Fintech Finance zur Verletzung der Gesetze irgendeines Landes zwingen können.
		li.list-terms__item
			| Der Kunde stellt Fintech Finance solche Informationen zur Verfügung oder leistet Hilfe wie auch erklärt sich für solche Zusammenarbeit bereit, die Fintech Finance nach eigenem Ermessen benötigt, um Services zu gewähren. Fintech Finance ist nicht verantwortlich für jegliche Folgen im Falle, dass der Kunde diesen Anforderungen nicht nachkommt und durch welche zusätzliche Gebühren für den Kunden entstehen können.
		li.list-terms__item
			| Der Kunde bestätigt somit, dass die Einbringung aller Vermögenswerte in die Rechtsperson rechtsmäßig erfolgte und sie nicht von illegaler Tätigkeit stammen.
		li.list-terms__item
			| Der Kunde verpflichtet sich, dass er Fintech Finance und/oder seine Handelsbevollmächtigte in keine gesetzeswidrige, Illegale oder Verbotene Aktivitäten verwickelt oder für keine anderen rechtswidrigen Ziele nutzt.
		li.list-terms__item
			| Der Kunde ist verpflichtet, Fintech Finance mindestens 10 Tage im Voraus durch eine schriftliche Mitteilung über seinen Wunsch, die Services nicht mehr in Anspruch zu nehmen, zu informieren.
		li.list-terms__item
			| Der Kunde verpflichtet sich, Fintech Finance über seinen Wunsch, das Nutzeigentum der Rechtsperson zu ändern, durch eine schriftliche Mitteilung zu informieren.
		li.list-terms__item
			| Der Kunde zahlt jede Geldsumme an Fintech Finance, die fällig ist, inklusive Gebühren, Ausgaben und Unkosten, die bei Fintech Finance in Zusammenhang mit der Rechtsperson und/oder der Serviceerbringung entstanden sind.
	h3.title-terms
		| 9. PFLICHTEN DES KUNDES WENN Fintech Finance DIREKTOREN ODER NOMINEE BEREITSTELLT
	ul.list-terms
		li.list-terms__item
			| Fintech Finance soll jederzeit willens sein, die Anfrage des Kunden auf die Bereitstellung der Direktoren oder eines Nominee für seine Rechtsperson zu bearbeiten und ihr nachzukommen, während die Erbringung von diesen Services den Bestimmungen der AGB in Bezug auf ihre Akzeptanz und Einschränkungen unterliegt.
		li.list-terms__item
			| Während Fintech Finance Direktoren oder den Nominee im Rahmen seiner Services bereitstellt, muss der Kunde
			br
			| 1) jederzeit nach Anfrage von Fintech Finance diesem solche Geldbeträge zahlen, die erforderlich sind, um der Rechtsperson völlige Erfüllung ihrer Rechtsverbindlichkeiten (inklusive Fintech Finance Gebühren) zu ermöglichen;
			br
			| 2) auf schriftlichen Antrag von Fintech Finance unverzüglich Informationen bereitstellen, um Fintech Finance jährliche oder gesetzliche Steuererklärungen wie auch finanz- oder sonstige Berichte in Bezug auf die Rechtsperson vorzubereiten;
			br
			| 3) Fintech Finance umgehend schriftlich über alle Rechtshandlungen, Klagen und Forderungen, die an die Rechtsperson oder Fintech Finance gestellt oder gegen sie eingeleitet oder erhoben werden oder mit welchen ihnen gedroht wird, informieren;
			br
			| 4) Finanz- und Geschäftsbereichte aufbewahren und führen und diese auf Anfrage von Fintech Finance zur Verfügung stellen.
		li.list-terms__item
			| Der Kunde nimmt zur Kenntnis und versteht, dass die Direktoren oder Nominees persönliche Haftung eingehen können, wenn bestimmte gesetzliche Verpflichtungen in Bezug auf die Rechtsperson nicht nachgegangen werden und dass die Einhaltung der gesetzlichen Verpflichtungen von den schnellen Gebührenzahlungen oder sofortiger Informationsbeschaffung seitens des Kunden abhängt. Falls der Kunde keine fälligen Gebühren bezahlt oder Informationen nicht sofort beschafft, sind die Direktoren oder Nominees berechtigt, von ihren Positionen zurückzutreten und der Kunde ernennt hiermit unwiderruflich und unbedingt Fintech Finance als seinen Bevollmächtigten und Beauftragten, um den Kunden als Direktor anstelle von Fintech Finance ernennen zu lassen.
		li.list-terms__item
			| Die Direktoren oder Niminees, die von Fintech Finance beauftragt werden als Direktoren der Rechtsperson des Kunden zu handeln, sollen ausschließlich nach Weisungen des Kunden verfahren und demzufolge in das Tagesgeschäft und/oder Vertragsunterzeichnung im Namen der Rechtsperson nicht eingebunden sein wie auch nicht als Gewährtätiger im Namen des Kunden und/oder der Rechtsperson handeln.
		li.list-terms__item
			| Ein Direktor oder Nominee, der als Direktor der Rechtsperson des Kunden tätig ist, kann auf Anfrage des Kunden Verträge oder sonstige Dokumente, die den Bestimmungen des Punktes 9(f) dieser AGB vorbehaltlich sind, unterzeichnen und dafür nach Vereinbarung mit dem Kunden entgolten werden.
		li.list-terms__item
			| Ein Handlungsbevollmächtigter oder Nominee, der als Direktor der Rechtsperson des Kunden tätig ist, setzt seine Unterschrift auf keinem Vertrag oder Dokument, die sich auf jegliche Darlehen oder Belastung mit Schulden beziehen und im Namen des Kunden aufgenommen werden oder auf keinem anderen Vertrag oder Dokument, die nach Ansicht des Handlungsbevollmächtigten ein hohes Risiko darstellen und eine Haftung gegenüber der Rechtsperson, Fintech Finance wie auch der Handlungsbevollmächtigten oder Nominees, die als Direktoren der Rechtsperson des Kunden tätig sind, entstehen lassen.
	h3.title-terms
		| 10. ZUSÄTZLICHE VERPFLICHTUNGEN WENN Fintech Finance EINGETRAGENE GESCHÄFTSADRESSE ZUR VERFÜGUNG STELLT
	ul.list-terms
		li.list-terms__item
			| Falls Fintech Finance einen eingetragenen Sitz oder eine Geschäftsadresse der Rechtsperson zur Verfügung stellt, darf der Kunde unter keinen Umständen auf die eingetragene Geschäftsadresse in einer Werbung, öffentlicher Bekanntgabe, Promotion oder auf einer Webseite ohne vorausgehender schriftlicher Zustimmung von Fintech Finance verweisen. Unter keinen Umständen darf der Kunde sowohl den eingetragenen Sitz als auch die eingetragene Adresse als gegenwärtigen Standort der Geschäftstätigkeit der Rechtperson, ihrer Geschäftsunterlagen, ihres Managements und ihrer Leitung angeben.
	h3.title-terms 11. GEBÜHREN UND ZURÜCKERSTATTUNGEN
	ul.list-terms
		li.list-terms__item
			| Gebühren und Zurückerstattungen sind durch Zahlungsbedingungen geregelt, auf die hier hingewiesen wird, und sollen zusammen mit diesen Allgemeinen Geschäftsbedingungen gelesen werden. .
	h3.title-terms 12. HÖHERE GEWALT
	ul.list-terms
		li.list-terms__item
			| Bei Eintritt höherer Gewallt ist Fintech Finance für jegliche Verspätung oder Nichterfüllung jeweiliger Verpflichtungen hinsichtlich der Lieferung von Waren oder Services, die der Kunde auf unserer Webseite oder anderweitig bestellt hat, nicht haftbar, wenn die Verspätung oder Nichterfüllung ein Ergebnis der Ereignisse oder Umstände ist, die außerhalb unserer vernünftigen Kontrolle liegen, wie etwa unbeeinflussbare Umstände, Streiks, Aussperrungen, Unfälle, Krieg, Feuer oder Versagen von Kommunikations- Telekommunikations- oder Computersystemen, und Fintech Finance ist auf angemessene Nachfrist für die Erfüllung seiner Verpflichtungen  gegenüber dem Kunden (falls Fintech Finance solche Verpflichtungen hat) berechtigt.
		li.list-terms__item
			| Bei höherer Gewalt, auf die sich diese Klausel bezieht, erklärt sich Fintech Finance damit einverstanden, dass es den Kunden möglichst schnell darüber informiert. Wenn die höhere Gewalt länger als 14 Tage andauert, hat jede Partie das Recht, den Vertrag zu kündigen; sollten die Services im Voraus bezahlt jedoch nicht erbracht werden, hat der Kunde das Recht auf eine Rückerstattung ab dem Datum der Annullierung all dieser Services.
		li.list-terms__item
			| Fintech Financе übernimmt keinerlei Verantwortung, falls die Bank aus den von Fintech Finance unabhängigenGründen dem Kunden die Kontoeröffnung verweigert.
	h3.title-terms 13. EINSTELLUNG DER SERVICES
	ul.list-terms
		li.list-terms__item
			| Fintech Finance wird durch schriftliche Mitteilung über die Einstellung der Services an den Kunden informiert, wenn:
		li.list-terms__item
			| der Kunde nach angemessener Ansicht von Fintech Finance gegen diese AGB verstößt und solcher Verstoß innerhalb von fünfzehn (15) Tagen nach dem Erhalt der schriftlichen Mitteilung von Fintech Finance nicht geheilt wurde;
		li.list-terms__item
			| Fintech Finance davon Kenntnis erlangt, dass die Rechtsperson für Aktivitäten genutzt wurde, die während der Gründung der Rechtsperson vom Kunden gegenüber Fintech Finance weder bekanntgegeben noch erwähnt wurden und/oder diese Aktivitäten als Illegal oder Verboten, wie in Klauseln 2 (a) und 2 (b) dieser AGB festgelegt ist, gelten;
		li.list-terms__item im Falle, dass eine Klage gegen die Rechtsperson oder den Kunden erhoben wird.
		li.list-terms__item
			| Bei Eintritt der in 12 (a) genannten Umstände behält sich Fintech Finance das Recht, gemäß Klausel 4 (a) ohne weiterer Haftung seitens von Fintech Finance vorzugehen.
	h3.title-terms 14. MITTEILUNGEN
	ul.list-terms
		li.list-terms__item
			| Jede Mitteilung kraft dieser AGB kann bei DHL Express Post, per E-Mail oder Telfax an die Adresse und laut Details, die den Parteien zuletzt bekannt wurden, zugestellt werden. Eine Mitteilung gilt als zugestellt:
			br
			| durch Telefax oder E-Mail, wenn ihre erfolgreiche Übersendung durch einen Sendebericht bestätigt wird.
	h3.title-terms 1. SONSTIGES
	ul.list-terms
		li.list-terms__item
			| Bei Verweisen auf ein Geschlecht sind alle Geschlechter enthalten und bei Verweis auf Singular Plural ist ebenfalls enthalten wie auch vice versa.
		li.list-terms__item
			| Diese AGB schließen durch Bezugnahme andere Bestimmungen ein, die das Nutzen der Webseiten wie auch Produkte und Services von Fintech Finance betreffen, unter anderem Datenschutz, Haftungsausschluss, Zahlungsbedingungen und Nutzungsbedingungen, die auf unseren Webseiten veröffentlicht sind.
		li.list-terms__item
			| Keine Abweichungen von diesen AGB sind für die Parteien bindend, sofern nicht schriftlich vereinbart.
		li.list-terms__item
			| Sollte sich eine Bestimmung dieser Allgemeinen Geschäftsbedingungen als ungültig oder rechtwidrig unter dem anwendbaren Rechts erweisen, so bleiben die übrigen Bestimmungen insgesamt weiter wirksam.
		li.list-terms__item
			| Diese Allgemeinen Geschäftsbedingungen setzen sämtliche andere schriftliche oder mündliche Mitteilungen oder Kontakte zwischen Fintech Finance und dem Kunden außer Kraft.
		li.list-terms__item
			| Diese Allgemeinen Geschäftsbedingungen schließen eine rechtliche Partnerschaft oder Stellvertretung zwischen Fintech Finance und dem Kunden aus.
		li.list-terms__item
			| Der Kunde soll eine unabhängige Beratung bezüglich seiner Rechtsperson oder Services, die von Fintech Finance angeboten werden und den Kunden wie auch seine Rechtsperson oder persönliche Angelegenheiten betreffen, einholen und soll sich auf keine Darstellungen (weder schriftlich, mündlich, ausgedrückt, stillschweigend oder anderweitig) durch Fintech Finance, seine Handlungsbevollmächtigten oder Mitarbeiter verlassen. Es gehört zur Verantwortung des Kunden, sich einen fachkundigen rechtlichen Rat einzuholen und Fintech Finance haftet gegenüber dem Kunden, seiner Rechtsperson oder dritten Personen für keine Ansprüche, Schäden oder Verluste, die aus dem Service oder in Zusammenhang mit ihm entstehen.
		li.list-terms__item
			| Kein Versäumnis oder keine Verzögerung einer Partei, eine Befugnis oder ein Recht, die durch diese AGB verliehen sind, auszuüben, kann als Verzicht auf diese Befugnis oder dieses Recht ausgelegt werden, sofern schriftlich nichts anderes vereinbart ist.
	h3.title-terms 2. ANWENDBARES RECHT UND GERITCHTSSTAND
	ul.list-terms
		li.list-terms__item
			| Diese Allgemeinen Geschäftsbedingungen unterliegen und in jeder Hinsicht sind in Übereinstimmung mit dem Recht der  Großbritannien auszulegen. Für alle Streitigkeiten über die Auslegung dieser AGB sind die nationalen Gerichte der Großbritannien zuständig.
