.text-page.long
		h3.title-terms 1. DEFINITIONS
		ul.list-terms
			li.list-terms__item
				| “Fintech Finance” means Fintech Finance Consulting Ltd (Registered No. 10417470, Registered address: 71-75 Shelton Street, Covent Garden,London,WC2H 9JQ) and any of its branches, agents or associated companies throughout the world and all of its directors, officers, employees, agents, consultants and successors in title.
			li.list-terms__item
				| “Fintech Finance Officers” means any person (as hereinafter defined), firm or company nominated by Fintech Finance who may from time to time be appointed as director, alternate director, secretary, alternate secretary, partner, accountant, trustee, nominee, protector, bank account signatory, administrator, registered agent, provider of a registered office or address of the Entity (as hereinafter defined).
			li.list-terms__item
				| “Client” means the Beneficial Owner(s) of an Entity (as hereinafter defined) and/or any person who has requested Fintech Finance to provide the Services (as hereinafter defined), or any other person who has agreed to pay for the Services, or who has previously paid for the Services, and/or any person on whose behalf and for whose benefit the Services are to be provided, also including any person(s) authorized to represent the Client (Authorized Person(s) as hereinafter defined), and in the case of more than one person all such persons jointly and severally.
			li.list-terms__item
				| “Authorized Person” means the person who is authorized by the Client for and in his name and on his behalf to give instructions to Fintech Finance as if these were given by the Client himself.
			li.list-terms__item
				| “Person” means any individual or legal entity, organization, incorporated firm or other body, incorporated or unincorporated.
			li.list-terms__item
				| “Entity” means any company, trust, partnership, foundation or any other legal entity established and/or administered by Fintech Finance at the request and/or on behalf of the Client.
			li.list-terms__item
				| “Services” means formation of any company, trust, partnership, foundation or any other Entity, provision of a registered office, registered agent, company secretary, director, officer, shareholder, maintenance of corporate records and accounts, preparation and filing of financial statements and annual returns and/or any other management or administration services or any type of service requested by the Client as contained in the directory of the Services rendered by Fintech Finance, or specified in advertising materials of Fintech Finance, or on its websites and/or any other service(s) ordered/requested/accepted by the Client.
			li.list-terms__item
				| “Fee Schedule” means a fee schedule for the Services issued from time to time by Fintech Finance;
			li.list-terms__item
				| “Business Day” means a day on which Fintech Finance is ordinarily open to carry on business;
			li.list-terms__item
				| “Terms and Conditions” means these Terms and Conditions or such other new terms and conditions as may from time to time be published on Fintech Finance websites and shall be deemed to include such other conditions which Fintech Finance may from time to time advise to the Client or publish on Fintech Finance websites. These Terms and Conditions apply to all Fintech Finance Clients and effectively constitute binding Agreement between the Client and Fintech Finance.
			li.list-terms__item
				| “Web site” “Website” or “Site” means the website you are browsing when you clicked on a link to these Terms and Conditions of Business, including all subsidiary pages.
		h3.title-terms 2. UNACCEPTABLE BUSINESS AND BUSINESS REQUIRING SPECIAL AUTHORIZATION
		ul.list-terms
			li.list-terms__item
				| “Illegal Activities” means any activity designated anywhere in the world to be illegal or criminal, including activities related to terrorism, drug trafficking, money laundering, receiving the proceeds of criminal activities or trading with such countries, which may from time to time be subject to any embargo imposed by the Security Council of the United Nations, the European Union or similar international organizations.
			li.list-terms__item
				| “Prohibited Activities” means the activities currently not approved by Fintech Finance, including activities related to: trade, distribution or manufacturing of arms, weapons, munitions; mercenary or contract soldiering; security and riot control equipment; any device that could lead to the abuse of human rights or be utilized for torture; technical surveillance or bugging equipment; industrial espionage; dangerous or hazardous biological, chemical or nuclear materials including equipment or machinery used to manufacture, handle or dispose of such materials; human or animal organs; the abuse of animals or use of animals for any scientific or product testing; genetic material; adoption agencies, including surrogate motherhood; the abuse of human rights; pornography; drug paraphernalia; pyramid sales; religious cults and their charities; business activities, which by the laws and regulations of the country of formation of the Entity are subject to licensing and which are conducted without obtaining a license (“Licensable Activities” as hereinafter defined); any other activity, which, in the opinion of Fintech Finance, may damage the reputation of Fintech Finance or that of the country of formation of the Entity.
			li.list-terms__item
				| “Prohibited Persons” means persons black listed under the laws of any country for whatever reason or who are legally disqualified from, or incapable of, being party to a contract; persons who are non discharged bankrupts or have been imprisoned or found guilty of any criminal offence; government officials or politicians; persons who have been proven to act in a fraudulent or dishonest manner in any civil proceedings or who are resident in a country subject to any international restrictions or embargos, including those imposed by the Security Council of the United Nations, the European Union or other international organizations.
			li.list-terms__item
				| “Prohibited Persons” means persons black listed under the laws of any country for whatever reason or who are legally disqualified from, or incapable of, being party to a contract; persons who are non discharged bankrupts or have been imprisoned or found guilty of any criminal offence; government officials or politicians; persons who have been proven to act in a fraudulent or dishonest manner in any civil proceedings or who are resident in a country subject to any international restrictions or embargos, including those imposed by the Security Council of the United Nations, the European Union or other international organizations.
			li.list-terms__item
				| “Licensable Activities” means any activity that requires a license or authorization granted by a relevant authority in any jurisdiction. Such activities include, but not limited to: provision of financial services involving trading/brokerage in foreign exchange, financial and commodity-based derivative instruments and other securities; offering investment advice to public; insurance and banking business; operation and administration of collective investment schemes and mutual funds; payment processing services; money exchange, money transmission or money brokering; asset management; safe custody services; gaming, gambling and lotteries.
		h3.title-terms 3. CLIENT REQUESTS & INSTRUCTIONS
		ul.list-terms
			li.list-terms__item
				| Fintech Finance provides a range of professional services including, but not limited to: company formation; corporate structuring; administration and management; provision of bookkeeping and accountancy services; advisory and consultancy services.
			li.list-terms__item
				| In providing the Services, Fintech Finance shall always act solely on requests or instructions received from the Client and shall never act in its own discretion, except when being under legal obligation to act otherwise.
			li.list-terms__item
				| Fintech Finance shall be willing to consider and entertain requests and instructions of the Client.
			li.list-terms__item
				| All instructions or requests for actions shall be transmitted to Fintech Finance by the Client in writing. In case of a reasonable doubt, Fintech Finance may request the Client to provide additional verification of any such request or instruction. Fintech Finance shall not be liable for any loss or damage due to its failure to act until such instruction or request is verified to its satisfaction.
			li.list-terms__item
				| Fintech Finance may, in its absolute discretion, agree to act upon the Client’s request or instruction given otherwise than in writing, in which case, however, Fintech Finance shall not be liable for any misunderstanding or error occasioned in processing such request or instruction acted upon in good faith.
			li.list-terms__item
				| Fintech Finance may, in its absolute discretion, refuse to comply with any request or instruction received from the Client if such request/instruction or implementation thereof would, in the opinion of Fintech Finance, be dishonest, incorrect, malicious or contravene any applicable law or regulation or expose Fintech Finance or any of its Officers or employees to any personal liability or risk of prosecution in any jurisdiction, or otherwise be illegal.
			li.list-terms__item
				| Fintech Finance may refuse to act on any request or instruction, which appears to be incomplete, unclear, ambiguous, conflicting or of unclear authenticity, and shall not be liable for any loss or damage for its failure to act until such deficiencies are rectified to its satisfaction.
			li.list-terms__item
				| In the absence of gross negligence on the part of Fintech Finance, the Client shall bear all risk of loss and damage caused by any instruction, request or information not being sent or received, by any such communication being incomplete, illegible, ambiguous or in error, or by any instructions or communication being issued by unauthorized third parties unlawfully purporting to represent the Client.
			li.list-terms__item
				| On its websites and in advertising materials, Fintech Finance may provide information, which is related to various products and services offered by Fintech Finance. Such information does not purport to be legal or tax advice and shall not be taken to constitute such advice or used or relied upon by the Client as such. The Client shall take independent advice on any matter relating to the Entity and any Services provided by Fintech Finance that may affect or concern the Client and his personal affairs.
		h3.title-terms 4. ADMINISTRATION OF ENTITIES
		ul.list-terms
			li.list-terms__item
				| The Client irrevocably agrees that, if the Entity is a limited liability company and Fintech Finance Officers are members or directors of that company, or the Entity is a Partnership and Fintech Finance Officers are members of that partnership, or the Entity is a trust and Fintech Finance Officers are trustees or protectors of that trust, or the Entity is a foundation and Fintech Finance Officers are founders or council members, due to non-payment of Fintech Finance fees and/or any other fees related to the Entity for more than sixty (60) days, Fintech Finance shall without being obliged to give notice to the Client, may take such steps as it shall, in its absolute discretion, consider appropriate which include, without limitation, the following: having the Entity struck off, dissolved or liquidated; or resigning all or any of the Fintech Finance Officers; or transferring all or any of the shares, capital or assets or liabilities of the Entity into the name of the Client; or appointing the Client as director, officer, manager, trustee or protector or founder or council member of the Entity; or take such other action as Fintech Finance shall, in its absolute discretion, consider appropriate.
			li.list-terms__item
				| Fintech Finance shall keep confidential all documents, communications and information attained from the Client, unless prior written consent has been given by the Client permitting the contrary. This confidentiality will not be applicable where:
				br
				| Fintech Finance may be obliged by order of a court or a competent authority to disclose evidence and information to courts or authorities in connection with the Client or Client’s Entity’s affairs. Where Fintech Finance receives such a disclosure order, Fintech Finance shall, unless prohibited by law or by the terms of such order, notify the Client of the same.
				br
				| Any demand is made or action is taken by a third party against the Entity, or where any other circumstances arise which may, in the opinion of Fintech Finance, necessitate an action to be taken regarding the affairs of the Entity in order to protect the best interests of the Client, the Entity or Fintech Finance, and if in such circumstances Fintech Finance is unable to obtain clear, adequate and lawful instructions from the Client, then Fintech Finance shall be entitled to proceed in any way it may deem fit, reasonable or appropriate under the circumstances.
			li.list-terms__item
				| In providing the Services, Fintech Finance may share information concerning the Client, his Entity or its business activities with other firms or companies associated with Fintech Finance, its auditors and legal advisors, and the Client agrees to Fintech Finance making such disclosures. All information, correspondence, records and data related to the Entity and held by Fintech Finance on any computer system is solely Fintech Finance property and for its sole use and neither the Client, nor the Entity, nor anyone else acting for or on their behalf shall have any right of access thereto or control over that information, correspondence, records or data. Fintech Finance has the right to retain ownership and keep copies of all such information, correspondence, records and data for its sole use. The provision of this clause shall remain in full force and effect notwithstanding the Terms and Conditions ceasing to apply.
			li.list-terms__item
				| In the event of the relocation involving the change of the Client’s Entity’s registered address and registered office, Fintech Finance shall give the Client twenty (20) calendar days notice of such change. Fintech Finance shall not be responsible for any associated costs incurred by the Client as a result of such change.
			li.list-terms__item
				| Where Fintech Finance has been requested by the Client to provide shareholders, directors or other Officers for his Entity, Fintech Finance may, subject to Clause 2(b) hereof, accede to such request and designate any person to any such office or position, including any subsequent change, replacement or removal of such appointees, who may be either an individual or legal entity.
			li.list-terms__item
				| Nothing in these Terms and Conditions will make Fintech Finance liable or responsible for any commercial decision that the Client has made in respect of the Entity or its business activities.
			li.list-terms__item
				| In the event that (i) any claim, demand or action is made against the Entity for payment of any sums due either to Fintech Finance or to a third party, including without limitation any taxes, duties, fees, government or state levies, and such payment has not been made; or (ii) Fintech Finance requires assistance or information from the Client and has been unable to obtain such assistance or information; or (iii) the Client is in breach of any of his obligations or undertakings contained in these Terms and Conditions, then Fintech Finance may undertake any of the following:
				br
				| 1) r1.  refrain from any action or activity whatsoever, be it in relation to a particular matter or to the Entity; or
				br
				| 2) utilize any assets of the Entity or means available to Fintech Finance or to the Entity towards a defence against such claim, demand or action, or satisfaction of such claim, demand or action; or
				br
				| 3) take any other course of action that Fintech Finance may, in its absolute discretion, consider appropriate to protect itself and the Entity.
				br
				| Fintech Finance shall not be liable for any loss or damage to the Client or his Entity incurred in the circumstances described in this clause.
			li.list-terms__item
				| If the Client is in breach of any of his obligations or undertakings assumed under these Terms and Conditions and fails to remedy such breach within 14 calendar days following a notice issued by Fintech Finance, then Fintech Finance may undertake any of the following:
				br
				| 1) resign from providing any or all of the Services; or
				br
				| 2) commence proceedings to wind-up and liquidate the Entity; or
				br
				| 3)3.    utilize any assets of the Entity towards remediation of the Client’s breach.
				br
				| No responsibility or liability shall attach to Fintech Finance in connection with or arising out of any action or inaction taken in accordance with the provisions of this paragraph.
		h3.title-terms 5. LIMITATION OF LIABILITY
		ul.list-terms
			li.list-terms__item
				| Fintech Finance expressly disclaims any liability to the Client, the Entity and any third party associated with them for any damage or loss to any of them arising from the establishment, acquisition or operation of the Entity and/or the provision of the Services by or to the Client, the Entity or any other person.
			li.list-terms__item
				| Fintech Finance shall not be liable (whether in contract, tort or otherwise, including breach of statutory duty) in connection with the provision of the Services for any consequential loss however incurred, including without limitation loss of profit, business or anticipated savings of the Client.
			li.list-terms__item
				| Fintech Finance will not incur any liability for any failure to comply with any request, instruction or order of the Client, which is not received, or which is incomplete, ambiguous and illegible or lacks, in the opinion of Fintech Finance, authority on the part of the person giving it.
			li.list-terms__item
				| Fintech Finance will not be liable for the acts or omissions or negligence of any person or entity which is appointed or designated as director, shareholder, officer, employee, agent, individual, trustee, manager, signatory or holder of a power of attorney with respect to the Entity or other person or body associated with the Entity.
		h3.title-terms 6. INDEMNITY
		ul.list-terms
			li.list-terms__item
				| The Client shall at all times indemnify and keep Fintech Finance and its Officers and employees harmless and indemnified:
				br
				| 1) against all actions, suits, proceedings, claims, demands, costs, charges, expenses and liabilities (including legal fees), which may arise or be incurred, commenced or threatened against Fintech Finance and/or its officers in relation to the Entity or the Client’s instructions;
				br
				| 2) in respect of any failure by Fintech Finance to comply, wholly or partially, with any instruction, order or request made by the Client, or any errors or incomplete instructions or requests received by Fintech Finance from the Client;
				br
				| 3)in respect of any penalties, fines, fees or other liabilities incurred by the Client and/or the Entity related to the Entity and/or to the Services.
			li.list-terms__item
				| This indemnity is without prejudice to any other indemnity and/or remedy in favour of Fintech Finance and/or its officers, employees, agents or successors. The termination of this Agreement or any Service provided by Fintech Finance shall not relieve the Client of his obligations to indemnify Fintech Finance.
		h3.title-terms 7. WARRANTIES
		ul.list-terms
			li.list-terms__item
				| The Client undertakes and warrants with Fintech Finance that he:
				br
				br
				| 1) has full legal capacity and is of sound mind, memory and understanding to enter into an agreement with Fintech Finance in accordance with these Terms and Conditions and to receive the Services;
				br
				| 2) is not bankrupt;
				br
				| 3) will comply with these Terms and Conditions;
				br
				| 4) agrees that Fintech Finance may (but shall not be obliged to) rely on the communications received from the Client in determining what steps Fintech Finance is required to take in administering his Entity or providing the Services;
				br
				| 5)  will pay, in full, any personal or corporate taxes that may become due as a result of the establishment and operation of the Entity.
		h3.title-terms 8. CLIENT’S OBLIGATIONS AND UNDERTAKINGS
		ul.list-terms
			li.list-terms__item
				| The Client is obliged to immediately inform Fintech Finance of the nature of the activities and business of the Entity and seek Fintech Finance written consent before making any changes to those activities.
			li.list-terms__item
				| Fintech Finance is required by law to have certain due diligence (Know-Your-Customer) documents in place. The Client expressly agrees and accepts to disclose and provide to Fintech Finance such documents or any other information that Fintech Finance may consider necessary or desirable both at the Client acceptance stage and on an on-going basis in order that Fintech Finance could meet its legal obligations.
			li.list-terms__item
				| To enable Fintech Finance at all times to contact the Client, the Client is obliged to provide full details of, and promptly notify Fintech Finance of any changes to his residential address, telephone and fax numbers and email address in addition to any business or other contact address as may have been provided by him.
			li.list-terms__item
				| The Client undertakes not to give any instruction, order or make any request to Fintech Finance, which would cause Fintech Finance to breach the law of any country.
			li.list-terms__item
				| The Client shall provide Fintech Finance with such information, assistance and cooperation as Fintech Finance may, in its absolute discretion, require for the purpose of provision of the Services. Fintech Finance will not be responsible for any consequences that may arise from Client’s failure to comply with this requirement, which may incur additional fees that will be charged to and become payable by the Client.
			li.list-terms__item
				| The Client hereby confirms that any asset introduced to the Entity has been lawfully introduced and has not been derived from the Illegal Activities.
			li.list-terms__item
				| The Client undertakes not to cause Fintech Finance and/or its officers to be engaged or involved directly or indirectly in any unlawful, Illegal or Prohibited Activities or used for any unlawful purpose.
			li.list-terms__item
				| The Client is obliged to give Fintech Finance at least 30 days’ advance written notice of his intention to discontinue the Services.
			li.list-terms__item
				| The Client is obliged to give Fintech Finance a written prior notice when seeking to change the beneficial ownership of the Entity.
			li.list-terms__item
				| The Client shall settle without delay any sum due to Fintech Finance including fees, disbursements and expenses incurred by Fintech Finance in connection with the Entity and/or with the provision of the Services.
		h3.title-terms
			| 9. CLIENT’S OBLIGATIONS WHERE Fintech Finance provides OFFICERS OR NOMINEE SERVICES
		ul.list-terms
			li.list-terms__item
				| Fintech Finance shall at all times be willing to consider and entertain Client’s requests to provide Officers or nominee services to the Client’s Entity subject to acceptance, restrictions and limitations provided for in these Terms and Conditions.
			li.list-terms__item
				| Where  Fintech Finance provide Officers or nominee services, the Client must
				br
				| a) at all times, upon request of Fintech Finance, pay Fintech Finance such sums as may be required to enable the Entity discharge, in full, any liabilities (including Starting Business’s fees);
				br
				| b)upon written request of Fintech Finance, immediately provide information to enable Fintech Finance to prepare annual or other statutory returns, financial or other statements in relation to the Entity;
				br
				| c)immediately advise Fintech Finance in writing of all legal proceedings, claims and demands made or threatened against the Entity or Starting Business;
				br
				| d)keep and maintain and upon request deliver to Fintech Finance accurate financial and business records.
			li.list-terms__item
				| The Client acknowledges and understands that Officers or nominees may incur personal liabilities if certain statutory obligations relating to the Entity are not complied with and that compliance with such statutory obligations is dependent on the Client promptly paying fees and responding to requests for information. If the Client fails to pay fees when due or called for, or to respond promptly to requests for information, the Officers or nominees shall be entitled to resign from their offices, and the Client hereby irrevocably and unconditionally appoints Fintech Finance to be its attorney and agent for the purpose of appointing the Client as Officer in Fintech Finance place.
			li.list-terms__item
				| The Officers or nominees provided by Fintech Finance to act as Directors in a Client’s Entity shall be acting exclusively upon the instructions received from the Client and therefore will not be involved in a day-to-day operations and/or signing of contracts for or on behalf of the Entity, or act as a guarantor on behalf of the Client and/or the Entity.
			li.list-terms__item
				| An Officer or nominee acting as Director in the Client’s Entity, may entertain the Client’s request to sign contracts and/or various documents subject to the provisions contained in 9.6 hereof and for a fee to be agreed from time to time with the Client.
			li.list-terms__item
				| An Officer or nominee acting as Director in the Client’s Entity will not place their signature on an agreement, or an document, which refer to any loans or encumbrance made on behalf of the Entity or any other agreement or document, which in the opinion of the Officer or nominee, constitute high risk and may create liability to the Entity, Fintech Finance and Officers or Nominees acting as Directors in the Client’s Entity.
		h3.title-terms
			| 10. ADDITIONAL OBLIGATIONS WHERE Fintech Finance PROVIDES REGISTERED OFFICE ADDRESS
		ul.list-terms
			li.list-terms__item
				| Where Fintech Finance provides the registered office and registered address to the Entity, the Client will at no time make any reference to the registered office address in an advertisement, public announcement, promotion, or a website, without prior written consent of Fintech Finance. At no time the Client may present such registered office and registered address as the location of the actual business operations of the Entity, its commercial records, management and control.
		h3.title-terms 11. FEES AND REFUNDS OR
		ul.list-terms
			li.list-terms__item
				| Fees and refunds are governed by the Terms of Payment, which are incorporated by reference and should be read together with these Terms and Conditions of Business.
		h3.title-terms 12. FORCE MAJEURE
		ul.list-terms
			li.list-terms__item
				| Fintech Finance shall not be liable for any delay or failure to perform any of its obligations in connection with the supply of any goods or services ordered by the Client through the website or otherwise if the delay or failure results from events or circumstances outside the reasonable control, including but not limited to acts of God, strikes, lock outs, accidents, war, fire or failure of any communications, telecommunications or computer system, and Fintech Finance shall be entitled to a reasonable extension of its obligations to the Client (to the extent Fintech Finance owes any such obligations) should a force Majeure event occur.
			li.list-terms__item
				| If a Force Majeure event to which this clause applies occurs, Fintech Finance agrees to notify the Client as soon as practicable. If the Force Majeure event continues for more than 14 days, either party shall have the right to cancel the Agreement and where services have been paid for in advance, but have not been rendered, the Client will be entitled to a refund from the date of cancellation for all such services.
		h3.title-terms 13. CESSATION OF SERVICES
		ul.list-terms
			li.list-terms__item
				| Fintech Finance will be entitled by a written notice to cease provision of the Services to the Client if:
			li.list-terms__item
				| a) the Client is, in the reasonable opinion of Fintech Finance, in breach of these Terms and Conditions, provided such breach is not remedied within fifteen (15) days following the written notice given by Fintech Finance;
			li.list-terms__item
				| b) it comes to the attention of Fintech Finance that the Entity is being used for activities, which were not declared and referred to in the application submitted by the Client to Fintech Finance during incorporation of the Entity, and/or these activities are considered to be Illegal or Prohibited as defined in clauses 2.1 and 2.2. of these Terms and Conditions;
			li.list-terms__item
				| c) in the event that any legal proceedings are commenced against the Entity or the Client.
			li.list-terms__item
				| In any of the circumstances described in 12.1 above, Fintech Finance reserve the right to proceed according to Clause 4.1 hereof without further liability on the part of Fintech Finance.
		h3.title-terms 14. NOTICES
		ul.list-terms
			li.list-terms__item
				| Any notice required to be served pursuant to these Terms and Conditions may be served by DHL express post, email or facsimile to the address and as per details last known to the parties. A notice shall be deemed served:
				br
				| within five (5) business days if sent by DHL express post;
				br
				| by facsimile or email if confirmed by a successful transmission report.
		h3.title-terms 1.  MISCELLANEOUS
		ul.list-terms
			li.list-terms__item
				| References to one gender include all genders and references to the singular include the plural and vice versa.
			li.list-terms__item
				| This Agreement incorporates by reference other provisions applicable to use of the websites, products and services of Fintech Finance including, but not limited to, Privacy Policy, Disclaimer, Terms of Payment and Terms of Use, which are published on the websites.
			li.list-terms__item
				| No variations of these Terms and Conditions shall be binding on the parties unless agreed in writing.
			li.list-terms__item
				| If at any time any provision of these Terms and Conditions is held invalid or unenforceable under any applicable law, the remainder of the same shall remain in full force and effect.
			li.list-terms__item
				| These Terms and Conditions supersede all previous written or verbal communications or representations between Fintech Finance and the Client.
			li.list-terms__item
				| Nothing in these Terms and Conditions suggests a legal partnership or agency between Fintech Finance and the Client.
			li.list-terms__item
				| The Client shall take his own independent advice on any matter relating to the Entity and any Services provided by Fintech Finance that may concern the Client, or his Entity, or personal affairs and shall not rely on any representations (whether written, verbal, expressed, implied or otherwise) made by Fintech Finance, its Officers or employees. As it is the Client’s responsibility to seek expert legal advice, Fintech Finance shall not accept any liability to the Client, his Entity or any third party for any claims, damage or loss arising out or in connection with the use of any of the Services.
			li.list-terms__item
				| Neither failure nor delay in exercising by a party hereto of any power or right conferred by these Terms and Conditions shall operate as a waiver of such power or right unless otherwise agreed in writing.
		h3.title-terms 2.  GOVERNING LAW & JURISDICTION
		ul.list-terms
			li.list-terms__item
				| These Terms and Conditions shall be governed by and construed in all respects in accordance with the laws of the UK. Any dispute that arises concerning the interpretation of these Terms and Conditions shall be resolved in the courts of the UK.
