.text-page.long
	h3.title-terms 1. DEFINICIONES
	ul.list-terms
		li.list-terms__item
			| “Fintech Finance” se refiere a Fintech Finance Consulting Ltd (Registered No. 10417470, Registered address: 71-75 Shelton Street, Covent Garden,London,WC2H 9JQ)y todos sus filiales, agentes o compañías asociadas en todo el mundo, así como todos sus directores, empleados, colaboradores, consultores y cesionarios
		li.list-terms__item
			| “Empleado de Fintech Finance” se refiere a cualquier persona (definida a continuación), empresa o compañía, designada por Fintech Finance, que de vez en cuando se designa como director, subdirector, secretario, sustituto del secretario, socio, contable, persona autorizada, propietario nominal, depositario, signatario de la cuenta bancaria, administrador, agente registrado, proveedor de la oficina registrada o dirección de la Organización (como se estipula a continuación).
		li.list-terms__item
			| “Cliente” se refiere al(los) Propietario(s) finales de la Organización (como se estipula a continuación) y/o a cualquier persona que ha solicitado que Fintech Finance le preste Servicios (como se estipula a continuación) o que ha dado su consentimiento para pagar los Servicios, y/o cualquier persona que había pagado previamente los Servicios, y/o a cualquier persona en nombre de la cual o a su favor se prestan los Servicios (como se estipula a continuación), incluyendo también a cualquier persona facultada a representar al Cliente (Persona autorizada como se estipula a continuación) y en caso de varias personas, a todas estas personas junta y separadamente.
		li.list-terms__item
			| “Persona autorizada” se refiere a la persona facultada por el Cliente para dar indicaciones por él y en su nombre para Fintech Finance, como si fueran indicaciones dadas por el propio Cliente.
		li.list-terms__item
			| “Persona” se refiere a cualquier persona física o jurídica, organización o empresa  constituida u otra asociación con constitución o sin constitución de la persona jurídica.
		li.list-terms__item
			| “Organización” se refiere a cualquier compañía, fideicomiso, sociedad, fondo o cualquier otra persona jurídica fundada y/o administrada por Fintech Finance a solicitud y/o en nombre del Cliente.
		li.list-terms__item
			| “Servicios” se refiere a la formación de cualquier compañía, fideicomiso, sociedad, fondo o cualquier otra Organización, provisión de la oficina registrada, agente registrador, secretario de la compañía, director, empleado, accionista, gestión de la documentación corporativa y contable, preparación y presentación de los informes financieros y declaraciones anuales y/o prestación de cualesquiera otros servicios de administración o gestión u otros tipos de servicios solicitados por el Cliente y los que figuran en el catálogo de servicios de Fintech Finance, o señalados en los materiales publicitarios de Fintech Finance, o en sus sitios web y/o cualesquiera otros pedidos/solicitados/aceptados por el Cliente.
		li.list-terms__item
			| “Lista de precios” se refiere a la lista de precios para los servicios, editada periódicamente por Fintech Finance;
		li.list-terms__item
			| “Día de trabajo” se refiere el día, cuando Fintech Finance está abierta normalmente para llevar a cabo su actividad.
		li.list-terms__item
			| “Términos y condiciones” hace referencia a los presentes Términos y Condiciones u otros términos y condiciones similares que podrán publicarse periódicamente en los sitios web de Fintech Finance, y deben considerarse como los que contengan otras condiciones similares que Fintech Finance podrá periódicamente aconsejar al Cliente o publicarlos de vez en cuando en los sitios web de Fintech Finance. Los presentes Términos y Condiciones se aplicarán a todos los Clientes de Fintech Finance y constituyen efectivamente un Acuerdo obligatorio entre el Cliente y Fintech Finance.
		li.list-terms__item
			| “Sitio web” o “Sitio” se refiere al sitio web que usted está viendo al hacer clic en el enlace de los presentes Términos y Condiciones comerciales, incluyendo todas las páginas auxiliares.
	h3.title-terms 2. ACTIVIDAD PROHIBIDA Y ACTIVIDAD QUE REQUIERE UNA AUTORIZACIÓN ESPECIAL
	ul.list-terms
		li.list-terms__item
			| “Actividad ilegal” hace referencia a cualquier actividad señalada en cualquier parte del mundo como ilegal o criminal, incluyendo las actividades relacionadas con el terrorismo, tráfico ilegal de drogas, lavado de dinero, obtención de ingresos de la actividad criminal y comercio con países que de vez en cuando podrán ser sometidos a embargos impuestos por el Consejo de Seguridad de las Naciones Unidas, Unión Europea o similares organizaciones internacionales.
		li.list-terms__item
			| “Actividad prohibida” se refiere a la actividad no ratificada actualmente por Fintech Finance, incluyendo la actividad vinculada con: comercio, distribución o fabricación de armas, municiones, equipamientos; reclutamiento de mercenarios o contratación de soldados; equipos para mantener el orden público y antidisturbios; todo tipo de dispositivos que pueden violar los derechos humanos o utilizarse para torturas; equipamiento de la vigilancia técnica o escucha; espionaje industrial; materiales biológicos, químicos o nucleares peligrosos o dañinos, incluyendo equipos o máquinas que se usan para fabricar, manejar o reciclar estos materiales; órganos humanos o animales; maltrato de animales o su utilización para llevar a cabo pruebas científicas o comerciales; materiales genéticos; agencias de adopción, incluyendo la maternidad subrogada; abuso de los derechos humanos; pornografía; accesorios para usar estupefacientes; pirámides financieras; cultos religiosos y sus organizaciones benéficas; actividad económica que a tenor de las leyes y reglas del país de formación de la Organización está sujeta al licenciamiento y la que se lleva a cabo sin obtener licencia (“Actividades susceptibles de licencia”, como se estipula a continuación); cualquier otra actividad, la que a juicio de Fintech Finance, pudiese afectar la reputación de Fintech Finance o la reputación del país de formación de la Organización.
		li.list-terms__item
			| “Personas prohibidas” se refiere a personas que forman parte de la lista negra por cualquier razón de conformidad con la legislación de cualquier país o quienes se encuentran bajo la prohibición o son incapaces de constituir parte del contrato; personas en bancarrota, no exentas de las obligaciones o las que habían sido privadas de libertad o reconocidas culpables por haber cometido un delito penal; funcionarios gubernamentales o políticos; personas que evidentemente actuaban de manera fraudulenta o deshonesta en cualquier proceso civil o que son residentes del país sometido a cualquier tipo de limitación internacional o embargo, incluso impuestos por el Consejo de Seguridad de las Naciones Unidas, Unión Europea u otras organizaciones internacionales.
		li.list-terms__item
			| “Actividad susceptible de licencia” se refiere a cualquier actividad que requiere licencia o autorización expedida por el órgano correspondiente de cualquier jurisdicción. La actividad en cuestión incluye sin limitaciones: prestación de los servicios financieros, relacionados con las operaciones de comerciales o de brokers en moneda extranjera, herramientas derivadas comerciales y financieras y otros títulos de valores; realización de consultas sobre inversiones al público; actividad bancaria y de seguros; gestión y administración de esquemas de las inversiones colectivas y fondos mutuos; servicios de procesamiento de pagos; cambio de divisas, transmisión del dinero y trading; gestión de activos; servicios de custodia segura; juegos, juegos de azar y loterías.
	h3.title-terms 3. DEMANDAS E INSTRUCCIONES DE LOS CLIENTES
	ul.list-terms
		li.list-terms__item
			| Fintech Finance ofrece una gama de servicios profesionales, incluyendo sin limitación: la creación de empresas; estructuración corporativa; administración y gestión; servicios de contabilidad, servicios de consultoría.
		li.list-terms__item
			| Al ofrecer Servicios Fintech Finance debe actuar siempre únicamente de acuerdo a las solicitudes o instrucciones recibidas del Cliente, y nunca debe actuar en su propia discreción, excepto en los casos en los que se ve obligada a actuar de manera diferente en función de las obligaciones legales.
		li.list-terms__item
			| Fintech Finance debe estar preparada para examinar y aprobar las solicitudes e instrucciones del Cliente.
		li.list-terms__item
			| Todas las instrucciones o solicitudes deben ser enviadas por el Cliente a la compañía Fintech Finance por escrito. En caso de duda razonable, Fintech Finance podrá solicitar al Cliente una verificación adicional de toda dicha solicitud o instrucción. Fintech Finance no será responsable por cualquier pérdida o daño causado por su falta de acción hasta verificar tal declaración o solicitud.
		li.list-terms__item
			| Fintech Finance puede, a su entera discreción, acordar actuar de acuerdo con la solicitud o instrucción del Cliente transmitida en otra forma que no sea por escrito. En este caso, Fintech Finance no será responsable por cualquier malentendido o error que aparezca al procesar tal solicitud o instrucción, las acciones por la cual se llevan a cabo de buena fe.
		li.list-terms__item
			| Fintech Finance puede, a su propia discreción, negarse a cumplir cualquier solicitud o instrucción recibida del Cliente, si tal solicitud/instrucción o su ejecución en opinión de Fintech Finance sea injusta, incorrecta, maliciosa, o que sea contraria a cualquiera de las leyes o reglamentos aplicables, o que exponga a Fintech Finance o cualquiera de sus Empleados o funcionarios a cualquier clase de responsabilidad personal o riesgo de persecución en cualquier jurisdicción, o que sea ilegal de alguna otra forma.
		li.list-terms__item
			| Fintech Finance puede negarse a trabajar en cualquier solicitud o instrucción que parezca incompleta, confusa, dudosa o la procedencia de la cual no esté clara, y además no será responsable de todas las pérdidas o daños causados a consecuencia de su rechazo en actuar hasta que tales defectos sean corregidos a su satisfacción.
		li.list-terms__item
			| En ausencia de negligencia grave por parte de Fintech Finance, el Cliente deberá correr con todos los riesgos de pérdida o daño causado por la no recepción o no envío de cualesquiera otras instrucciones, solicitudes o información, por estar incompleta, ilegal, dudosa o inexacta dicha notificación, o por causa de cualquier instrucción o aviso emitido por terceros no autorizados que intentan de forma ilegal representar al cliente.
		li.list-terms__item
			| En sus sitios web y en materiales promocionales Fintech Finance puede proporcionar información relativa a los distintos productos y servicios ofrecidos por Fintech Finance. Dicha información no constituye asesoramiento jurídico o fiscal y no debe considerarse representar este tipo de asesoramiento, o ser utilizado por el Cliente como tal. El Cliente deberá recibir asesoramiento independiente sobre cualquier asunto relacionado con la Organización y cualquier Servicio prestado por Fintech Finance, que pueda influir al Cliente o afectarle a él o a sus asuntos privados.
	h3.title-terms 4. GESTIÓN DE ORGANIZACIONES
	ul.list-terms
		li.list-terms__item
			| El Cliente acepta incondicionalmente que si la Organización es una sociedad de responsabilidad limitada y Empleados de Fintech Finance son miembros o directores de esta sociedad, o la Organización es una asociación y los Empleados de Fintech Finance son miembros de esta asociación, o la Organización es un fideicomiso y los Empleados de Fintech Finance son fiduciarios o custodios de este fideicomiso, o la Organización es un fondo y los Empleados de Fintech Finance son los fundadores o miembros de la junta, y debido a la falta de pago de las tasas de Fintech Finance y/o cualquier otro cargo asociado con la Organización durante más de 60 días, Fintech Finance debe, sin obligación de proporcionar aviso previo al Cliente, tomar tales medidas que a su propia discreción considere apropiadas, incluyendo sin limitación los siguientes: la eliminación del registro, cese de actividad o liquidación de la Organización; o el despido de la totalidad o de cualquier Empleado de Fintech Finance; o transferir todos o cualquiera de las acciones, del capital o  de activos o pasivos de la Organización a nombre del Cliente; o el nombramiento del Cliente en calidad de director, empleado, encargado, fiduciario, custodio o fundador, o miembro de la junta de la Organización; o adoptar otras medidas que Fintech Finance a su propia discreción puede considerar apropiadas.
		li.list-terms__item
			| Fintech Finance debe mantener la confidencialidad de todos los documentos, mensajes o datos recibidos del Cliente, si el Cliente no proporciona una notificación previa por escrito que permita lo contrario. Estas obligaciones de confidencialidad no deben aplicarse si:
			br
			| Fintech Finance estuviese obligada por orden de un tribunal o autoridad competente a exhibir las pruebas y la información relacionada con el Cliente o con la actividad de la Organización del Cliente a los tribunales o a las autoridades competentes. En caso de recibir Fintech Finance dicha orden para divulgación, Fintech Finance debe, a menos que esté prohibido por la ley o por las otras condiciones de dicha orden, notificar al Cliente sobre ello.
			br
			| Si se presenta cualquier reclamación o se toma acción por terceros contra la Organización, o si aparecen algunas otra circunstancias que podrían en opinión de Fintech Finance tener que exigir a la empresa actuar en relación a las actividades de la Organización con el fin de proteger los mejores intereses del Cliente, de la Organización o de Fintech Finance, y si en tales circunstancias Fintech Finance es incapaz de conseguir unas instrucciones claras, apropiadas y legítimas de parte del Cliente, Fintech Finance tiene el derecho de actuar de cualquier manera que estime conveniente, razonable o apropiada en dichas circunstancias.
		li.list-terms__item
			| A la hora de prestar los servicios, Fintech Finance puede proporcionar información sobre el Cliente, su Organización o sus actividades comerciales a otras empresas o compañías asociadas con Fintech Finance, sus auditores y asesores jurídicos, y el Cliente consiente la divulgación de tal información por parte de Fintech Finance. Toda la información, correspondencia, registros y datos relativos a la Organización y almacenados por Fintech Finance en cualquier sistema informático, son propiedad exclusiva de Fintech Finance y están destinados exclusivamente para su uso, y ni Cliente, ni Organización, ni ninguna otra persona que actúe en su favor o en su nombre, no debe tener ningún derecho de acceso o control sobre esta información, correspondencia, registros o datos. Fintech Finance tiene derecho a retener los derechos de propiedad y mantener una copia de toda la información, correspondencia, registros y datos semejantes para el uso exclusivo de la misma. Las disposiciones de este párrafo permanecerán en vigor en caso de la terminación de la aplicación de estos Términos y Condiciones.
		li.list-terms__item
			| En el caso de viajes en relación con el cambio de la dirección registrada y la oficina registrada de la Organización del Cliente, Fintech Finance debe proporcionar al Cliente un aviso sobre tal cambio antes de no menos de veinte (20) días naturales. Fintech Finance no se hace responsable de cualquier coste incurrido por el Cliente como resultado de este cambio.
		li.list-terms__item
			| Si el Cliente va a pedir a Fintech Finance la prestación de los accionistas, directores u otros Empleados para su Organización, Fintech Finance puede, al amparo de lo dispuesto en el Artículo 2(b) del presente documento, aceptar tal solicitud y designar a cualquier persona para cualquier cargo o posición de este índole, así como modificar, sustituir o despedir a dichas personas designadas, que pueden ser personas físicas o jurídicas.
		li.list-terms__item
			| Nada en los presentes Términos y Condiciones hace a Fintech Finance responsable de cualquier decisión comercial tomada por el Cliente con respecto a la Organización o a su actividad comercial.
		li.list-terms__item
			| En caso de que (I) cualquier reclamación, demanda o acción llevada a cabo en contra de la Organización con el objetivo de que pague cualquier cantidad a satisfacer o por Fintech Finance, o por un tercero, incluyendo sin limitación cualquier impuesto, tasa, derecho, tasa gubernamental y estatal, y tal pago no se hace; o que (II) Fintech Finance necesita asistencia o información del Cliente, y fue incapaz de obtener este tipo de asistencia o información; o (III) el Cliente incumple cualquiera de sus obligaciones establecidas en estos Términos y Condiciones, Fintech Finance puede tomar una de las siguientes acciones:
			br
			| a) abstenerse de cualquier acción o actividad de cualquier tipo relativa a un tema en particular o a la Organización misma; o
			br
			| b) utilizar cualquier activo de la Organización o los medios disponibles por Fintech Finance o por la Organización para protegerse de dicha reclamación, demanda o acción, o para satisfacer dicha reclamación, demanda o acción; o
			br
			| c) tomar cualquier otra acción que Fintech Finance puede a su propia discreción considerar apropiada para defenderse a si misma y a la Organización.
			br
			| Fintech Finance será responsable por cualquier pérdida o daño del Cliente o su Organización incurrido en las circunstancias descritas en el presente apartado.
		li.list-terms__item
			| En caso del incumplimiento por parte del Cliente de cualquiera de las obligaciones asumidas en virtud de estos Términos y Condiciones, así como del hecho de no remediar tal incumplimiento dentro de los 14 días naturales siguientes a la notificación por Fintech Finance, Fintech Finance podrá adoptar cualquiera de las siguientes medidas:
			br
			| a) negarse a proporcionar cualquiera o todos los Servicios;
			br
			| b) iniciar el proceso con el objetivo de limitar las actividades o liquidar la Organización;
			br
			| c) utilizar cualquier activo de la Organización con el fin de remediar los incumplimientos del Cliente.
			br
			| Fintech Finance no será responsable en relación o como resultado de cualquier acto u omisión, cometido en conformidad con lo dispuesto en este párrafo.
	h3.title-terms 5. LIMITACIÓN DE RESPONSABILIDAD
	ul.list-terms
		li.list-terms__item
			| Fintech Finance renuncia expresamente a cualquier responsabilidad ante el Cliente, Organizaciones o cualquier tercero relacionado con ellos, que aparece como resultado de cualquier daño o pérdidas sufridas como consecuencia de la creación, adquisición o funcionamiento de la Organización, y/o como consecuencia de la prestación de Servicios al Cliente, Organizaciones o cualquier tercero.
		li.list-terms__item
			| Fintech Finance no será responsable (ya sea por contrato, agravio o de otra manera, incluyendo el incumplimiento de obligaciones impuestas por la ley) en relación con la prestación de los Servicios, de cualquier pérdida derivada sufrida en cualquier forma, incluyendo sin limitación la pérdida de beneficios, negocios o los ahorros esperados por el Cliente.
		li.list-terms__item
			| Fintech Finance no será responsable por cualquier incumplimiento de cualquier solicitud, instrucción u orientación del Cliente que no haya sido recibida o que es incompleta, dudosa e ilegal, o en caso de ausencia, en opinión de Fintech Finance, de la autoridad correspondiente en la persona que entrega dicha notificación.
		li.list-terms__item
			| Fintech Finance no será responsable por cualquier acto, omisión o negligencia de toda persona física o jurídica que es nombrada en calidad de director, accionista, funcionario, empleado, agente, una persona física, fiduciario, gerente, firmante o representante en relación con la Organización, u otra persona, o entidad asociada a la Organización.
	h3.title-terms 6. COMPENSACIONES
	ul.list-terms
		li.list-terms__item
			| El Cliente debe en todo momento indemnizar y salvaguardar a Fintech Finance y sus Empleados y funcionarios:
			br
			| a) de todas las acciones, demandas, procedimientos, reclamaciones, perdidas, tasas, cargos, gastos y obligaciones (incluyendo gastos jurídicos) que se pueda incurrir, iniciar o que podrían amenazar a Fintech Finance y/o a sus funcionarios en relación con la Organización o las instrucciones del Cliente;
			br
			| b) en relación con el incumplimiento total o parcial por Fintech Finance de cualquier instrucción, orden o solicitud hecha por el Cliente, o en relación con cualquier error o con instrucciones o solicitudes incompletas recibidas por Fintech Finance del Cliente;
			br
			| c) en relación con cualquier sanción penal, multa, tasa u otra obligación incurrida por el Cliente y/o la Organización en relación con la Organización y/o con los Servicios.
		li.list-terms__item
			| Dicha compensación se entenderá sin perjuicio para cualquier otro recurso y/o medio de defensa legal a favor de Fintech Finance y/o sus funcionarios, empleados, agentes o cesionarios. La terminación del presente Acuerdo o cualquier Servicio proporcionado por Fintech Finance no liberará al Cliente de su obligación de indemnizar a Fintech Finance.
	h3.title-terms 7. GARANTÍAS
	ul.list-terms
		li.list-terms__item
			| El Cliente se compromete y asegura a Fintech Finance, que:
			br
			| 1)tiene plena capacidad jurídica y salud mental, memoria y comprensión para la conclusión de un acuerdo con Fintech Finance en conformidad con los presentes Términos y Condiciones y para obtener los Servicios;
			br
			| 2) no está en bancarrota;
			br
			| 3) cumplirá con los presentes Términos y Condiciones;
			br
			| 4) está de acuerdo con que Fintech Finance se base (pero no obligatoriamente) en las comunicaciones recibidas del Cliente para determinar qué medidas deben ser tomadas por Fintech Finance en la gestión de su Organización o en la prestación de los Servicios;
			br
			| 5)    pagará en su totalidad cualquier impuesto personal y corporativo que pueda resultar efectivo como resultado de la creación y el funcionamiento de la Organización.
	h3.title-terms 8. COMPROMISOS Y OBLIGACIONES DEL CLIENTE
	ul.list-terms
		li.list-terms__item
			| El Cliente se compromete a notificar inmediatamente a Fintech Finance de la naturaleza de las actividades y negocios de la Organización, y obtener el consentimiento por escrito de Fintech Finance antes de introducir cualquier cambio en dichas actividades.
		li.list-terms__item
			| Fintech Finance está obligada por ley a tener presentes los documentos que confirman el estatus legal (conozca a su cliente). El Cliente se compromete expresamente a revelar y proporcionar a Fintech Finance dichos documentos o cualquier otra información que Fintech Finance considere necesaria o deseable, tanto en la etapa de la admisión del Cliente, como de forma continua, para que Fintech Finance pueda cumplir con sus obligaciones legales.
		li.list-terms__item
			| Para que Fintech Finance pueda en todo momento contactar con el Cliente, el Cliente está obligado a proporcionar la información completa y notificar inmediatamente a Fintech Finance de cualquier cambio en su lugar de residencia, sus números de teléfono y fax, además de las direcciones de correo electrónico, en adicción a cualquier dirección de contacto comercial o de otro tipo que pueda ser concedida.
		li.list-terms__item
			| El Cliente se compromete a no dar cualquier clase de instrucciones, órdenes o hacer solicitud alguna a Fintech Finance, que pueda desembocar en una violación por parte de Fintech Finance de la legalidad de cualquier país.
		li.list-terms__item
			| El Cliente debe proporcionar a Fintech Finance toda la información, asistencia y cooperación que Fintech Finance puede requerir a su propia discreción con el fin de proporcionar los Servicios. Fintech Finance no será responsable de las consecuencias que puedan surgir como resultado del incumplimiento por parte del Cliente de este requisito, que impliquen cargos adicionales impuestos y por pagar por el Cliente.
		li.list-terms__item
			| El Cliente confirma con lo presente que todos los bienes introducidos en la Organización fueron constituidos legalmente y no se han recibido como resultado de actividad ilegal.
		li.list-terms__item
			| El Cliente se compromete a impedir la involucración o la participación de Fintech Finance y/o sus empleados, directa o indirectamente, en cualquier clase de actividades ilegales o prohibidas, o en actividades que se utilizan con fines ilegales.
		li.list-terms__item
			| El Cliente está obligado a proporcionar a Fintech Finance un aviso por escrito de su intención de rescindir de los Servicios antes de no menos de 30 días.
		li.list-terms__item
			| El Cliente está obligado a proporcionar a Fintech Finance un aviso previo por escrito en el caso de las intenciones de cambiar del beneficiario de la Organización.
		li.list-terms__item
			| El Cliente debe pagar puntualmente la cantidad a satisfacer para Fintech Finance, incluyendo honorarios, costos y gastos incurridos por Fintech Finanzas en relación con la Organización y/o con la prestación de los Servicios.
	h3.title-terms
		| 9. OBLIGACIONES DEL CLIENTE EN CASO DE OFRECER Fintech Finance SERVICIOS DE LOS EMPLEADOS O DE PERSONA DESIGNADA
	ul.list-terms
		li.list-terms__item
			| Fintech Finance debe estar siempre preparada para considerar y satisfacer las solicitudes del Cliente para proporcionar los servicios de los Empleados o de la persona designada para la Organización del Cliente, en el caso de aceptar tal solicitud, y también teniendo en cuenta las limitaciones previstas en los presentes Términos y Condiciones.
		li.list-terms__item
			| En el caso de ofrecer Fintech Finance los servicios de Empleados o de persona designada, el Cliente debe
			br
			| a) siempre a petición de Fintech Finance, pagarle a Fintech Finance las sumas que puedan ser necesarias para permitirle a Fintech Finance cumplir plenamente con todas las obligaciones (incluyendo las comisiones de Fintech Finance);
			br
			| b) previa solicitud por escrito de Fintech Finanzas, proporcionar inmediatamente la información necesaria para la elaboración por Fintech Finance de la declaración anual u otras declaraciones vinculantes, informes financieros y otros relativos a la Organización;
			br
			| c) informar inmediatamente a Fintech Finance por escrito sobre cualquier procedimiento, reclamación y demanda judicial, formulada contra o que amenace a la Organización o Fintech Finance;
			br
			| d) almacenar y llevar, además de proporcionar a Fintech Finance a solicitud previa, los registros financieros y comerciales precisos.
		li.list-terms__item
			| El Cliente reconoce y entiende que los Empleados o las personas designadas pueden ser personalmente responsables en caso del incumplimiento de ciertas obligaciones legales asociadas con la Organización, y que el cumplimiento de estas obligaciones legales depende del pago inmediato por el Cliente de las tasas y de responder a las solicitudes de información. En el caso del impago por el Cliente de las tasas a la fecha prevista o a solicitud, o en caso de su incapacidad para responder inmediatamente a las solicitudes de información, los Empleados o las personas designadas tienen derecho a renunciar a sus cargos, y el Cliente por lo presente asigna incondicional e irrevocablemente a Fintech Finance como su apoderado y agente para fines de designar al Cliente en calidad de Empleado en lugar de Fintech Finance.
		li.list-terms__item
			| Los empleados o las personas designadas, ofrecidas por Fintech Finance para actuar en calidad de Directores en la Organización del Cliente deben actuar únicamente de acuerdo con las instrucciones recibidas del Cliente y, por lo tanto, no van a participar en las actividades diarias y/o en la firma de contratos para la Organización o en su nombre, o actuar como garante en nombre del Cliente y/o de la Organización.
		li.list-terms__item
			| El Empleado o la persona designada que actúa en calidad de Director en la Organización del Cliente puede satisfacer la solicitud del Cliente para firmar el contrato y/o diferentes documentos, teniendo en cuenta las disposiciones establecidas en el punto 9(f) de presente documento, y por un precio acordado de vez en cuando con el Cliente.
		li.list-terms__item
			| Un empleado o persona designada que actúa en calidad de Director en la Organización del Cliente, no pondrá su firma en un acuerdo o un documento relativo a cualquier préstamo o gravamen realizado en nombre de la Organización, así como cualesquiera otros acuerdos o documentos que en opinión del Empleado o la persona designada representan un alto riesgo y pueden crear obligaciones para la Organización, Fintech Finance o los Empleados o personas designadas que actúen en calidad de Directores en la Organización del Cliente.
	h3.title-terms
		| 10. OBLIGACIONES ADICIONALES EN CASO DE OFRECER LA DIRECCIÓN DE OFICINA REGISTRADA POR PARTE DE Fintech Finance
	ul.list-terms
		li.list-terms__item
			| En caso de proporcionar a la Organización la oficina y dirección registradas por parte de Fintech Finance, el Cliente bajo ninguna circunstancia debe aportar esta dirección de la oficina registrada en cualquier tipo de publicidad, anuncios públicos, campañas promocionales o páginas web, sin el consentimiento previo por escrito de Fintech Finance. En ningún caso el Cliente debe presentar tal oficina y dirección registradas en calidad del lugar de la actividad comercial real de la Organización, lugar de ubicación de sus registros comerciales, su gestión y control.
	h3.title-terms 11. COMISIONES E INDEMNIZACIONES
	ul.list-terms
		li.list-terms__item
			| El pago de comisiones e indemnizaciones se regula por las Condiciones de pago, que se incluyen en los presentes Términos y Condiciones comerciales en calidad de enlace y deben interpretarse en conjunto con estos.
	h3.title-terms 12. FUERZA MAYOR
	ul.list-terms
		li.list-terms__item
			| Fintech Finance no será responsable de cualquier retraso o incumplimiento de cualquiera de sus obligaciones en relación con el suministro de cualquiera de los bienes o servicios solicitados por el Cliente a través de la página web o de la otra forma, si tal demora o incumplimiento se debe a circunstancias o eventos más allá del control razonable, incluyendo sin limitación los desastres naturales, huelgas, despidos masivos, accidentes, guerra, incendios o fallos de cualquier sistema de comunicaciones, telecomunicaciones o informática, y Fintech Finance tiene derecho a una extensión razonable de sus obligaciones con el Cliente (en la medida en que se puede utilizar este tipo de obligaciones) en caso de aparecer condiciones de fuerza mayor.
		li.list-terms__item
			| En caso de aparecer condiciones de fuerza mayor, a las que se aplica esta disposición, Fintech Finance debe informar al Cliente en un plazo razonable y razonablemente corto de tiempo. Si la condición de fuerza mayor continúa funcionando durante más de 14 días, cualquiera de las partes ha de tener derecho de dar por terminado el Acuerdo, y en el caso del pago por adelantado de los servicios no prestados, el Cliente tiene derecho a recuperar el importe por los servicios no utilizados, antes de la fecha de terminación.
	h3.title-terms 13. TÉRMINO DE PRESTACIÓN DE SERVICIOS
	ul.list-terms
		li.list-terms__item
			| Fintech Finance tiene el derecho de suspender la prestación de Servicios al Cliente mediante un aviso por escrito, si:
		li.list-terms__item
			| a) El Cliente, en la opinión razonable de Fintech Finance, incumple los presentes Términos y Condiciones, siempre que dicho incumplimiento no sea subsanado dentro de 15 días después de la notificación por escrito entregada por Fintech Finance;
		li.list-terms__item
			| b) Fintech Finance descubre que la Organización se utiliza para la actividad que no ha sido declarada o determinada en la solicitud presentada por el Cliente a Fintech Finance durante el establecimiento de la Organización, y/o si esta actividad se considera ilegal o prohibida de acuerdo con la definición establecida en el artículo 2(a) y 2(b) de los presentes Términos y Condiciones;
		li.list-terms__item
			| c) En caso de iniciación de cualquier procedimiento judicial en relación a la Organización o el Cliente.
		li.list-terms__item
			| En cualquiera de las circunstancias descritas en el punto 12(a) de más arriba, Fintech Finance tiene el derecho de actuar de conformidad al punto 4(a) del presente documento, sin otro tipo de consiguiente responsabilidad por parte de Fintech Finance.
	h3.title-terms 14. AVISOS
	ul.list-terms
		li.list-terms__item
			| Cualquier notificación requerida para presentarse en virtud de los presentes Términos y Condiciones, puede ser transmitida a través del servicio de entrega urgente DHL, correo electrónico o fax, a la última dirección conocida por las partes. La notificación hay que considerarla entregada:
			br
			| después de 5 (cinco) días laborales después del envío por medio del servicio de entrega urgente DHL,
			br
			| por fax o correo electrónico, en presencia de un informe de transmisión exitosa.
	h3.title-terms 15.  OTRAS DISPOSICIONES
	ul.list-terms
		li.list-terms__item
			| Las referencias a un género incluyen las referencias a cualquiera o todos los géneros, y la referencia al singular incluye el plural y viceversa;
		li.list-terms__item
			| El presente Acuerdo incluye, por medio de referencia, otras disposiciones aplicables al uso de las páginas web, productos y servicios de Fintech Finance, incluyendo sin limitación la Política de privacidad, Exención de responsabilidad, Condiciones de pago y Condiciones de uso, publicadas en las páginas web.
		li.list-terms__item
			| Cualquier cambio en los presentes Términos y Condiciones será vinculante para las partes sólo si éstos se acuerdan por escrito.
		li.list-terms__item
			| En el caso de que cualquier disposición de los presentes Términos y Condiciones será considerada inválida o imposible de aplicar de acuerdo a cualquier ley aplicable, las disposiciones restantes continuarán en pleno vigor y efecto.
		li.list-terms__item
			| Los presentes Términos y Condiciones sustituyen todos los anteriores informes o declaraciones escritas y orales hechas entre la Fintech Finance y el Cliente.
		li.list-terms__item
			| Nada en los presentes Términos y Condiciones implica una asociación jurídica o de agencia entre Fintech Finance y el Cliente.
		li.list-terms__item
			| El Cliente deberá recibir por si mismo un asesoramiento independiente sobre cualquier asunto relacionado con la Organización y cualquier Servicio proporcionado por Fintech Finance, que puede referirse al Cliente o a su Organización o a los asuntos personales, y no debe confiar en ninguna declaración (escrita, oral, expresa, implícita o de otro tipo) que hace Fintech Finance, sus Empleados o funcionarios. Ya que el Cliente es responsable de obtener asesoramiento jurídico especializado, Fintech Finance no será responsable ante el Cliente, su Organización o cualquier tercero por cualquier reclamación, pérdida o daño causado como resultado del uso de cualquiera de los Servicios o en relación con ellos.
		li.list-terms__item
			| Ninguna falta o retraso en el cumplimiento por cualquiera de las partes del presente acuerdo de cualquiera de las atribuciones o derechos otorgados por los presentes Términos y Condiciones no constituirá una renuncia a tal derecho o servicio, salvo si lo contrario sea acordado por las partes en forma escrita.
	h3.title-terms 2.  LEY APLICABLE Y JURISDICCIÓN
	ul.list-terms
		li.list-terms__item
			| Los presentes Términos y Condiciones han de regirse e interpretarse en todos los aspectos de acuerdo con las leyes de la Gran Bretaña. Cualquier disputa sobre la interpretación de los presentes Términos y Condiciones ha de resolverse en los tribunales de la Gran Bretaña.
