.text-page.long
	h3.title-terms 1. ОПРЕДЕЛЕНИЯ
	ul.list-terms
		li.list-terms__item
			| “Fintech Finance”  означает Fintech Finance Consulting Ltd (зарегистрированный номер 10417470, зарегистрированный адрес: 71-75 Shelton Street, Covent Garden,London,WC2H 9JQ) и любые ее филиалы, агентов или ассоциированные компании по всему миру, а также любых ее директоров, служащих, сотрудников, консультантов и правопреемников.
		li.list-terms__item
			| “Сотрудник Fintech Finance” означает любое лицо (согласно определению ниже), фирму или компанию, назначаемую Fintech Finance, которая время от времени назначается в качестве директора, заместителя директора, секретаря, заместителя секретаря, партнера, бухгалтера, доверенного лица, назначенного лица, хранителя, подписанта банковского счета, администратора, зарегистрированного агента, поставщика зарегистрированного офиса или адреса Организации (согласно определению ниже).
		li.list-terms__item
			| “Клиент” означает Бенефициарного владельца(ев) Организации (согласно определению ниже) и/или любое лицо, запросившее у Fintech Finance предоставление Услуг (согласно определению ниже), или любое лицо, согласившееся оплатить Услуги, и/или любое лицо, ранее оплатившее Услуги, и/или любое лицо, от чего имени или в пользу которого Услуги будут предоставлены, также включая любое лицо, уполномоченное представлять Клиента (Уполномоченное лицо, согласно определению ниже), и в случае нескольких лиц, все такие лица, совместно и порознь.
		li.list-terms__item
			| "Уполномоченное лицо" означает лицо, уполномоченное Клиентом за и от его имени на дачу указаний Fintech Finance, как если бы такие указания давались самим Клиентом.
		li.list-terms__item
			| "Лицо" означает любое физическое или юридическое лицо, компанию, учрежденную фирму или другое объединение, с образованием или без образования юридического лица.
		li.list-terms__item
			| "Организация" означает любую компанию, траст, товарищество, фонд или любое другое юридическое лицо, учрежденное и/или управляемое Fintech Finance по запросу и/или от имени Клиента.
		li.list-terms__item
			| "Услуги" означает формирование любой компании, траста, товарищества, фонда или любой другой Организации, предоставление зарегистрированного офиса, регистрационного агента, секретаря компании, директора, служащего, акционера, ведение корпоративной и бухгалтерской документации, подготовка и подача финансовой отчетности и годовых деклараций и/или любых других услуг по администрированию или управлению, или любых видов услуг, запрошенных Клиентом, содержащихся в каталоге услуг Fintech Finance, или указанных в рекламных материалах Fintech Finance, или на их веб-сайтах, и/или любых других услуг, заказанных/запрошенных/принятых Клиентом.
		li.list-terms__item
			| "Прейскурант" означает прейскурант на услуги, периодически издаваемый Fintech Finance;
		li.list-terms__item
			| "Рабочий день" означает день, в который Fintech Finance обычно открыта для ведения деятельности;
		li.list-terms__item
			| "Положения и условия" означает данные Положения и условия или другие такие положения и условия, информация о которых может периодически публиковаться на веб-сайтах Fintech Finance и которые должны считаться включающими другие такие условия, которые Fintech Finance может периодически советовать Клиенту или информация о которых может периодически публиковаться на веб-сайтах Fintech Finance. Данные Положения и условия применяются ко всем Клиентам Fintech Finance и фактически являются обязательным Соглашением между Клиентом и Fintech Finance.
		li.list-terms__item
			| "Веб-сайт "Вебсайт" или "Сайт" означает веб-сайт, просматриваемый вами при нажатии на ссылку на данные Коммерческие положения и условия, включая все вспомогательные страницы.
	h3.title-terms 2. НЕРАЗРЕШЕННАЯ ДЕЯТЕЛЬНОСТЬ И ДЕЯТЕЛЬНОСТЬ, ТРЕБУЮЩАЯ СПЕЦИАЛЬНОГО РАЗРЕШЕНИЯ
	ul.list-terms
		li.list-terms__item
			| "Незаконная деятельность" означает любую деятельность, обозначенную в любой точке мира как незаконная или преступная, включая деятельность, связанную с терроризмом, незаконным оборотом наркотиков, отмыванием денег, получением доходов от преступной деятельности или торговля с такими странами, которые могут время от времени подвергаться любому эмбарго, введенному Советом Безопасности организации Объединенных Наций, Европейским Союзом или аналогичными международными организациями.
		li.list-terms__item
			| "Запрещенная деятельность" означает деятельность, в настоящее время не утвержденную Fintech Finance, включая деятельность, связанную с: торговлей, распространением или изготовлением оружия, боеприпасов, снаряжения; службой по найму или по контракту; оборудованием по обеспечению безопасности и сдерживанию массовых беспорядков, любыми устройствами, которые могут привести к нарушению прав человека или использоваться для пыток; оборудованием технического наблюдением или подслушивания; промышленным шпионажем; опасными или вредными биологическими, химическими или ядерными материалами, в том числе оборудование или машины, используемые в производстве, обращении или утилизации таких материалов; органами людей или животных; издевательством над животными или использованием животных для любых научных или товарных испытаний; генетическими материалами; агентствами по усыновлению, включая суррогатное материнство; злоупотреблением прав человека; порнографией; принадлежностями для употребления наркотиков; финансовыми пирамидами; религиозными культами и их благотворительными организациями; хозяйственной деятельностью, которая в соответствии с законами и правилами страны формирования Организации подлежит лицензированию и которая проводятся без получения лицензии ("Лицензируемые виды деятельности", согласно определению ниже); любая другая деятельность, которая, по мнению Fintech Finance, может нанести ущерб репутации Fintech Finance или репутации страны формирования Организации.
		li.list-terms__item
			| "Запрещенные лица" означает лица, внесенные в черный список по любой причине, в соответствии с законодательством любой страны, или которым было законно запрещено, или которые неспособны являться стороной договора; лица, являющиеся банкротами, не освобожденными от обязательств, или лица, которые были подвергнуты тюремному заключению или признаны виновными в совершении уголовного преступления; правительственные чиновники или политики; лица, которые, как было доказано, действовали мошенническим или нечестным способом в любом гражданском процессе или которые являются резидентами страны, подвергнутой любым международным ограничениям или эмбарго, в том числе наложенных Советом Безопасности Организации Объединенных Наций, Европейским Союзом или другими международными организациями.
		li.list-terms__item
			| "Лицензируемая деятельность" означает любую деятельность, требующую лицензии или разрешения, выданного соответствующим органом в любой юрисдикции. Такая деятельность включает, без ограничений: предоставление финансовых услуг, связанных с брокерскими/торговыми операциями в иностранной валюте, товарными и финансовыми производными инструментами и другими ценными бумагами; предоставление инвестиционных консультаций обществу; страховая и банковская деятельность; управление и администрирование схем коллективных инвестиций и паевых инвестиционных фондов; услуги по обработке платежей; обмен валюты, передача денежных средств и брокерское дело; управление активами; услуги безопасного хранения; игры, азартные игры и лотереи.
	h3.title-terms 3.  ЗАПРОСЫ И ИНСТРУКЦИИ КЛИЕНТОВ
	ul.list-terms
		li.list-terms__item
			| Fintech Finance предоставляет спектр профессиональных услуг, включая, без ограничений: учреждение компаний; корпоративное структурирование; администрирование и управление; предоставление бухгалтерских услуг, консультационные услуги.
		li.list-terms__item
			| При предоставлении Услуг Fintech Finance должна всегда действовать исключительно по запросам или инструкциям, полученным от Клиента, и никогда не должна действовать на свое собственное усмотрение, кроме как в случаях, в которых она вынуждена действовать иначе согласно законным обязательствам.
		li.list-terms__item
			| Fintech Finance должна быть готова рассмотреть и принять запросы и инструкции Клиента.
		li.list-terms__item
			| Все инструкции или запросы должны передаваться Клиентом компании Fintech Finance в письменной форме. В случае обоснованных сомнений, Fintech Finance может запросить у Клиента дополнительную проверку любого такого запроса или инструкции. Fintech Finance не должна нести ответственность за любые убытки или ущерб, возникший по причине ее бездействия до проверки такой инструкции или запроса.
		li.list-terms__item
			| Fintech Finance может, на свое собственное усмотрение, согласиться действовать согласно запросу или инструкции Клиента, переданному в иной форме, отличной от письменной. В этом случае Fintech Finance не должна нести ответственность за любое недоразумение или ошибку, возникшую при обработке такого запроса или инструкции, действия по которой выполняются добросовестно.
		li.list-terms__item
			| Fintech Finance может, на свое собственное усмотрение, отказаться выполнять любой запрос или инструкцию, полученную от Клиента, если такой запрос/инструкция или ее выполнение будет, по мнению Fintech Finance, нечестным, неправильным, вредоносным, или будет противоречить любому применимому законодательству или нормам, или будет подвергать Fintech Finance или любых ее Служащих или сотрудников любой персональной ответственности или риску преследования в любой юрисдикции, или будет являться незаконной иным образом.
		li.list-terms__item
			| Fintech Finance может отказаться от работы над любым запросом или инструкцией, которая покажется неполной, нечеткой, сомнительной, противоречащей или происхождение которой будет неясным, а также она не должна нести ответственность за любые убытки или ущерб, возникший по причине ее отказа действовать до тех пор, пока такие недостатки не будут исправлены к ее удовлетворению.
		li.list-terms__item
			| При отсутствии грубой халатности со стороны Fintech Finance, Клиент должен нести все риски потери или ущерба, возникшие в результате неполучения или неотправки каких-либо инструкций, запросов или информации, неполноты, незаконности, сомнительности или ошибочности любого такого уведомления, или по причине каких-либо инструкций или уведомлений, выданных неуполномоченными третьими лицами, незаконно пытающимися представлять клиента.
		li.list-terms__item
			| На своих веб-сайтах и в рекламных материалах Fintech Finance может предоставлять информацию, связанную с различными продуктами и услугами, предлагаемыми Fintech Finance. Такая информация не является юридической или налоговой консультацией и не должна считаться представляющей собой такую консультацию или использоваться Клиентом в качестве таковой. Клиент должен получать независимую консультацию по любым вопросам, связанным с Организацией и любыми Услугами, предоставляемыми Fintech Finance, которые могут повлиять на Клиента или затрагивать его или его личные дела.
	h3.title-terms 4.  УПРАВЛЕНИЕ ОРГАНИЗАЦИЯМИ
	ul.list-terms
		li.list-terms__item
			| Клиент безоговорочно соглашается с тем, что если Организация является компанией с ограниченной ответственностью и Сотрудники Fintech Finance являются членами или директорами этой компании, либо Организация является товариществом, и Сотрудники Fintech Finance являются членами этого товарищества, либо Организация является трастом, и Сотрудники Fintech Finance являются доверительными собственниками или хранителями этого траста, или Организация является фондом, и Сотрудники Fintech Finance являются основателями или членами совета, по причине неуплаты сборов Fintech Finance и/или любых других сборов, связанных с Организацией, в течение более 60 дней, Fintech Finance должна, без обязательства предоставления уведомления Клиенту, принять такие меры, которые она, на свое собственное усмотрение, сочтет подходящими, включая, без ограничений, следующие: удаление из реестра, прекращение деятельности или ликвидация Организации; или увольнение всех или любых Сотрудников Fintech Finance; или передача всех или любых акций, капитала или активов или обязательств Организации на имя Клиента; или назначение Клиента директором, служащим, руководителем, доверительным собственником, хранителем или основателем, либо членом совета Организации; или принятие других таких мер, которые Fintech Finance может, на свое собственное усмотрение, счесть подходящими.
		li.list-terms__item
			| Fintech Finance должна сохранять конфиденциальность всех документов, сообщений и информации, полученной от клиента, если от Клиента не поступит предварительного письменного уведомления, разрешающего обратное. Данные обязательства по конфиденциальности не должны применяться, если:
			br
			| Fintech Finance будет обязана, по приказу суда или компетентного органа, раскрыть доказательства и информацию, связанную с Клиентом или деятельностью Организации Клиента судам или компетентным органам. В случае получения Fintech Finance такого приказа о раскрытии, Fintech Finance должна, если это не запрещено законом или другими условиями такого приказа, уведомить Клиента об этом.
			br
			| Любое требование выдвигается или действие предпринимается третьей стороной против Организации, или когда возникают какие-либо другие обстоятельства, которые могут, по мнению Fintech Finance, потребовать предприятия действий в отношении деятельности Организации в целях защиты наилучших интересов Клиента, Организации или Fintech Finance, и если в таких обстоятельствах Fintech Finance не в состоянии получить четкие, подходящие и законные инструкции от Клиента, то Fintech Finance имеет право действовать любым способом, которые она может счесть целесообразным, разумным или подходящим в данных обстоятельствах.
		li.list-terms__item
			| При предоставлении услуг Fintech Finance может предоставлять информацию о Клиенте, его Организации или ее коммерческой деятельности другим фирмам или компаниям, ассоциированным с Fintech Finance, их аудиторам и юридическим консультантам, и Клиент соглашается на раскрытие такой информации со стороны Fintech Finance. Вся информация, переписка, записи и данные, относящиеся к Организации и хранящиеся Fintech Finance в любой компьютерной системе, является собственностью исключительно Fintech Finance и предназначена исключительного для ее пользования, и ни Клиент, ни Организация, ни какое-либо другое лицо, действующее в их интересах или от их имени, не должно иметь каких-либо прав доступа или осуществлять контроль над этой информацией, перепиской, записями или данными. Fintech Finance имеет право на сохранение прав собственности и хранение копий всей такой информации, переписки, записей и данных исключительно для использования ею. Положения настоящего пункта остаются в силе в случае прекращения применения данных Положений и условий.
		li.list-terms__item
			| В случае перемещения в связи с изменением зарегистрированного адреса и зарегистрированного офиса Организации Клиента, Fintech Finance должна предоставить Клиенту уведомление о таком изменении не менее чем за двадцать (20) календарных дней. Fintech Finance не должна нести ответственность за любые сопутствующие затраты, понесенные Клиентом в результате такого изменения.
		li.list-terms__item
			| Если Клиент запросит у Fintech Finance предоставления акционеров, директоров или других Сотрудников для своей Организации, Fintech Finance может, с учетом положений Статьи 2(b) настоящего документа, принять такой запрос и назначить любое лицо на любую такую должность или позицию, а также изменить, заменить или отстранить таких назначенных лиц, которые могут являться физическими или юридическими лицами.
		li.list-terms__item
			| Ничто в настоящих Положениях и условиях не делает Fintech Finance ответственной за любые коммерческие решения, принятые Клиентом в отношении Организации или ее коммерческой деятельности.
		li.list-terms__item
			| В случае если (i) любая претензия, требование или действие осуществляется против Организации в целях оплаты ею любых сумм, подлежащих оплате либо Fintech Finance, любо третьей стороне, включая, без ограничений, любые налоги, сборы, пошлины, правительственные и государственные сборы, и такая оплата не осуществляется; или (ii) Fintech Finance необходимо содействие или информация от Клиента, и она не смогла получить такое содействие или информацию; или (iii) Клиент нарушает любые свои обязательства, установленные в настоящих Положениях и Условиях, Fintech Finance может осуществить одно из следующих действий:
			br
			| 1) отказаться от любых действий или деятельности любого рода, относящейся к определенному вопросу или к самой Организации; или
			br
			| 2)  использовать любые активы Организации или средства, имеющиеся в распоряжении Fintech Finance или Организации, для защиты от такой претензии, требования или действия, или удовлетворения такой претензии, требования или действия; или
			br
			| 3)  предпринимать любые другие действия, которые Fintech Finance может, по своему собственному усмотрению, счесть целесообразными, чтобы защитить себя и Организацию.
			br
			| Fintech Finance не должна нести ответственность за любые убытки или ущерб Клиента или его Организации, понесенные при обстоятельствах, описанных в данном пункте.
		li.list-terms__item
			| 8. В случае нарушения Клиентом любых своих обязательств, принятых согласно настоящим Положениям и условиям, а также неустранения им такого нарушения в течение 14 календарных дней после уведомления Fintech Finance, Fintech Finance может предпринять любые из следующих действий:
			br
			| a) отказаться от предоставления любых или всех Услуг;
			br
			| b) начать процесс с целью сворачивания деятельности или ликвидации Организации;
			br
			| c)  использовать любые активы Организации в целях устранения нарушения Клиента.
			br
			| Fintech Finance не должна нести никакой ответственности, связанной или возникающей в результате любого действия или бездействия, предпринятого в соответствии с положениями данного параграфа.
	h3.title-terms 5. ОГРАНИЧЕНИЕ ОТВЕТСТВЕННОСТИ
	ul.list-terms
		li.list-terms__item
			| Fintech Finance прямо отказывается от любой ответственности перед Клиентом, Организаций и любой третьей стороной, связанной с ними, возникшей в результате любого ущерба или убытков, понесенных ими в результате учреждения, приобретения или работы Организации и/или в результате предоставления Услуг Клиентом, Организацией или любым другим лицом или Клиенту, Организации или любому другому лицу.
		li.list-terms__item
			| Fintech Finance не будет нести ответственности (в силу договора, деликта или иным образом, в том числе нарушение установленных законом обязанностей), связанной с предоставлением Услуг, за любые косвенные потери, понесенные любым образом, в том числе, без ограничений, потерю прибыли, бизнеса или ожидаемых сбережений Клиента.
		li.list-terms__item
			| Fintech Finance не будет нести никакой ответственности за любое несоблюдение любого запроса, инструкции или указания Клиента, которое не было получено или которое является неполным, сомнительным и незаконным, или в случае отсутствия, по мнению Fintech Finance, соответствующих полномочий лица, вручающего такое уведомление.
		li.list-terms__item
			| Fintech Finance не будет нести ответственности за любые действия, бездействия, халатность любого физического или юридического лица, которое назначается в качестве директора, акционера, служащего, сотрудника, агента, физического лица, доверительного собственника, управляющего, подписанта или держателя доверенности в отношении Организации, или другого лица, или органа, связанного с Организацией.
	h3.title-terms 6. КОМПЕНСАЦИИ
	ul.list-terms
		li.list-terms__item
			| 1.  Клиент должен в любое время компенсировать и ограждать Fintech Finance и ее Сотрудников и служащих:
			br
			| a) от всех действий, исков, разбирательств, претензий, требований, затрат, сборов, расходов и обязательств (включая юридические издержки), которые могут быть понесены, инициированы или которые могут угрожать Fintech Finance/или ее служащим в связи с Организацией или инструкциями Клиента;
			br
			| b)  в отношении полного или частичного несоблюдения Fintech Finance любой инструкции, приказа или запроса, сделанного Клиентом, или в связи с любыми ошибками или неполными инструкциями или запросами, полученными Fintech Finance от Клиента;
			br
			| c) в отношении любых штрафных санкций, штрафов, сборов или других обязательств, понесенных Клиентом и/или Организацией в связи с Организацией и/или Услугами.
		li.list-terms__item
			| Такое возмещение должно быть без ущерба для любого другого возмещения и/или средства правовой защиты в пользу Fintech Finance и/или ее сотрудников, работников, агентов или правопреемников. Прекращение действия настоящего Соглашения или любых Услуг, предоставленных Fintech Finance, не должно освобождать Клиента от его обязательств по возмещению ущерба Fintech Finance.
	h3.title-terms 7. ГАРАНТИИ
	ul.list-terms
		li.list-terms__item
			| Клиент обязуется и гарантирует Fintech Finance, что он:
			br
			br
			| 1. обладает полной правоспособностью и находится в здравом уме, памяти и понимании для заключения соглашения с Fintech Finance в соответствии с настоящими Положениями и условиями и для получения Услуг;
			br
			| 2.   не является банкротом;
			br
			| 3.    будет выполнять настоящие Положения и условия;
			br
			| 4.    согласен, что Fintech Finance может (но не обязана) полагаться на сообщения, полученные от Клиента при определении того, какие меры Fintech Finance должна принимать при управлении его Организацией или предоставлении Услуг;
			br
			| 5.  оплатит, в полном объеме, любые персональные и корпоративные налоги, которые могут стать подлежащими оплате в результате учреждения и работы Организации.
	h3.title-terms 8. ОБЯЗАТЕЛЬСТВА И ОБЯЗАННОСТИ КЛИЕНТА
	ul.list-terms
		li.list-terms__item
			| Клиент обязуется немедленно уведомить Fintech Finance о характере деятельности и бизнеса Организации и получить письменное согласие Fintech Finance перед внесением любых изменений в такую деятельность.
		li.list-terms__item
			| Fintech Finance обязана по закону иметь в наличии документы, подтверждающие правовой статус (знай своего клиента). Клиент прямо соглашается раскрывать и предоставлять Fintech Finance такие документы или любую другую информацию, которую Fintech Finance может счесть необходимой или желательной, как на этапе принятия Клиентом, так и на постоянной основе, чтобы Fintech Finance могла выполнить свои законные обязательства.
		li.list-terms__item
			| Чтобы Fintech Finance могла в любое время связаться с Клиентом, Клиент обязан предоставить полную информацию и незамедлительно уведомить Fintech Finance о любых изменениях своего места жительства, номеров телефонов и факса, а также электронных адресов, в дополнение к любому коммерческому или другому контактному адресу, который может предоставляться им.
		li.list-terms__item
			| Клиент обязуется не давать каких-либо инструкций, приказов и не делать каких-либо запросов к Fintech Finance, которые могут привести к нарушению законодательства любой страны со стороны Fintech Finance.
		li.list-terms__item
			| Клиент должен предоставить Fintech Finance такую информацию, помощь и содействие, которое Fintech Finance может, на свое собственное усмотрение потребовать в целях предоставления Услуг. Fintech Finance не будет нести ответственности за любые последствия, которые могут возникнуть в результате невыполнения Клиентом данного требования, которые будут подразумевать дополнительные сборы, взимаемые и подлежащие оплате Клиентом.
		li.list-terms__item
			| Клиент настоящим подтверждает, что любые активы, введенные в Организацию, были законным образом введены и не были получены в результате Незаконной деятельности.
		li.list-terms__item
			| Клиент обязуется препятствовать вовлечению или участию Fintech Finance и/или ее сотрудников, прямо или косвенно, в любой Незаконной или Запрещенной деятельности или в деятельности, используемой для любых незаконных целей.
		li.list-terms__item
			| Клиент обязан предоставить Fintech Finance письменное уведомление о его намерении прекратить получение Услуг не менее чем за 30 дней.
		li.list-terms__item
			| Клиент обязан предоставить Fintech Finance предварительное письменное уведомление в случае намерений изменить бенефициарное право собственности Организации.
		li.list-terms__item
			| Клиент должен без задержек выплачивать любые суммы, подлежащие оплате Fintech Finance, включая сборы, расходы и издержки, понесенные Fintech Finance в связи с Организацией и/или предоставлением Услуг.
	h3.title-terms
		| 9. ОБЯЗАТЕЛЬСТВА КЛИЕНТА В СЛУЧАЕ ПРЕДОСТАВЛЕНИЯ Fintech Finance УСЛУГ СОТРУДНИКОВ ИЛИ НАЗНАЧЕННОГО ЛИЦА
	ul.list-terms
		li.list-terms__item
			| Fintech Finance должна быть всегда готова рассмотреть и удовлетворить запросы Клиента на предоставление услуг Сотрудников или Назначенного лица для Организации Клиента при условии принятия такого запроса, а также с учетом ограничений, предусмотренных в настоящих Положениях и условиях.
		li.list-terms__item
			| В случае предоставления Fintech Finance услуг Сотрудников или Назначенного лица, Клиент должен
			br
			| a) всегда, по запросу Fintech Finance, выплачивать Fintech Finance такие суммы, которые могут потребоваться, чтобы позволить Fintech Finance полностью выполнить любые обязательства (включая сборы Fintech Finance);
			br
			| b) по письменному запросу Fintech Finance, немедленно предоставить информацию, необходимую для составления Fintech Finance годовых или других обязательных деклараций, финансовой и другой отчетности, относящейся к Организации;
			br
			| c)	немедленно сообщить Fintech Finance в письменной форме о любых судебных разбирательствах, претензиях и требованиях, выдвинутых против или угрожающих Организации или Fintech Finance;
			br
			| d)	хранить и вести, а также, по запросу, предоставлять Fintech Finance точную финансовую и коммерческую отчетность.
		li.list-terms__item
			| Клиент признает и понимает, что Сотрудники или назначенные лица могут нести персональную ответственность в случае несоблюдения определенных законных обязательств, связанных с Организацией, а также что соблюдение таких законных обязательств зависит от незамедлительной оплаты Клиентом сборов и ответа на запросы на предоставление информации. В случае неуплаты Клиентом сборов в установленный срок или по запросу или в случае его неспособности немедленно ответить на запросы на получение информации, Сотрудники или назначенные лица имеют право уйти в отставку со своих должностей, и Клиент настоящим безоговорочно и безотзывно назначает Fintech Finance своим поверенным и агентом для целей назначения Клиента в качестве Сотрудника вместо Fintech Finance.
		li.list-terms__item
			| Сотрудники или назначенные лица, предоставленные Fintech Finance для действий в качестве Директоров в Организации Клиента, должны действовать исключительно согласно инструкциям, полученным от Клиента и, следовательно, не будут участвовать в ежедневной деятельности и/или подписании контрактов за Организацию или от ее имени или действовать в качестве гаранта от имени Клиента и/или Организации.
		li.list-terms__item
			| Сотрудник или назначенное лицо, действующее в качестве Директора в Организации Клиента, может удовлетворить запрос Клиента на подписание контракта и/или различных документов с учетом положений, установленных в пункте 9.6 настоящего документа, и за плату, время от времени согласуемую с Клиентом.
		li.list-terms__item
			| Сотрудник или назначенное лицо, действующее в качестве Директора в Организации Клиента, не будет ставить свою подпись на соглашении или документе, относящемся к любым займам или обременениям, сделанным от имени Организации, а также любые другие соглашения или документы, которые, по мнению Сотрудника или назначенного лица, представляют собой высокий риск и могут создать обязательства для Организации, Fintech Finance или Сотрудников, или Назначенных лиц, действующих в качестве Директоров в Организации Клиента.
	h3.title-terms
		| 10. ДОПОЛНИТЕЛЬНЫЕ ОБЯЗАТЕЛЬСТВА В СЛУЧАЕ ПРЕДОСТАВЛЕНИЯ АДРЕСА ЗАРЕГИСТРИРОВАННОГО ОФИСА СО СТОРОНЫ Fintech Finance
	ul.list-terms
		li.list-terms__item
			| В случае предоставления Организации зарегистрированного офиса и зарегистрированного адреса со стороны Fintech Finance, Клиент ни при каких обстоятельствах не должен ссылаться на такой адрес зарегистрированного офиса в любой рекламе, публичных объявлениях, в рекламных кампаниях или на веб-сайтах без предварительного письменного согласия Fintech Finance. Ни при каких обстоятельствах Клиент не должен представлять такой зарегистрированный офис и зарегистрированный адрес в качестве места фактической коммерческой деятельности Организации, местом нахождения ее коммерческих записей, управления и контроля.
	h3.title-terms 11. СБОРЫ И ВОЗМЕЩЕНИЯ
	ul.list-terms
		li.list-terms__item
			| Оплата сборов и возмещений регулируется Условиями оплаты, которые включены в настоящие Коммерческие положения и условия в качестве ссылки и должны толковаться совместно с ними.
	h3.title-terms 12. ФОРС-МАЖОР
	ul.list-terms
		li.list-terms__item
			| Fintech Finance не должна нести ответственность за любые задержки или невыполнение любых своих обязательств в связи с поставкой любых товаров или услуг, заказанных Клиентом через веб-сайт или иным образом, если такая задержка или невыполнение является причиной обстоятельств или событий вне разумного контроля, включая, без ограничений, стихийные бедствия, забастовки, массовые увольнения, несчастные случаи, войны, пожары или выход из строя какой-либо системы связи, телекоммуникаций или компьютерной системы, и Fintech Finance имеет право на разумное продление срока для выполнения своих обязательств перед Клиентом (в той степени, в которой могут применяться такие обязательства) в случае возникновения форс-мажорных обстоятельств.
		li.list-terms__item
			| В случае возникновения форс-мажорных обстоятельств, к которым применяется данное положение, Fintech Finance должна уведомить Клиента в разумные и обоснованно короткие сроки. Если обстоятельство форс-мажора продолжает действовать в течение более 14 дней, любая из сторон должна иметь право расторгнуть Соглашение, а в случае авансовой оплаты за услуги, которые не были предоставлены, Клиент имеет право на возмещение суммы за неиспользованные услуги, до даты расторжения.
	h3.title-terms 13. ПРЕКРАЩЕНИЕ ПРЕДОСТАВЛЕНИЯ УСЛУГ
	ul.list-terms
		li.list-terms__item
			| Fintech Finance имеет право прекратить предоставление Услуг Клиенту посредством направления письменного уведомления, если:
		li.list-terms__item
			| a) Клиент, по обоснованному мнению Fintech Finance, нарушает настоящие Положения и условия, при условии, что такое нарушение не будет устранено в течение пятнадцати (15) дней после письменного уведомления, врученного Fintech Finance;
		li.list-terms__item
			| b) Fintech Finance становится известно, что Организация используется для деятельности, которая не была объявлена или установлена в заявке, представленной Клиентом в Fintech Finance в ходе учреждения Организации, и/или эта деятельность считается Незаконной или Запрещенной согласно определению, установленному в статьях 2.1. и 2.2 настоящих Положений и условий;
		li.list-terms__item
			| c) в случае инициирования любых судебных разбирательств в отношении Организации или Клиента.
		li.list-terms__item
			| В любых обстоятельствах, описанных в п. 12.1 выше, Fintech Finance имеет право действовать согласно Пункту 4.1 настоящего документа, без дальнейшей ответственности со стороны Fintech Finance.
	h3.title-terms 14. УВЕДОМЛЕНИЯ
	ul.list-terms
		li.list-terms__item
			| Любое уведомление, требуемое к предоставлению согласно настоящим Положениям и условиям, может быть передано посредством службы экспресс-доставки DHL, электронной почтой или по факсу по последнему известному сторонам адресу. Уведомление должно считать врученным:
			br
			| спустя 5 (пять) рабочих дней после отправки посредством службы экспресс-доставки DHL,
			br
			| по факсу или электронной почте, при наличии отчета об успешной передаче.
	h3.title-terms 1.  	ДРУГИЕ ПОЛОЖЕНИЯ
	ul.list-terms
		li.list-terms__item
			| Ссылки на один род включают ссылки на все или любые роды, и ссылка на единственное число включает множественное, и наоборот;
		li.list-terms__item
			| Настоящее Соглашение включает в себя, посредством ссылки, другие положения, применимые к использованию веб-сайтов, продуктов и услуг Fintech Finance, включая, без ограничений, Политику конфиденциальности, Освобождение от ответственности, Условия оплаты и Условия использования, опубликованные на веб-сайтах.
		li.list-terms__item
			| Любые изменения настоящих Положений и условий являются обязательными для сторон, только если они согласованы в письменной форме.
		li.list-terms__item
			| В случае если любое положение настоящих Положений и условий буде сочтено недействительным или неприменимым в соответствии с любым применимым правом, оставшиеся положения должны продолжать действовать в полную силу.
		li.list-terms__item
			| Настоящие Положения и условия заменяют собой все предыдущие письменные и устные сообщения или заявления, сделанные между Fintech Finance и Клиентом.
		li.list-terms__item
			| Ничто в настоящих Положениях и условиях не предполагает юридического партнерства или агентства между Fintech Finance и Клиентом.
		li.list-terms__item
			| Клиент должен самостоятельно получать независимую консультацию по любым вопросам, касающимся Организации и любых Услуг, предоставленных Fintech Finance, которые могут относиться к Клиенту, или его Организации, или к личным делам, и он не должен полагаться на любые заявления (письменные, устные, явные, подразумеваемые или иные), сделанные Fintech Finance, их Сотрудниками или служащими. Так как Клиент несет ответственность за получение экспертной юридической консультации, Fintech Finance не должна нести никакой ответственности перед Клиентом, его Организацией или любой третьей стороной по любым претензиям, ущербу или убыткам, возникшим в результате использования любых Услуг или в связи с ними.
		li.list-terms__item
			| Никакое невыполнение или задержка в выполнении любой из сторон настоящего договора любых полномочий или прав, предоставленных настоящими Положениями и условиями, не должно действовать в качестве отказа от таких услуг или прав, если иное не будет согласовано сторонами в письменной форме.
	h3.title-terms 2.	ПРИМЕНИМОЕ ПРАВО И ЮРИСДИКЦИЯ
	ul.list-terms
		li.list-terms__item
			| Настоящие положения и условия должны регулироваться и толковаться во всех отношениях в соответствии с законами Великобритании. Любые споры, возникающие при толковании настоящих Положений и условий, должны разрешаться в судах Великобритании.
