.text-block.text-block_ba
	p.text-block__title
		| Account in the European bank provides a lot of benefits to those who intend to conduct their business abroad or open a merchant account for online business. Fintech Finance offers services for opening accounts in Europe and the Czech Republic as a bona fide partner.
	p.text-block__title2
		| You can be confident in the right choice of bank with us, as Fintech Finance cooperates only with reliable financial institutions loyal to the foreign clients and ready to offer favorable and comfortable terms of service.
		br
		| Fintech Finance cooperates only with reliable banks with excellent reputation in the European Union and the Czech Republic. Our established contacts are at your service!
