.text-block.text-block_ba
	p.text-block__title
		| Счет в европейском банке предоставляет массу преимуществ тому, кто намерен вести свой бизнес за границей или открыть мерчант-аккаунт для интернет-бизнеса. Fintech Finance как добросовестный партнер предлагает своим клиентам услуги по открытию счета в Европе и Чехии
	p.text-block__title2
		| С нами вы можете быть уверены в удачном выборе банка, так как Fintech Finance сотрудничает только с надежными финансовыми учреждениями, лояльными к иностранным клиентам и готовыми предложить выгодные и удобные условия обслуживания.
		br
		| Fintech Finance сотрудничает только с надежными банками с отличной репутацией на территории Европейского Союза и Чешской Республики. Наши наработанные контакты — к вашим услугам!
