//- index.pug
extends ../layout.pug
include ../mixins/index.pug

block title
	title  #{__('Page not found')} | Fintech Finanace



block content
	.content
		.wrapper
			h1 #{__('Page not found')}
			.text-page.small-text.short #{__('Page doesn\'t exist')}, &nbsp;
				a(href='/') #{__('return to home')}
				| .
