.text-page.long
	p Esta página web es la propiedad de Fintech Finance Consulting Limited. El término "Fintech Finance", "a nosotros" o "nosotros" se refiere al propietario de esta página web. El término "usted" se refiere al usuario o la persona que está viendo nuestra página web.
	h4 El uso de la presente página web se rige por las siguientes disposiciones:
	ul.list-terms
		li.list-terms__item
			| El contenido de las páginas de este sitio web u otros sitios web pertenecientes a Fintech Finance y/o usados por Fintech Finance, está destinado únicamente para proporcionar información general y ser usada por usted. La información, los materiales y contenidos presentados en las páginas de nuestros sitios web pueden ser modificados en cualquier momento sin previo aviso. Todos nuestros productos y servicios ofrecidos por Fintech Finance, se regulan por términos y condiciones separadas, por la política de privacidad y exención de responsabilidad que rigen su uso. Las presentes Condiciones de uso deben ser leídas por usted junto con todos los términos, condiciones, la política de privacidad y exención de responsabilidad, publicados en nuestros sitios web o proporcionados por nuestros empleados a su petición, y reemplazan cualquier entendimiento o acuerdo previo, por escrito u oral.
		li.list-terms__item
			| Ni nosotros ni ningún tercero ofrecemos ninguna garantía en cuanto a la exactitud, puntualidad, rendimiento, integridad o exactitud de la información o los materiales encontrados u ofrecidos en nuestro sitio web para cualquier propósito en particular. Usted reconoce que dicha información y materiales pueden contener inexactitudes o errores, y nosotros excluimos expresamente la responsabilidad por cualquier inexactitud o errores en la máxima medida permitida por la ley.
		li.list-terms__item
			| El uso por usted de cualquier información o materiales en nuestros sitios web se realiza enteramente bajo su propio riesgo, por el que nosotros no llevamos ninguna responsabilidad. Usted debe ser responsable de asegurar que cualquier producto, servicio o información disponible a través de nuestros sitios web satisfaga sus necesidades específicas y sea permitido por las leyes de su país de domicilio.
		li.list-terms__item
			| Este sitio web contiene material que es propiedad o es licenciado por Fintech Finance. Los derechos de autor sobre el contenido de cada sitio web nuestro (incluyendo sin limitación todas las imágenes, ilustraciones, diseños, iconos, fotografías, marcas registradas, marcas de servicio, aspecto y funciones, la combinación de colores, formas, botones, plano, diseño, elementos gráficos, la colocación de estos elementos, materiales escritos y otros, HTML y otros códigos, así como todos los elementos que están protegidos por derechos de autor u otros derechos legales en nuestros sitios web) se rigen por las leyes sobre los derechos de la propiedad intelectual. Cambiar, copiar, distribuir o incorporar en cualquier otra obra las partes o la totalidad de nuestros sitios web, o de su contenido en cualquier forma, se prohíbe, salvo que puede usted imprimir o descargar extractos únicamente para uso no comercial, informativo y personal. Todos los derechos de esta manera están reservados.

		li.list-terms__item
			| El uso no autorizado de nuestros sitios web puede dar lugar a una reclamación por daños y perjuicios y/o constituir un delito.

		li.list-terms__item
			| De vez en cuando nuestros sitios web pueden contener enlaces a otros sitios web. Estos enlaces se proporcionan para su comodidad. Esto no significa que estemos de acuerdo o confirmamos de alguna manera el contenido de dichos sitios web. Renunciamos expresamente a cualquier responsabilidad por el contenido de cualquier sitio web, el enlace al cual puede encontrarse en nuestros sitios web.

		li.list-terms__item
			| Usted no puede crear enlaces a nuestros sitios web desde otro sitio web o documento sin nuestro consentimiento previo.

		li.list-terms__item
			| Los mensajes enviados a través de nuestros sitios web son considerados mensajes enviados a través de Internet y su seguridad no está garantizada plenamente, ya que estos pueden ser interceptados, perdidos o sufrir cambios. No somos, ni seremos responsables ante usted o ante cualquier otra persona por cualquier daño u otra responsabilidad derivada de cualquier mensaje enviado por usted a nosotros, o de cualquier mensaje enviado por nosotros a usted a través de Internet.

		li.list-terms__item
			| Usted está de acuerdo para defendernos de cualquier reclamación, demanda o acciones derivadas del incumplimiento por usted de los presentes Términos y Condiciones, y usted debe recompensarnos y protegernos de cualesquier coste, pérdida, daño y gasto, incluyendo sin limitación los gastos judiciales razonables y la compensación derivada de cualquier reclamación semejante.

		li.list-terms__item
			| Su uso de nuestros sitios web y compra de cualquiera de los productos o servicios de ellos se rige por las leyes de la Gran Bretaña. Los tribunales de la  Gran Bretaña tendrán competencia exclusiva sobre las decisiones de cualquier disputa o controversia que surja en relación con su uso de los sitios web o con la compra de cualquiera de los productos o servicios de ellos. Si por alguna razón usted no es capaz o no desea estar de acuerdo con todos nuestros términos y condiciones, políticas de privacidad o exención de responsabilidad, por favor, le rogamos dejar inmediatamente de usar o intentar usar nuestros sitios web, porque en caso de continuar usando nuestros sitios web está usted de acuerdo con todos los términos y condiciones, las políticas de privacidad y exención de responsabilidad previstos en las presentes Condiciones de uso.
