.text-page.long
	h3.title-terms 1. Условия использования
	p
		| Данный сайт является собственностью Fintech Finance Consulting Ltd. Термин ‘Fintech Finance’, ‘нас’ или ‘мы’ относится к владельцу данного веб-сайта. Термин "вы" относится к пользователю или лицу, просматривающему наш веб-сайт.
	h4 Использование данного веб-сайта регулируется следующими положениями:
	ul.list-terms
		li.list-terms__item
			| Содержание страниц данного веб-сайта или других веб-сайтов, принадлежащих Fintech Finance и/или используемых Fintech Finance, предназначено исключительно для предоставления общих сведений и использования вами. Информация, материалы и содержание, представленные на страницах наших сайтов, может изменяться в любое время без уведомления. Все наши продукты и услуги, предлагаемые Fintech Finance, регулируются отдельными положениями и условиями, политикой и освобождением от ответственности, регулирующими их использование. Настоящие Условия использования должны читаться вами совместно с любыми условиями, положениями, политикой и освобождением от ответственности, публикуемыми на наших веб-сайтах или предоставляемыми нашими сотрудниками по вашему запросу, и которые заменяют собой любые предыдущие договоренности или соглашения, письменные или устные.
		li.list-terms__item
			| Ни мы, ни какие-либо третьи стороны не предоставляют каких-либо гарантий в отношении точности, своевременности, выполнения, полноты или применимости информации или материалов, найденных или предлагаемых на нашем веб-сайте для любых определенных целей. Вы признаете, что такая информация и материалы могут содержать неточности или ошибки, и мы прямо исключаем ответственность за любые такие неточности или ошибки в полной степени, разрешенной законом.
		li.list-terms__item
			| Использование вами любой информации или материалов на наших веб-сайтах осуществляется полностью на ваш риск, за который мы не должны нести никакой ответственности. Вы должны нести ответственность за обеспечение того, чтобы любые продукты, услуги или информация, доступные через наши веб-сайты, отвечала вашим конкретным требованиям и разрешалась законами страны вашего постоянного места пребывания.
		li.list-terms__item
			| Данный веб-сайт содержит материалы, принадлежащие или лицензированные для Fintech Finance. Авторские права на содержание каждого нашего сайта (включая, без ограничений, все изображения, иллюстрации, дизайн, иконки, фотографии, товарные знаки, знаки обслуживания, вид и функции, сочетания цветов, формы кнопок, план, дизайн, графические элементы, расположение элементов, письменные и другие материалы, HTML и другие коды, а также все элементы, защищаемые авторским или другим законным правом на наших сайтах) регулируются законами о правах интеллектуальной собственности. Изменение, копирование, распространение или включение в любые другие работы части или всех наших сайтов, или содержания в любой форме, запрещается, за исключением того, что вы можете распечатать или загрузить отрывки исключительно для некоммерческого, информационного и личного пользования. Все права таким образом защищены.
		li.list-terms__item
			| Несанкционированное использование наших сайтов может привести к иску о возмещении ущерба и/или являться уголовным преступлением.
		li.list-terms__item
			| Время от времени наши веб-сайты могут содержать ссылки на другие веб-сайты. Эти ссылки предоставлены для вашего удобства. Они не означают, что мы одобряем или утверждаем каким либо образом содержание таких веб-сайтов. Мы прямо отказываемся от любой ответственности за содержание любых веб-сайтах, ссылки на которое содержаться на наших сайтах.
		li.list-terms__item
			| Вы не можете создавать ссылки на наши веб-сайты с другого веб-сайта или документа без нашего предварительного согласия.
		li.list-terms__item
			| Сообщения, отправленные через наши сайты, считаются сообщениями, отправленными через Интернет, и их безопасность не может полностью гарантироваться, так как они могут быть перехвачены, утеряны или подвергнуты изменениям. Мы не несем и не будем нести ответственности перед вами или перед каким-либо другим лицом за любой ущерб или иную ответственность, связанную с любым сообщением, направленным вами нам или с любым сообщением, направленным нами вам через Интернет.
		li.list-terms__item
			| Вы соглашаетесь защищать нас от любых претензий, требований или действий, возникающих в результате нарушения вами настоящих Положений и условий, и вы должны компенсировать нам и ограждать нас от любых издержек, потерь, ущерба и затрат, включая, без ограничений, обоснованные судебные издержки и возмещения, возникающие в результате любых таких претензий.
		li.list-terms__item
			| Использование вами наших веб-сайтов и покупка любых продуктов или услуг через них регулируется законодательством Великобритании. Суды Великобритании должны обладать исключительной юрисдикцией в отношении решения любого спора или разногласия, возникающего в связи с использованием вами веб-сайтов или покупкой любых продуктов или услуг через них. 
