//- index.pug
extends layout.pug

block title
	title  Obtaining licenses for fintech business in Europe | Fintech Finanace


block content

	article#frontpage

		header
			h1 Obtaining licenses
				br
				| for fintech business in Europe

		section.banner.special_offers

			header
				h2 Special offers

			p Special offers include a package
				br
				| of basic services and a range of
				br
				| additional services

			.divider

			.price from €2000
			a.inverted.button Details


		section.right

			section.banner.payment_service

				header
					h2 Payment Service
					h2 Provider (PSP) licenses

				.divider

				.price from €14000
				a.inverted.button Details


			section.banner.simple.bank_account

				header
					h2 Bank account

				p Opening a bank account in Europe

				.divider

				.price from €14000
				a.yellow.button Details


			section.banner.offshore_companies

				header
					h2 Offshore companies
					h2 English LLP with two nominal partners

				.divider

				.price from €900
				a.inverted.button Details


			section.banner.simple.merchant_account

				header
					h2 Merchant account

				p Opening a merchant account for VISA, MasterCard and American Express cards

				.divider

				.price from €300
				a.yellow.button Details

			section.banner.simple.card_issue

				header
					h2 Card issue

				p Assistance in issuing
					br
					| MasterCard and VISA bank cards

				.divider

				a.yellow.button Details
