p Sie erkennen an und stimmen zu, dass bei Rückzahlung der Geldmittel an Ihr Zahlungssystem durch Fintech Finance Consulting LTD ein Beleg über die erfolgte Transaktion nur zur Bestätigung dient, dass Fintech Finance Consulting LTD Geldmittel ans Zahlungssystem, welches zum Zeitpunkt des Verkaufs genutzt wurde,  überwiesen hat und auf den tatsächlichen Eingang der erstatteten Geldmittel auf Ihr Konto keinen Einfluss nehmen kann.

p Sie erkennen an und stimmen zu, dass der Zahlungsdienstleiter und/oder die Bank, bei der Ihre Zahlungskarte herausgegeben wurde,  eigenständig Zeitrahmen für eine Rückzahlung festlegen und regeln und dass die Fristen für eine solche Rückzahlung über fünf (5) Arbeitstage betragen und bis zur vollständiger Rechnungsstellung oder sogar länger dauern können.

h2 I. Dienstleistungen zum Verkauf der Offshore-Unternehmen

p Der Kunde erhält eine volle Rückerstattung der Geldmittel für den Kauf des Unternehmens abzüglich der Versandkosten, wenn folgende drei Bedingungen erfüllt sind:

p
	| - Fintech Finance Consulting LTD kann das Unternehmen an den Kunden nicht verkaufen
	br
	| - Fintech Finance Consulting LTD hat alle erforderlichen Unterlagen, die vom Kunden ordnungsgemäß ausgefüllt sind, erhalten, einschließlich der Kopie eines gültigen Ausweises des Kunden wie auch andere Dokumente, die Fintech Finance Consultig LTD bei dem Kunden angefordert hat, wie etwa eine Betriebskostenrechnung, die nicht älter als 3 Monate ist.
	br
	| - Die Rückzahlungsforderung geht nach der Bezahlung der Registrierungsgebühr durch den Kunden ein.


h3 DIE RÜCKZAHLUNG IST GLEICH AUS WELCHEM GRUND NICHT MÖGLICH, WENN DER KUNDE SEINEN ANTRAG NACH ABLAUF VON DREI KALENDERTAGEN ZURÜCKZIEHT

h2 II. Dienstleistungen zur Betreuung bei der Eröffnung der Bankkonten

p Der Kunde behält sich das Recht vor, seinen Antrag innerhalb einer Frist von drei (3) Kalendertagen nach der Einreichung des Antrags auf die Eröffnung eines Bankkontos zurückzuziehen. Der Kunde erhält eine volle Rückerstattung der Servicegebühren abzüglich der Versandkosten, wenn folgende drei Bedingungen erfüllt sind:

p
	| - Die Bank kann mit Hilfe von Fintech Finance Consulting LTD kein Treffen zwischen dem Kunden und der Bank organisieren
	br
	| - Fintech Finance Consulting LTD oder die Bank haben alle erforderlichen Unterlagen, die ordnungsgemäß ausgefüllt wurden, erhalten, einschließlich der Kopie eines gültigen Ausweises des Kunden wie auch andere Dokumente, die Fintech Finance Consulting LTD bei dem Kunden angefordert hat, wie etwa einen Kreditkartenauszug, Betriebskostenrechnung, Arbeitsvertrag, Registrierungsurkunde oder andere Beweise für wirtschaftliche Herkunft der Geldmittel
	br
	| - Rückzahlungsforderung geht nach der Bezahlung der Servicegebühren durch den Kunden ein

h3 DIE RÜCKZAHLUNG IST GLEICH AUS WELCHEM GRUND NICHT MÖGLICH, WENN DER KUNDE SEINEN ANTRAG NACH ABLAUF VON DREI KALENDERTAGEN ZURÜCKZIEHT

h2 III. Andere Dienstleistungen
p Was andere Dienstleistungen betrifft, erstatten wir Geld immer dann, wenn wir Ihnen Dienstleistungen nicht zustellen können. Falls Dienstleistungen und Informationen an Sie per E-Mail zugestellt wurden, kann keine Rückgabe der Dienstleistungen erfolgen. 
