p Sie erkennen an und stimmen zu, dass bei Rückzahlung der Geldmittel an Ihr Zahlungssystem durch Bizstars s.r.o. ein Beleg über die erfolgte Transaktion nur zur Bestätigung dient, dass Bizstars s.r.o. Geldmittel ans Zahlungssystem, welches zum Zeitpunkt des Verkaufs genutzt wurde, überwiesen hat und auf den tatsächlichen Eingang der erstatteten Geldmittel auf Ihr Konto keinen Einfluss nehmen kann.

p Sie erkennen ferner an und stimmen zu, dass der Zahlungsdienstleiter und/oder die Bank, bei der Ihre Zahlungskarte herausgegeben wurde, eigenständig Zeitrahmen für eine Rückzahlung festlegen und regeln und dass die Fristen für eine solche Rückzahlung über fünf (5) Arbeitstage betragen und bis zur vollständiger Rechnungsstellung oder sogar länger dauern können.

h2 Dienstleistungen zum Verkauf der Vorratsgesellschaften

p Der Kunde erhält eine vollständige Rückerstattung der Geldmittel für den Kauf des Unternehmens abzüglich der Versandkosten, wenn folgende drei Bedingungen erfüllt sind:

ol
	li Bizstars s.r.o. kann das Unternehmen an den Kunden nicht verkaufen

	li Bizstars s.r.o. hat sämtliche erforderliche Unterlagen erhalten wie etwa (aber nicht nur):
		ul
			li Personalausweis (notariell beglaubigte und apostillierte Kopie)

			li Betriebskostenrechnung, nicht älter als 3 Monate (notariell beglaubigte und apostillierte Kopie)

	li Die Rückzahlungsforderung geht nach der Bezahlung der Registrierungsgebühr durch den Kunden ein.

h3 DIE RÜCKZAHLUNG IST GLEICH AUS WELCHEM GRUND NICHT MÖGLICH, WENN DER KUNDE SEINEN ANTRAG NACH ABLAUF VON DREI KALENDERTAGEN ZURÜCKZIEHT

h2 Dienstleistungen zur Betreuung bei der Eröffnung der Bankkonten

p Der Kunde behält sich das Recht vor, seinen Antrag innerhalb einer Frist von drei (3) Kalendertagen nach der Einreichung des Antrags auf die Eröffnung eines Bankkontos zurückzuziehen. Der Kunde erhält eine vollständige Rückerstattung der Servicegebühren abzüglich der Versandkosten, wenn folgende drei Bedingungen erfüllt sind:

ol
	li Die Bank kann mit Hilfe von Bizstars s.r.o. kein Treffen zwischen dem Kunden und der Bank organisieren oder Bizstars s.r.o. kann dem Kunden eine Dienstleistung zur Ferneröffnung des Kontos in Tschechien oder Polen nicht gewähren

	li Bizstars s.r.o. hat sämtliche erforderliche Unterlagen erhalten wie etwa (aber nicht nur):
		ul
			li Personalausweis (notariell beglaubigte und apostillierte Kopie)

			li Betriebskostenrechnung, nicht älter als 3 Monate (notariell beglaubigte und apostillierte Kopie)

	li Rückzahlungsforderung geht nach der Bezahlung der Servicegebühren durch den Kunden ein

h3 DIE RÜCKZAHLUNG IST GLEICH AUS WELCHEM GRUND NICHT MÖGLICH, WENN DER KUNDE SEINEN ANTRAG NACH ABLAUF VON DREI KALENDERTAGEN ZURÜCKZIEHT

h2 Andere Dienstleistungen

p Was andere Dienstleistungen betrifft, erstatten wir Geld immer dann, wenn wir Ihnen Dienstleistungen nicht gewähren konnten.
