p You acknowledge and agree that where refunds are issued to your Payment Method, issuance by Fintech Finance Consulting LTD of a refund receipt is only confirmation that Fintech Finance Consulting LTD has submitted your refund to the Payment Method charged at the time of the original sale, and that Fintech Finance Consulting LTD has absolutely no control over when the refund will be applied towards your Payment Method's available balance.

p You further acknowledge and agree that the payment provider and/or individual issuing bank associated with your Payment Method establish and regulate the time frames for posting your refund, and that such refund posting time frames may range from five (5) business days to a full billing cycle, or longer.

h2 I. Offshore Company Sales Services

p The Client will receive a full refund of the sales fee minus courier charges if the following three conditions are met:

p
	| - Fintech Finance Consulting LTD is not able to sell the Company for the Client
	br
	| - Fintech Finance Consulting LTD has received all the necessary documents duly completed by the Client, including a copy of the Client's valid identity document and any documents which Fintech Finance Consulting LTD has requested from the Client, such as utility bills not older than three months.
	br
	| - The request for the refund after the payment of the incorporation fee by the Client.


h3 NO REFUNDS WILL BE OFFERED, FOR ANY REASON, IF THE CLIENT DECIDES TO CANCEL HIS/HER/ITS APPLICATION AFTER THREE CALENDAR DAYS

h2 II. Bank Account Opening Support Services

p Any Client can decide to cancel his/her application in the three (3) calendar days following his/her application for the opening of a bank account. The Client will receive a full refund of the Services fee minus courier charges if the following three conditions are met:

p
	| - The Bank with the assistance of Fintech Finance Consulting LTD is not able to arrange appointment for the Client and Bank
	br
	| - Fintech Finance Consulting LTD or the Bank has received all the necessary documents duly completed by the Client, including a copy of the Client's valid identity document and any documents which Fintech Finance Consulting LTD has requested from the Client, such as a credit card statement, utility bills, work contract, Certificate of Incorporation or other evidence of the economic origin of the funds
	br
	| - The request for the refund after the payment of the services by the Client.

h3 NO REFUNDS WILL BE OFFERED, FOR ANY REASON, IF THE CLIENT DECIDES TO CANCEL HIS/HER/ITS APPLICATION AFTER THREE CALENDAR DAYS

h2 III. Other Services
p For other services, we will refund to you if we cannot deliver services to you. In case services and information are delivered from us to you by email, the service cannot be refunded.
