p Usted reconoce y acepta que en caso de devolución del dinero a su sistema de pago, la entrega del comprobante sobre la devolución por parte de la Compañía Fintech Finance Consulting LTD es solamente la confirmación de que Fintech Finance Consulting LTD devolvió el dinero al sistema de pago, utilizado durante el momento de la venta inicial, y que Fintech Finance Consulting LTD de ninguna manera podrá controlar el plazo de la devolución real del dinero al balance de su sistema de pago.

p Usted reconoce y acepta también que el proveedor de los servicios de pago y/o el banco emisor concreto, relacionado con su sistema de pago, establecen y regulan de su manera los marcos de tiempo de realización de la devolución y que los plazos de la devolución semejante podrán constituir de cinco (5) días hábiles hasta el ciclo completo de presentación de cuentas o hasta más.

h2 I. Servicios de venta de las compañías offshore

p Al Cliente le devolverán completamente el dinero por la venta de la compañía, excluyendo los gastos de mensajería, siempre que se cumplan las tres siguientes condiciones:

p
	| - Fintech Finance Consulting LTD no puede vender la Compañía para el Cliente
	br
	| - Fintech Finance Consulting LTD recibió todos los documentos necesarios, debidamente cumplimentados por el Cliente, incluyendo la copia del documento vigente que identifica la persona del Cliente y cualesquier otros documentos que Fintech Finance Consulting LTD había solicitado al Cliente, como cuentas de pago de los servicios comunales que no exceden de los tres últimos meses
	br
	| - Requerimiento de devolución después del pago por parte del Cliente del cargo por el registro


h3 LA DEVOLUCIÓN POR CUALQUIER MOTIVO NO PROCEDE, SI EL CLIENTE DECIDIÓ REVOCAR SU SOLICITUD, UNA VEZ EXPIRADOS TRES DÍAS CALENDARIOS

h2 II. Servicios de ayuda para abrir cuentas bancarias

p Cualquier Cliente gozará del derecho a revocar su solicitud para la apertura de la cuenta bancaria en el transcurso de tres (3) días calendarios después de presentarla. Al Cliente le devolverán completamente los cargos de servicio, excluyendo los gastos de mensajería, siempre que se cumplan las tres siguientes condiciones:

p
	| - El Banco con ayuda de Fintech Finance Consulting LTD no puede organizar el encuentro del Cliente con el Banco
	br
	| - Fintech Finance Consulting LTD o el Banco recibieron todos los documentos necesarios, debidamente cumplimentados por el Cliente, incluyendo la copia del documento vigente que identifica la persona del Cliente y cualesquier otros documentos que Fintech Finance Consulting LTD había solicitado al Cliente, como extracto de la tarjeta de crédito, cuentas de pago de los servicios comunales, convenio laboral, certificado de registro u otras pruebas de la procedencia económica de recursos
	br
	| - Requerimiento de devolución después del pago por parte del Cliente del cargo por el servicio

h3 LA DEVOLUCIÓN POR CUALQUIER MOTIVO NO PROCEDE, SI EL CLIENTE DECIDIÓ REVOCAR SU SOLICITUD, UNA VEZ EXPIRADOS TRES DÍAS CALENDARIOS

h2 III. Otros servicios
p En lo que se refiere a otros servicios, efectuaremos la devolución, si no podemos prestarle los servicios. En caso de que los servicios y la información le habían sido enviados por el correo electrónico, la devolución del dinero no procederá. 
