p Вы признаете и соглашаетесь с тем, что в случае возврата денег в вашу платежную систему, выдача квитанции о возврате компанией Fintech Finance Consulting LTD является лишь подтверждением того, что Fintech Finance Consulting LTD возвратила средства платежной системе, использованной в момент первоначальной продажи, и что Fintech Finance Consulting LTD никак не может контролировать срок фактического возврата на баланс вашей платежной системы.

p Вы также признаете и соглашаетесь с тем, что поставщик платежных услуг и/или конкретный банк-эмитент, связанный с вашей платежной системой, сами устанавливают и регулируют временные рамки осуществления возврата, и что сроки такого возврата могут составлять от пяти (5) рабочих дней до полного цикла выставления счетов или даже дольше.

h2 I. Услуги по  продаже оффшорных компаний

p Клиент получит полный возврат денег за продажу компании за вычетом курьерских расходов, если выполнены следующие три условия:

p
	| - Fintech Finance Consulting LTD не может продать Компанию для Клиента
	br
	| - Fintech Finance Consulting LTD получила все необходимые документы, должным образом заполненные Клиентом, в том числе копию действительного документа, удостоверяющего личность Клиента и любые другие документы, которые Fintech Finance Consulting LTD запросила у Клиента, такие как счет за коммунальные услуги не старше трех месяцев.
	br
	| - Требование о возврате после уплаты Клиентом сбора за регистрацию.

p
	h3 ВОЗВРАТ ПО ЛЮБОЙ ПРИЧИНЕ НЕ ОСУЩЕСТВЛЯЕТСЯ, ЕСЛИ КЛИЕНТ РЕШИЛ ОТОЗВАТЬ СВОЮ ЗАЯВКУ ПО ИСТЕЧЕНИИ ТРЕХ КАЛЕНДАРНЫХ ДНЕЙ

h2 Услуги по содействию в открытии банковских счетов

p Любой Клиент вправе принять решение отозвать свою заявку в течение трех (3) календарных дней после подачи заявки на открытие банковского счета. Клиент получит полный возврат сервисных сборов за вычетом курьерских расходов, если выполнены следующие три условия:

p
	| - Банк с помощью Fintech Finance Consulting LTD не может организовать встречу Клиента и Банка
	br
	| - Fintech Finance Consulting LTD или Банк получили все необходимые документы, должным образом заполненные Клиентом, в том числе копию действительного документа, удостоверяющего личность Клиента,и любые другие документы, которые Fintech Finance Consulting LTD запросила у Клиента, такие как выписку по кредитной карте, счета за коммунальные услуги, трудовой договор, свидетельство о регистрации или другие доказательства экономического происхождения средств
	br
	| - Требование о возврате после уплаты Клиентом сервисного сбора

p
	h3 ВОЗВРАТ ПО ЛЮБОЙ ПРИЧИНЕ НЕ ОСУЩЕСТВЛЯЕТСЯ, ЕСЛИ КЛИЕНТ РЕШИЛ ОТОЗВАТЬ СВОЮ ЗАЯВКУ ПО ИСТЕЧЕНИИ ТРЕХ КАЛЕНДАРНЫХ ДНЕЙ

h2 III.Прочие услуги
p Что касается прочих услуг, мы осуществим возврат, если не можем доставить вам услуги. В случае, если услуги и информация доставлены нам вами по электронной почте, возврат услуг не может быть осуществлен.
