p Вы признаете и соглашаетесь с тем, что в случае возврата денег в вашу платежную систему, выдача квитанции о возврате компанией Bizstars s.r.o. является лишь подтверждением того, что Bizstars s.r.o. возвратила средства платежной системе, использованной в момент первоначальной продажи, и что Bizstars s.r.o. никак не может контролировать срок фактического возврата на баланс вашей платежной системы.

p Вы также признаете и соглашаетесь с тем, что поставщик платежных услуг и/или конкретный банк-эмитент, связанный с вашей платежной системой, сами устанавливают и регулируют временные рамки осуществления возврата, и что сроки такого возврата могут составлять от пяти (5) рабочих дней до полного цикла выставления счетов или даже дольше.

h2 Услуги по продаже готовых компаний

p Клиент получит полный возврат денег за продажу компании за вычетом курьерских расходов, если выполнены следующие три условия:

ol
	li Bizstars s.r.o. не может продать Компанию для Клиента

	li Bizstars s.r.o. получила все необходимые документы,такие как(но не ограничиваясь ими)
		ul
			li Удостоверение личности(нотариально заверенная и апостилированная копия)

			li Счет за коммунальные услуги не старше трех месяцев(нотариально заверенная и апостилированная копия)

	li Требование о возврате после уплаты Клиентом сбора за регистрацию.

h3 ВОЗВРАТ ПО ЛЮБОЙ ПРИЧИНЕ НЕ ОСУЩЕСТВЛЯЕТСЯ, ЕСЛИ КЛИЕНТ РЕШИЛ ОТОЗВАТЬ СВОЮ ЗАЯВКУ ПО ИСТЕЧЕНИИ ТРЕХ КАЛЕНДАРНЫХ ДНЕЙ

h2 Услуги по содействию в открытии банковских счетов

p Любой Клиент вправе принять решение отозвать свою заявку в течение трех (3) календарных дней после подачи заявки на открытие банковского счета. Клиент получит полный возврат сервисных сборов за вычетом курьерских расходов, если выполнены следующие три условия:
ol
	li Банк с помощью Bizstars s.r.o. не может организовать встречу Клиента и Банка или же Bizstars s.r.o. не может оказать услугу дистанционного открытия счета в Чехии или Польше для клиента

	li Bizstars s.r.o. или Банк получили все необходимые документы, такие как(но не ограничиваясь ими)
		ul
			li Удостоверение личности(нотариально заверенная и апостилированная копия)

			li Счет за коммунальные услуги не старше трех месяцев(нотариально заверенная и апостилированная копия)

	li Требование о возврате после уплаты Клиентом сервисного сбора

h3 ВОЗВРАТ ПО ЛЮБОЙ ПРИЧИНЕ НЕ ОСУЩЕСТВЛЯЕТСЯ, ЕСЛИ КЛИЕНТ РЕШИЛ ОТОЗВАТЬ СВОЮ ЗАЯВКУ ПО ИСТЕЧЕНИИ ТРЕХ КАЛЕНДАРНЫХ ДНЕЙ

h2 Прочие услуги

p Что касается прочих услуг, мы осуществим возврат, если не можем предоставить вам услуги.
