.text-page.long
	.text-page__section
		h3.title-text.long
			| Fintech Finance bietet Dienste zur Eröffnung eines merchant-accounts, der für Ihr Online-Business erforderlich ist!
		p
			| Unsere Bedingungen sind für jede Businessbranche attraktiv!
			br
			| Wir garantieren Diskretion und persönliche Sicherheit jedem Kunden!
			br
			| Einzelhändler können das Konto benutzen und eine Kommission in Höhe von 2% des Umsatzes wie auch eine Einlageversicherung ab 5% zahlen. Zudem eröffnen wir einen merchant-account bei Finanzinstituten mit einer Kommission ab 0,5% des Umsatzes und ohne Einlageversicherung. Alle Zahlungen können auf Ihrer Webseite durch Ihre Käufer oder Kunden abgewickelt werden. Es ist einfach und bequem!
	.clearfix
		.img-right.position2
			img(src='/img/img_text_2.png?ver1.0', alt='')
		//- h2 Wer braucht einen Merchant-Account
		//- p.big-text Folgende Geschäftsbereiche können unsere Services in Anspruch nehmen:
		//- ul.list-text.top
		//- 	li.list-text__item Online-Handel mit Waren und Dienstleistungen;
		//- 	li.list-text__item Adult und Dating;
		//- 	li.list-text__item Softwarehandel und begleitende Applikationen;
		//- 	li.list-text__item Telemarketing;
		//- 	li.list-text__item Forex und binäre Optionen;
		//- 	li.list-text__item Glücksspiele;
		//- 	li.list-text__item sale of pharmaceutical products
		//- 	li.list-text__item MLM
		//- 	li.list-text__item Cent-Auktionen;
		//- 	li.list-text__item Reisebüros.

		.text-page__section.opt2
			h2
				| Umfassende Dienstleistungen
				br
				| von Fintech Finance
			p.text-top
				| Wir bieten allen Online-Unternehmern, die unsere Dienste in Anspruch nehmen, inklusive Eröffnung eines merchant-accounts,
				br
				| umfassende Serviceleistungen einschließlich:
			ul.number-list
				li.number-list__item Auswahl einer Jurisdiktion und Gründung eines Unternehmens.
				li.number-list__item
					| Erstellung einer Homepage wie auch Eröffnung eines Merchant-Accounts und Behebung aller Mängel auf Anforderung der Bank.
				li.number-list__item Eröffnung eines Firmenkontos bei einer loyalen Partnerbank.
				li.number-list__item Antragstellung bei einem Zahlungsanbieter.
				li.number-list__item Eröffnung eines Merchant-Accounts.
