
.text-page.long
	.text-page__section
		h3.title-text.long
			| Fintech Finance offers services for opening a merchant account – an important component of any e-business!
		p
			| Our terms and conditions are beneficial for any business!
			br
			| We guarantee the confidentiality and personal security to everyone!
			br
			| Retailers can use the account and pay a fee of 2% and a damage deposit of 5% from turnover. We can also open a merchant account for payment institutions with the fee of 0.5% from turnover and no security deposit. You can accept payments on your website from customers or clients. Easy and convenient!


	.clearfix
		.img-right.position2
			img(src='/img/img_text_2.png?ver1.0', alt='')
		//- h2 Who needs a merchant account
		//- p.big-text We enable merchant accounts for the following types of business:
		//- ul.list-text.top
		//- 	li.list-text__item online trading real goods and services
		//- 	li.list-text__item adult and Dating
		//- 	li.list-text__item trading software and related apps
		//- 	li.list-text__item telemarketing
		//- 	li.list-text__item forex and binary options
		//- 	li.list-text__item gambling
		//- 	li.list-text__item sale of pharmaceutical products
		//- 	li.list-text__item MLM
		//- 	li.list-text__item penny Auctions
		//- 	li.list-text__item travel agencies


		.text-page__section.opt2
			h2
				| Fintech Finance
				br
				| comprehensive services
			p.text-top
				| All online entrepreneurs who apply for our services, including opening a merchant account, are offered comprehensive services,
				br
				| which include:
			ul.number-list
				li.number-list__item Choice of jurisdiction and establishment of the company
				li.number-list__item Development of the company's website considering the introduction of a merchant account  and removal of disadvantages according to the bank requirements
				li.number-list__item Opening a corporate account in the loyal partner bank
				li.number-list__item Applying to a processing company
				li.number-list__item Opening a merchant account
