.text-page.long
	.text-page__section
		h3.title-text.long
			| Fintech Finance предлагает услуги по открытию merchant account — важной составляющей любого электронного бизнеса!
		p
			| Мы гарантируем конфиденциальность и личную безопасность каждому!
			br
			| Розничные торговцы могут пользоваться счетом и платить комиссию с оборота в размере 2% и страховой депозит от 5%. Также мы откроем merchant account для платежных институтов с комиссией с оборота от 0,5% и без страхового депозита. Вы можете принимать платежи на вашем сайте от покупателей или клиентов. Просто и удобно!
	.clearfix
		.img-right.position2
			img(src='/img/img_text_2.png?ver1.0', alt='')
		//- h2 Для кого подходит merchant account
		//- p.big-text Мы подключаем merchant account следующим видам бизнеса:
		//- ul.list-text.top
		//- 	li.list-text__item Интернет-торговле реальными товарами и услугами
		//- 	li.list-text__item Adult and Dating
		//- 	li.list-text__item Торговле программным обеспечением и сопутствующими приложениями
		//- 	li.list-text__item Телемаркетингу
		//- 	li.list-text__item Форексу и бинарным опционам
		//- 	li.list-text__item Гемблингу
		//- 	li.list-text__item Торговле фармацевтическими продуктами
		//- 	li.list-text__item MLM
		//- 	li.list-text__item Penny Auctions
		//- 	li.list-text__item Туристическим агентствам


		.text-page__section.opt2
			h2
				| Комплексное обслуживание
				br
				| Fintech Finance
			p.text-top
				| Всем интернет-предпринимателям, которые обращаются к нам за услугами, в том числе для открытия merchant account, предлагается комплексное обслуживание,
				br
				| которое заключается в следующем:
			ul.number-list
				li.number-list__item Выбор юрисдикции и создание компании
				li.number-list__item
					| Разработка веб-сайта компании с учетом внедрения merchant account и устранением недостатков согласно требованиям банка
				li.number-list__item Открытие расчетного счета компании в лояльном банке-партнере
				li.number-list__item Подача заявки в процессинговую компанию
				li.number-list__item Открытие мерчант-аккаунта
