//- index.pug
extends ../../layout.pug

block title
	title #{__('Our partners')} | Fintech Finance

block content
	.content
		.wrapper
			h1.big #{__('Our partners')}

			ul.list-partners
				li.list-partners__item
					img(src='/img/logo_partners_retina.png', alt='')
