<mjml>
	<mj-head>
		{{> head }}
		<mj-title>Изменить пароль</mj-title>
	</mj-head>
	<mj-body>
		<mj-container>
			<mj-section>
				<mj-column>
					<mj-image align="left" width="268" src="{{publicUrl}}/img/logo@2x.png" mj-class="logo"></mj-image>
					<mj-text mj-class="h1">
						Изменить пароль
					</mj-text>
					<mj-text  mj-class="bold">Этот email был отправлен потому что с Вашей учетной записи был запрос на изменение пароля.</mj-text>
					<mj-text  mj-class="text">Для начал изменения пароля нажмите на ссылку. Если ссылка не откроется, скопируйте ее в адресную строку Вашего браузера.</mj-text>

					<mj-link href="{{ changePasswordLink }}" mj-class="link link-pad">{{ changePasswordLink }}</mj-link>

					{{> footer }}
				</mj-column>
			</mj-section>
		</mj-container>
	</mj-body>
</mjml>
