ul.list-sections-faq.how-to

	li.list-sections-faq__item.color3
		a.list-sections-faq__link(href='#') Kauf der Offshore-Gesellschaften
		ul.list-faq
			li.list-faq__item
				a.list-faq__link(href='#') Falls Sie sich angemeldet haben
				.list-faq__drop

					.image
						img(src="/img/for_help/1/1_1.png")
						.caption Klicken Sie auf „eine Vorratsgesellschaft wählen“

					.image
						img(src="/img/for_help/1/1_2.png")
						.caption Wählen Sie im geöffneten Fenster eine oder mehrere Gesellschaften

					.image.last
						img(src="/img/for_help/1/1_3.png")
						.caption Klicken Sie auf  „zum Warenkorb hinzufügen“


					.image
						img(src="/img/for_help/1/1_4.png")
						.caption Gehen Sie zum Warenkorb, indem Sie auf das Warenkorbsymbol in der rechten oberen Ecke der Seite klicken.

					.image
						img(src="/img/for_help/1/1_5.png")
						.caption Klicken Sie auf „Kaufabwicklung“, um zur Bezahlung zu gelangen

					.image.last
						img(src="/img/for_help/1/1_6.png")
						.caption Füllen Sie alle Felder aus und klicken Sie auf „Bezahlen“

					.row


			li.list-faq__item
				a.list-faq__link(href='#') Falls Sie sich nicht angemeldet haben
				.list-faq__drop

					.image
						img(src="/img/for_help/1/1_1.png")
						.caption Klicken Sie auf „eine Vorratsgesellschaft wählen“

					.image
						img(src="/img/for_help/1/1_2.png")
						.caption Wählen Sie im geöffneten Fenster eine oder mehrere Gesellschaften

					.image.last
						img(src="/img/for_help/1/1_3.png")
						.caption Klicken Sie auf  „zum Warenkorb hinzufügen“

					.image
						img(src="/img/for_help/1/1_4_2.png")
						.caption Gehen Sie zum Warenkorb, indem Sie auf das Warenkorbsymbol in der rechten oberen Ecke der Seite klicken.

					.image
						img(src="/img/for_help/1/1_5_2.png")
						.caption Klicken Sie auf „Kaufen mit Einloggen“, geben Sie Ihren Nutzernamen und Kennwort ein.

					.image.last
						img(src="/img/for_help/1/1_6_2.png")
						.caption Falls Sie sich früher angemeldet haben – geben Sie Ihren Nutzernamen und das Kennwort ein und klicken Sie auf „Einloggen“. Falls Sie keine Nutzernamen und Kennwort haben, melden Sie sich an und setzen sie ihre Einkäufe fort.


					.image
						img(src="/img/for_help/1/1_7.png")
						.caption Füllen Sie alle Felder aus und klicken Sie auf „Bezahlen“

					.row



			li.list-faq__item
				a.list-faq__link(href='#') Sofort kaufen ohne Anmeldung
				.list-faq__drop

					.image
						img(src="/img/for_help/1/1_1.png")
						.caption Klicken Sie auf „eine Vorratsgesellschaft wählen“

					.image
						img(src="/img/for_help/1/1_2.png")
						.caption Wählen Sie im geöffneten Fenster eine oder mehrere Gesellschaften

					.image.last
						img(src="/img/for_help/1/1_3.png")
						.caption Klicken Sie auf  „zum Warenkorb hinzufügen“


					.image
						img(src="/img/for_help/1/1_4_2.png")
						.caption Gehen Sie zum Warenkorb, indem Sie auf das Warenkorbsymbol in der rechten oberen Ecke der Seite klicken.


					.image
						img(src="/img/for_help/1/1_5_3.png")
						.caption Klicken Sie auf „Sofort kaufen“, um auf der angezeigten Seite Daten auszufüllen.


					.image
						img(src="/img/for_help/1/1_6.png")
						.caption Füllen Sie alle Felder aus und klicken Sie auf „Bezahlen“

					.row



	li.list-sections-faq__item.color4
		a.list-sections-faq__link(href='#') Bankkonto kaufen
		ul.list-faq
			li.list-faq__item
				a.list-faq__link(href='#') Falls Sie sich angemeldet haben
				.list-faq__drop

					.image
						img(src="/img/for_help/2/2_1.png")
						.caption Wählen Sie eine Bank und klicken Sie auf  „zum Warenkorb hinzufügen“


					.image
						img(src="/img/for_help/2/2_2.png")
						.caption Gehen Sie zum Warenkorb, indem Sie auf das Warenkorbsymbol in der rechten oberen Ecke der Seite klicken.

					.image.last
						img(src="/img/for_help/2/2_3.png")
						.caption Klicken Sie auf „Kaufabwicklung“, um zur Bezahlung zu gelangen

					.image
						img(src="/img/for_help/2/2_4.png")
						.caption Füllen Sie alle Felder aus und klicken Sie auf „Bezahlen“

					.row



			li.list-faq__item
				a.list-faq__link(href='#') Falls Sie sich nicht angemeldet haben
				.list-faq__drop

					.image
						img(src="/img/for_help/2/2_1.png")
						.caption Wählen Sie eine Bank und klicken Sie auf  „zum Warenkorb hinzufügen“

					.image
						img(src="/img/for_help/2/2_2_2.png")
						.caption Gehen Sie zum Warenkorb, indem Sie auf das Warenkorbsymbol in der rechten oberen Ecke der Seite klicken.

					.image.last
						img(src="/img/for_help/2/2_3_2.png")
						.caption Klicken Sie auf „Kaufen mit Einloggen“, geben Sie Ihren Nutzernamen und Kennwort ein.

					.image
						img(src="/img/for_help/2/2_4_2.png")
						.caption Falls Sie sich früher angemeldet haben – geben Sie Ihren Nutzernamen und das Kennwort ein und klicken Sie auf „Einloggen“. Falls Sie keine Nutzernamen und Kennwort haben, melden Sie sich an und setzen sie ihre Einkäufe fort.


					.image
						img(src="/img/for_help/2/2_5.png")
						.caption Füllen Sie alle Felder aus und klicken Sie auf „Bezahlen“

					.row



			li.list-faq__item
				a.list-faq__link(href='#') Sofort kaufen ohne Anmeldung
				.list-faq__drop

					.image
						img(src="/img/for_help/2/2_1.png")
						.caption Wählen Sie eine Bank und klicken Sie auf  „zum Warenkorb hinzufügen“

					.image
						img(src="/img/for_help/2/2_2.png")
						.caption Gehen Sie zum Warenkorb, indem Sie auf das Warenkorbsymbol in der rechten oberen Ecke der Seite klicken


					.image.last
						img(src="/img/for_help/2/2_3_3.png")
						.caption Klicken Sie auf „Sofort kaufen“, um auf der angezeigten Seite Daten auszufüllen.


					.image
						img(src="/img/for_help/2/2_4.png")
						.caption Füllen Sie alle Felder aus und klicken Sie auf „Bezahlen“

					.row







	li.list-sections-faq__item.color5
		a.list-sections-faq__link(href='#') Sonderangebote kaufen
		ul.list-faq
			li.list-faq__item
				a.list-faq__link(href='#') Falls Sie sich angemeldet haben
				.list-faq__drop

					.image
						img(src="/img/for_help/3/3_1.png")
						.caption Klicken Sie auf „Bank und Gesellschaft wählen“

					.image
						img(src="/img/for_help/3/3_2.png")
						.caption Wählen Sie im geöffneten Fenster eine Bank und eine Gesellschaft

					.image.last
						img(src="/img/for_help/3/3_3.png")
						.caption Klicken Sie auf  „zum Warenkorb hinzufügen“



					.image
						img(src="/img/for_help/1/1_4.png")
						.caption Gehen Sie zum Warenkorb, indem Sie auf das Warenkorbsymbol in der rechten oberen Ecke der Seite klicken.

					.image
						img(src="/img/for_help/1/1_5.png")
						.caption Klicken Sie auf „Kaufabwicklung“, um zur Bezahlung zu gelangen


					.image.last
						img(src="/img/for_help/1/1_6.png")
						.caption Füllen Sie alle Felder aus und klicken Sie auf „Bezahlen“

					.row


			li.list-faq__item
				a.list-faq__link(href='#') Falls Sie sich nicht angemeldet haben
				.list-faq__drop

					.image
						img(src="/img/for_help/3/3_1.png")
						.caption Klicken Sie auf „Bank und Gesellschaft wählen“

					.image
						img(src="/img/for_help/3/3_2.png")
						.caption Wählen Sie im geöffneten Fenster eine Bank und eine Gesellschaft

					.image.last
						img(src="/img/for_help/3/3_3.png")
						.caption Klicken Sie auf  „zum Warenkorb hinzufügen“

					.image
						img(src="/img/for_help/1/1_4_2.png")
						.caption Gehen Sie zum Warenkorb, indem Sie auf das Warenkorbsymbol in der rechten oberen Ecke der Seite klicken.

					.image
						img(src="/img/for_help/1/1_5_2.png")
						.caption Klicken Sie auf „Kaufen mit Einloggen“, geben Sie Ihren Nutzernamen und Kennwort ein.

					.image.last
						img(src="/img/for_help/1/1_6_2.png")
						.caption Falls Sie sich früher angemeldet haben – geben Sie Ihren Nutzernamen und das Kennwort ein und klicken Sie auf „Einloggen“. Falls Sie keine Nutzernamen und Kennwort haben, melden Sie sich an und setzen sie ihre Einkäufe fort.


					.image
						img(src="/img/for_help/1/1_7.png")
						.caption Füllen Sie alle Felder aus und klicken Sie auf „Bezahlen“

					.row


			li.list-faq__item
				a.list-faq__link(href='#') Sofort kaufen ohne Anmeldung
				.list-faq__drop

					.image
						img(src="/img/for_help/3/3_1.png")
						.caption Klicken Sie auf „Bank und Gesellschaft wählen“

					.image
						img(src="/img/for_help/3/3_2.png")
						.caption Wählen Sie im geöffneten Fenster eine Bank und eine Gesellschaft

					.image.last
						img(src="/img/for_help/3/3_3.png")
						.caption Klicken Sie auf  „zum Warenkorb hinzufügen“

					.image
						img(src="/img/for_help/1/1_4_2.png")
						.caption Gehen Sie zum Warenkorb, indem Sie auf das Warenkorbsymbol in der rechten oberen Ecke der Seite klicken.


					.image
						img(src="/img/for_help/1/1_5_3.png")
						.caption Klicken Sie auf „Sofort kaufen“, um auf der angezeigten Seite Daten auszufüllen.


					.image
						img(src="/img/for_help/1/1_6.png")
						.caption Füllen Sie alle Felder aus und klicken Sie auf „Bezahlen“

					.row
