ul.list-sections-faq.how-to

	li.list-sections-faq__item.color3
		a.list-sections-faq__link(href='#') urchase of ready-made companies
		ul.list-faq
			li.list-faq__item
				a.list-faq__link(href='#') If you have been registered and logged in
				.list-faq__drop

					.image
						img(src="/img/for_help/1/1_1.png")
						.caption Click the "Choose ready-made company" button

					.image
						img(src="/img/for_help/1/1_2.png")
						.caption In the window that opens, select one or more companies

					.image.last
						img(src="/img/for_help/1/1_3.png")
						.caption Click the "Add to cart" button


					.image
						img(src="/img/for_help/1/1_4.png")
						.caption Go to your cart by clicking the cart icon in the top right corner of the webpage

					.image
						img(src="/img/for_help/1/1_5.png")
						.caption Click the"submit" button and go to the payment page

					.image.last
						img(src="/img/for_help/1/1_6.png")
						.caption Fill in all fields and click "Pay"

					.row


			li.list-faq__item
				a.list-faq__link(href='#') If you have not been registered, or not logged in
				.list-faq__drop


					.image
						img(src="/img/for_help/1/1_1.png")
						.caption Click the "Choose ready-made company" button

					.image
						img(src="/img/for_help/1/1_2.png")
						.caption In the window that opens, select one or more companies

					.image.last
						img(src="/img/for_help/1/1_3.png")
						.caption Click the "Add to cart" button

					.image
						img(src="/img/for_help/1/1_4_2.png")
						.caption Go to your cart by clicking the cart icon in the top right corner of the webpage

					.image
						img(src="/img/for_help/1/1_5_2.png")
						.caption Click the "Buy with authorization" button and enter your login and password

					.image.last
						img(src="/img/for_help/1/1_6_2.png")
						.caption If you have been registered before, enter your username and password, and click "Login". If you do not have a username and a password, please register and continue shopping


					.image
						img(src="/img/for_help/1/1_7.png")
						.caption Fill in all fields and click "Pay"

					.row



			li.list-faq__item
				a.list-faq__link(href='#') Buying quick without authorization
				.list-faq__drop

					.image
						img(src="/img/for_help/1/1_1.png")
						.caption Click the "Choose ready-made company" button

					.image
						img(src="/img/for_help/1/1_2.png")
						.caption In the window that opens, select one or more companies

					.image.last
						img(src="/img/for_help/1/1_3.png")
						.caption Click the "Add to cart" button


					.image
						img(src="/img/for_help/1/1_4_2.png")
						.caption Go to your cart by clicking the cart icon in the top right corner of the webpage


					.image
						img(src="/img/for_help/1/1_5_3.png")
						.caption Click the "Buying quick" button to go to the data webpage


					.image
						img(src="/img/for_help/1/1_6.png")
						.caption Fill in all fields and click "Pay"

					.row



	li.list-sections-faq__item.color4
		a.list-sections-faq__link(href='#') Buying a bank account
		ul.list-faq
			li.list-faq__item
				a.list-faq__link(href='#') If you have been registered and logged in
				.list-faq__drop

					.image
						img(src="/img/for_help/2/2_1.png")
						.caption Select the bank and click the "Add to cart" button


					.image
						img(src="/img/for_help/2/2_2.png")
						.caption Go to your cart by clicking the cart icon in the top right corner of the webpage

					.image.last
						img(src="/img/for_help/2/2_3.png")
						.caption Click the"submit" button and go to the payment page

					.image
						img(src="/img/for_help/2/2_4.png")
						.caption Fill in all fields and click "Pay"

					.row



			li.list-faq__item
				a.list-faq__link(href='#') If you have not been registered, and not logged in
				.list-faq__drop

					.image
						img(src="/img/for_help/2/2_1.png")
						.caption Select the bank and click the "Add to cart" button

					.image
						img(src="/img/for_help/2/2_2_2.png")
						.caption Go to your cart by clicking the cart icon in the top right corner of the webpage

					.image.last
						img(src="/img/for_help/2/2_3_2.png")
						.caption Click the "Buy with authorization" button and enter your login and password

					.image
						img(src="/img/for_help/2/2_4_2.png")
						.caption If you have been registered before, enter your username and password, and click "Login". If you do not have a username and a password, please register and continue shopping


					.image
						img(src="/img/for_help/2/2_5.png")
						.caption Fill in all fields and click "Pay"

					.row



			li.list-faq__item
				a.list-faq__link(href='#') Buying quick without authorization
				.list-faq__drop

					.image
						img(src="/img/for_help/2/2_1.png")
						.caption Select the bank and click the "Add to cart" button

					.image
						img(src="/img/for_help/2/2_2.png")
						.caption Go to your cart by clicking the cart icon in the top right corner of the webpage


					.image.last
						img(src="/img/for_help/2/2_3_3.png")
						.caption Click the "Buying quick" button to go to the data webpage


					.image
						img(src="/img/for_help/2/2_4.png")
						.caption Fill in all fields and click "Pay"

					.row







	li.list-sections-faq__item.color5
		a.list-sections-faq__link(href='#') Buying special offers
		ul.list-faq
			li.list-faq__item
				a.list-faq__link(href='#') If you have been registered and logged in
				.list-faq__drop

					.image
						img(src="/img/for_help/3/3_1.png")
						.caption Click the "Choose Bank and Company" button

					.image
						img(src="/img/for_help/3/3_2.png")
						.caption In the window that opens, select the bank and the company

					.image.last
						img(src="/img/for_help/3/3_3.png")
						.caption Click the "Add to cart" button

					.image
						img(src="/img/for_help/1/1_4.png")
						.caption Go to your cart by clicking the cart icon in the top right corner of the webpage

					.image
						img(src="/img/for_help/1/1_5.png")
						.caption Click the"submit" button and go to the payment page


					.image.last
						img(src="/img/for_help/1/1_6.png")
						.caption Fill in all fields and click "Pay"

					.row


			li.list-faq__item
				a.list-faq__link(href='#') If you have not been registered, or not logged in
				.list-faq__drop

					.image
						img(src="/img/for_help/3/3_1.png")
						.caption Click the "Choose Bank and Company" button

					.image
						img(src="/img/for_help/3/3_2.png")
						.caption In the window that opens, select the bank and the company

					.image.last
						img(src="/img/for_help/3/3_3.png")
						.caption Click the "Add to cart" button

					.image
						img(src="/img/for_help/1/1_4_2.png")
						.caption Go to your cart by clicking the cart icon in the top right corner of the webpage

					.image
						img(src="/img/for_help/1/1_5_2.png")
						.caption Click the "Buy with authorization" button and enter your login and password

					.image.last
						img(src="/img/for_help/1/1_6_2.png")
						.caption If you have been registered before, enter your username and password, and click "Login". If you do not have a username and a password, please register and continue shopping


					.image
						img(src="/img/for_help/1/1_7.png")
						.caption Fill in all fields and click "Pay"

					.row


			li.list-faq__item
				a.list-faq__link(href='#') Buying quick without authorization
				.list-faq__drop

					.image
						img(src="/img/for_help/3/3_1.png")
						.caption Click the "Choose Bank and Company" button

					.image
						img(src="/img/for_help/3/3_2.png")
						.caption In the window that opens, select the bank and the company

					.image.last
						img(src="/img/for_help/3/3_3.png")
						.caption Click the "Add to cart" button

					.image
						img(src="/img/for_help/1/1_4_2.png")
						.caption Go to your cart by clicking the cart icon in the top right corner of the webpage


					.image
						img(src="/img/for_help/1/1_5_3.png")
						.caption Click the "Buying quick" button to go to the data webpage


					.image
						img(src="/img/for_help/1/1_6.png")
						.caption Fill in all fields and click "Pay"

					.row
