ul.list-sections-faq.how-to

	li.list-sections-faq__item.color3
		a.list-sections-faq__link(href='#') Compra de compañías previamente constituidas
		ul.list-faq
			li.list-faq__item
				a.list-faq__link(href='#') Si está registrado y ha pasado la autorización
				.list-faq__drop

					.image
						img(src="/img/for_help/1/1_1.png")
						.caption Pulse el botón "Seleccionar la compañía previamente constituida"

					.image
						img(src="/img/for_help/1/1_2.png")
						.caption En la ventana que se abrió seleccione una o varias compañías

					.image.last
						img(src="/img/for_help/1/1_3.png")
						.caption Pulse el botón "Añadir a la cesta"


					.image
						img(src="/img/for_help/1/1_4.png")
						.caption Pase a la cesta al hacer clic en la imagen de la cesta en el ángulo derecho superior de la página

					.image
						img(src="/img/for_help/1/1_5.png")
						.caption Pulse el botón "Formalizar" para pasar a la página del pago

					.image.last
						img(src="/img/for_help/1/1_6.png")
						.caption Cumplimente todos los campos y pulse el botón "Pagar"

					.row


			li.list-faq__item
				a.list-faq__link(href='#') Si no está registrado o no ha pasado la autorización
				.list-faq__drop


					.image
						img(src="/img/for_help/1/1_1.png")
						.caption Pulse el botón "Seleccionar la compañía previamente constituida"

					.image
						img(src="/img/for_help/1/1_2.png")
						.caption En la ventana que se abrió seleccione una o varias compañías

					.image.last
						img(src="/img/for_help/1/1_3.png")
						.caption Pulse el botón "Añadir a la cesta"

					.image
						img(src="/img/for_help/1/1_4_2.png")
						.caption Pase a la cesta al hacer clic en la imagen de la cesta en el ángulo derecho superior de la página

					.image
						img(src="/img/for_help/1/1_5_2.png")
						.caption Pulse el botón "Comprar con autorización" para introducir el nombre del usuario y la contraseña

					.image.last
						img(src="/img/for_help/1/1_6_2.png")
						.caption Si ha sido registrado antes: introduzca su nombre del usuario y la contraseña y pulse "Entrar". Si no nombre de usuario ni contraseña, regístrese y continúe comprando


					.image
						img(src="/img/for_help/1/1_7.png")
						.caption Cumplimente todos los campos y pulse el botón "Pagar"

					.row



			li.list-faq__item
				a.list-faq__link(href='#') Compra rápida sin autorización
				.list-faq__drop

					.image
						img(src="/img/for_help/1/1_1.png")
						.caption Pulse el botón "Seleccionar la compañía previamente constituida"

					.image
						img(src="/img/for_help/1/1_2.png")
						.caption En la ventana que se abrió seleccione una o varias compañías

					.image.last
						img(src="/img/for_help/1/1_3.png")
						.caption Pulse el botón "Añadir a la cesta"


					.image
						img(src="/img/for_help/1/1_4_2.png")
						.caption Pase a la cesta al hacer clic en la imagen de la cesta en el ángulo derecho superior de la página


					.image
						img(src="/img/for_help/1/1_5_3.png")
						.caption Pulse el botón "Compra rápida" para pasar a la página de cumplimentación de datos


					.image
						img(src="/img/for_help/1/1_6.png")
						.caption Cumplimente todos los campos y pulse el botón "Pagar"

					.row



	li.list-sections-faq__item.color4
		a.list-sections-faq__link(href='#') Compra de la cuenta bancaria
		ul.list-faq
			li.list-faq__item
				a.list-faq__link(href='#') Si está registrado y ha pasado la autorización
				.list-faq__drop

					.image
						img(src="/img/for_help/2/2_1.png")
						.caption Seleccione el banco y pulse el botón "Añadir a la cesta"


					.image
						img(src="/img/for_help/2/2_2.png")
						.caption Pase a la cesta al hacer clic en la imagen de la cesta en el ángulo derecho superior de la página

					.image.last
						img(src="/img/for_help/2/2_3.png")
						.caption Pulse el botón "Formalizar" para pasar a la página del pago

					.image
						img(src="/img/for_help/2/2_4.png")
						.caption Cumplimente todos los campos y pulse el botón "Pagar"

					.row



			li.list-faq__item
				a.list-faq__link(href='#') Si no está registrado o no ha pasado la autorización
				.list-faq__drop

					.image
						img(src="/img/for_help/2/2_1.png")
						.caption Seleccione el banco y pulse el botón "Añadir a la cesta"

					.image
						img(src="/img/for_help/2/2_2_2.png")
						.caption Pase a la cesta al hacer clic en la imagen de la cesta en el ángulo derecho superior de la página

					.image.last
						img(src="/img/for_help/2/2_3_2.png")
						.caption Pulse el botón "Comprar con autorización" para introducir el nombre del usuario y la contraseña

					.image
						img(src="/img/for_help/2/2_4_2.png")
						.caption Si ha sido registrado antes: introduzca su nombre del usuario y la contraseña y pulse "Entrar". Si no nombre de usuario ni contraseña, regístrese y continúe comprando


					.image
						img(src="/img/for_help/2/2_5.png")
						.caption Cumplimente todos los campos y pulse el botón "Pagar"

					.row



			li.list-faq__item
				a.list-faq__link(href='#') Compra rápida sin autorización
				.list-faq__drop

					.image
						img(src="/img/for_help/2/2_1.png")
						.caption Seleccione el banco y pulse el botón "Añadir a la cesta"

					.image
						img(src="/img/for_help/2/2_2.png")
						.caption Pase a la cesta al hacer clic en la imagen de la cesta en el ángulo derecho superior de la página


					.image.last
						img(src="/img/for_help/2/2_3_3.png")
						.caption Pulse el botón "Compra rápida" para pasar a la página de cumplimentación de datos


					.image
						img(src="/img/for_help/2/2_4.png")
						.caption Cumplimente todos los campos y pulse el botón "Pagar"

					.row







	li.list-sections-faq__item.color5
		a.list-sections-faq__link(href='#') Compra de ofertas especiales
		ul.list-faq
			li.list-faq__item
				a.list-faq__link(href='#') Si está registrado y ha pasado la autorización
				.list-faq__drop

					.image
						img(src="/img/for_help/3/3_1.png")
						.caption Pulse el botón "Seleccionar el banco y la compañía"

					.image
						img(src="/img/for_help/3/3_2.png")
						.caption En la ventana que se abrió seleccione el banco y la compañía

					.image.last
						img(src="/img/for_help/3/3_3.png")
						.caption Pulse el botón "Añadir a la cesta"

					.image
						img(src="/img/for_help/1/1_4.png")
						.caption Pase a la cesta al hacer clic en la imagen de la cesta en el ángulo derecho superior de la página

					.image
						img(src="/img/for_help/1/1_5.png")
						.caption Pulse el botón "Formalizar" para pasar a la página del pago


					.image.last
						img(src="/img/for_help/1/1_6.png")
						.caption Cumplimente todos los campos y pulse el botón "Pagar"

					.row


			li.list-faq__item
				a.list-faq__link(href='#') Si no está registrado o no ha pasado la autorización
				.list-faq__drop

					.image
						img(src="/img/for_help/3/3_1.png")
						.caption Pulse el botón "Seleccionar el banco y la compañía"

					.image
						img(src="/img/for_help/3/3_2.png")
						.caption En la ventana que se abrió seleccione el banco y la compañía

					.image.last
						img(src="/img/for_help/3/3_3.png")
						.caption Pulse el botón "Añadir a la cesta"

					.image
						img(src="/img/for_help/1/1_4_2.png")
						.caption Pase a la cesta al hacer clic en la imagen de la cesta en el ángulo derecho superior de la página

					.image
						img(src="/img/for_help/1/1_5_2.png")
						.caption Pulse el botón "Comprar con autorización" para introducir el nombre del usuario y la contraseña

					.image.last
						img(src="/img/for_help/1/1_6_2.png")
						.caption Si ha sido registrado antes: introduzca su nombre del usuario y la contraseña y pulse "Entrar". Si no nombre de usuario ni contraseña, regístrese y continúe comprando


					.image
						img(src="/img/for_help/1/1_7.png")
						.caption Cumplimente todos los campos y pulse el botón "Pagar"

					.row


			li.list-faq__item
				a.list-faq__link(href='#') Compra rápida sin autorización
				.list-faq__drop

					.image
						img(src="/img/for_help/3/3_1.png")
						.caption Pulse el botón "Seleccionar el banco y la compañía"

					.image
						img(src="/img/for_help/3/3_2.png")
						.caption En la ventana que se abrió seleccione el banco y la compañía

					.image.last
						img(src="/img/for_help/3/3_3.png")
						.caption Pulse el botón “Añadir a la cesta”

					.image
						img(src="/img/for_help/1/1_4_2.png")
						.caption Pase a la cesta al hacer clic en la imagen de la cesta en el ángulo derecho superior de la página


					.image
						img(src="/img/for_help/1/1_5_3.png")
						.caption Pulse el botón “Compra rápida” para pasar a la página de cumplimentación de datos


					.image
						img(src="/img/for_help/1/1_6.png")
						.caption Cumplimente todos los campos y pulse el botón “Pagar”

					.row
