ul.list-sections-faq.how-to

	li.list-sections-faq__item.color3
		a.list-sections-faq__link(href='#') Покупка офшорных компаний
		ul.list-faq
			li.list-faq__item
				a.list-faq__link(href='#')
					| Если Вы зарегистрированы и прошли авторизацию
				.list-faq__drop

					.image
						img(src="/img/for_help/1/1_1.png")
						.caption Нажмите на кнопку "Выбрать готовую компанию"

					.image
						img(src="/img/for_help/1/1_2.png")
						.caption В открывшемся окне, выберите одну или несколько компаний

					.image.last
						img(src="/img/for_help/1/1_3.png")
						.caption Нажмите на кнопку "Добавить в корзину"


					.image
						img(src="/img/for_help/1/1_4.png")
						.caption Перейдите в корзину, нажав на значок корзины в правом верхнем углу страницы

					.image
						img(src="/img/for_help/1/1_5.png")
						.caption Нажмите на кноку "Оформить", чтобы перейти к странице оплаты

					.image.last
						img(src="/img/for_help/1/1_6.png")
						.caption Заполните все поля и нажмите на кнопку "Оплатить"

					.row


			li.list-faq__item
				a.list-faq__link(href='#')
					| Если Вы не зарегистрированы или не прошли авторизацию
				.list-faq__drop


					.image
						img(src="/img/for_help/1/1_1.png")
						.caption Нажмите на кнопку "Выбрать готовую компанию"

					.image
						img(src="/img/for_help/1/1_2.png")
						.caption В открывшемся окне, выберите одну или несколько компаний

					.image.last
						img(src="/img/for_help/1/1_3.png")
						.caption Нажмите на кнопку "Добавить в корзину"

					.image
						img(src="/img/for_help/1/1_4_2.png")
						.caption Перейдите в корзину, нажав на значок корзины в правом верхнем углу страницы

					.image
						img(src="/img/for_help/1/1_5_2.png")
						.caption Нажмите кнопку "Купить с авторизацией", для ввода логина и пароля

					.image.last
						img(src="/img/for_help/1/1_6_2.png")
						.caption Если Вы были зарегистрированы ранее - введите логин и пароль. Нажмите "Войти". Если у Вас нет логина и пароля, пройдите регистрацию и продолжайте покупки.


					.image
						img(src="/img/for_help/1/1_7.png")
						.caption Заполните все поля и нажмите на кнопку "Оплатить"

					.row



			li.list-faq__item
				a.list-faq__link(href='#')
					| Быстрая покупка без авторизации
				.list-faq__drop

					.image
						img(src="/img/for_help/1/1_1.png")
						.caption Нажмите на кнопку "Выбрать готовую компанию"

					.image
						img(src="/img/for_help/1/1_2.png")
						.caption В открывшемся окне, выберите одну или несколько компаний

					.image.last
						img(src="/img/for_help/1/1_3.png")
						.caption Нажмите на кнопку "Добавить в корзину"


					.image
						img(src="/img/for_help/1/1_4_2.png")
						.caption Перейдите в корзину, нажав на значок корзины в правом верхнем углу страницы


					.image
						img(src="/img/for_help/1/1_5_3.png")
						.caption Нажмите на кнопку "Быстрая покупка", чтобы перейти к странице для заполнения данных


					.image
						img(src="/img/for_help/1/1_6.png")
						.caption Заполните все поля и нажмите на кнопку "Оплатить"

					.row



	li.list-sections-faq__item.color4
		a.list-sections-faq__link(href='#') Покупка банковского счета
		ul.list-faq
			li.list-faq__item
				a.list-faq__link(href='#')
					| Если Вы зарегистрированы и прошли авторизацию
				.list-faq__drop

					.image
						img(src="/img/for_help/2/2_1.png")
						.caption Выберите банк и нажмите кнопку "Добавить в корзину"


					.image
						img(src="/img/for_help/2/2_2.png")
						.caption Перейдите в корзину, нажав на значок корзины в правом верхнем углу страницы

					.image.last
						img(src="/img/for_help/2/2_3.png")
						.caption Нажмите на кноку "Оформить", чтобы перейти к странице оплаты

					.image
						img(src="/img/for_help/2/2_4.png")
						.caption Заполните все поля и нажмите на кнопку "Оплатить"

					.row



			li.list-faq__item
				a.list-faq__link(href='#')
					| Если Вы не зарегистрированы или не прошли авторизацию
				.list-faq__drop

					.image
						img(src="/img/for_help/2/2_1.png")
						.caption Выберите банк и нажмите кнопку "Добавить в корзину"

					.image
						img(src="/img/for_help/2/2_2_2.png")
						.caption Перейдите в корзину, нажав на значок корзины в правом верхнем углу страницы

					.image.last
						img(src="/img/for_help/2/2_3_2.png")
						.caption Нажмите кнопку "Купить с авторизацией", для ввода логина и пароля

					.image
						img(src="/img/for_help/2/2_4_2.png")
						.caption Если Вы были зарегистрированы ранее - введите логин и пароль. Нажмите "Войти". Если у Вас нет логина и пароля, пройдите регистрацию и продолжайте покупки.


					.image
						img(src="/img/for_help/2/2_5.png")
						.caption Заполните все поля и нажмите на кнопку "Оплатить"

					.row



			li.list-faq__item
				a.list-faq__link(href='#')
					| Быстрая покупка без авторизации
				.list-faq__drop

					.image
						img(src="/img/for_help/2/2_1.png")
						.caption Выберите банк и нажмите кнопку "Добавить в корзину"

					.image
						img(src="/img/for_help/2/2_2.png")
						.caption Перейдите в корзину, нажав на значок корзины в правом верхнем углу страницы


					.image.last
						img(src="/img/for_help/2/2_3_3.png")
						.caption Нажмите на кнопку "Быстрая покупка", чтобы перейти к странице для заполнения данных


					.image
						img(src="/img/for_help/2/2_4.png")
						.caption Заполните все поля и нажмите на кнопку "Оплатить"

					.row







	li.list-sections-faq__item.color5
		a.list-sections-faq__link(href='#') Покупка специальных предложений
		ul.list-faq
			li.list-faq__item
				a.list-faq__link(href='#')
					| Если Вы зарегистрированы и прошли авторизацию
				.list-faq__drop

					.image
						img(src="/img/for_help/3/3_1.png")
						.caption Нажмите на кнопку "Выбрать банк и компанию"

					.image
						img(src="/img/for_help/3/3_2.png")
						.caption В открывшемся окне, выберите банк и компанию

					.image.last
						img(src="/img/for_help/3/3_3.png")
						.caption Нажмите кнопку "Добавить в корзину"



					.image
						img(src="/img/for_help/1/1_4.png")
						.caption Перейдите в корзину, нажав на значок корзины  в правом верхнем углу страницы

					.image
						img(src="/img/for_help/1/1_5.png")
						.caption Нажмите "Оформить", чтобы перейти к странице оплаты


					.image.last
						img(src="/img/for_help/1/1_6.png")
						.caption Заполните все поля и нажмите кнопку "Оплатить"

					.row


			li.list-faq__item
				a.list-faq__link(href='#')
					| Если Вы не зарегистрированы или не прошли авторизацию
				.list-faq__drop

					.image
						img(src="/img/for_help/3/3_1.png")
						.caption Нажмите на кнопку "Выбрать банк и компанию"

					.image
						img(src="/img/for_help/3/3_2.png")
						.caption В открывшемся окне, выберите банк и компанию

					.image.last
						img(src="/img/for_help/3/3_3.png")
						.caption Нажмите кнопку "Добавить в корзину"

					.image
						img(src="/img/for_help/1/1_4_2.png")
						.caption Перейдите в корзину, нажав на значок корзины в правом верхнем углу страницы

					.image
						img(src="/img/for_help/1/1_5_2.png")
						.caption Нажмите кнопку "Купить с авторизацией", для ввода логина и пароля

					.image.last
						img(src="/img/for_help/1/1_6_2.png")
						.caption Если Вы были зарегистрированы ранее - введите логин и пароль. Нажмите "Войти". Если у Вас нет логина и пароля, пройдите регистрацию и продолжайте покупки.


					.image
						img(src="/img/for_help/1/1_7.png")
						.caption Заполните все поля и нажмите на кнопку "Оплатить"

					.row


			li.list-faq__item
				a.list-faq__link(href='#')
					| Быстрая покупка без авторизации
				.list-faq__drop

					.image
						img(src="/img/for_help/3/3_1.png")
						.caption Нажмите на кнопку "Выбрать банк и компанию"

					.image
						img(src="/img/for_help/3/3_2.png")
						.caption В открывшемся окне, выберите банк и компанию

					.image.last
						img(src="/img/for_help/3/3_3.png")
						.caption Нажмите кнопку "Добавить в корзину"

					.image
						img(src="/img/for_help/1/1_4_2.png")
						.caption Перейдите в корзину, нажав на значок корзины в правом верхнем углу страницы


					.image
						img(src="/img/for_help/1/1_5_3.png")
						.caption Нажмите на кнопку "Быстрая покупка", чтобы перейти к странице для заполнения данных


					.image
						img(src="/img/for_help/1/1_6.png")
						.caption Заполните все поля и нажмите на кнопку "Оплатить"

					.row
